<template id="facetCommon">
  <div class="digi-facet_common" :class="[{ 'digi-facet_common_full-screen': isMobile && facet.values.length > 7 }, { 'digi-facet_common_dropdown': isMobile && facet.values.length < 7 }]" v-if="facet.values.some(it => it.value > 0)">
    <div class="digi-facet__header" v-if="(!isMobile || facet.values.length <= 7) && facet.dataType !== 'BOOLEAN'" @click="(isMobile && facet.values.length < 7) && digiCustom.mobileCommonToggle($event)">
      <!-- There could be conditional logic for appropriate names for some facets -->
      <div class="digi-facet__title">
        <span class="digi-facet__title__name" v-if="(facet.name === 'brands')">Производитель</span>
        <span class="digi-facet__title__name" v-else="">{{ digiCustom.setFacetName(facet.name, facet.unit) }}</span>
        <span class="digi-facet__selected" v-if="hasFilter && isMobile"></span>

        <div class="digi-facet__toggle" v-if="isMobile && facet.values.length < 7">
          <svg width="11" height="6" viewBox="0 0 11 6" xmlns="http://www.w3.org/2000/svg" fill="#86868D" class="digi-facet__toggle__icon">
            <use xlink:href="#chevron-bottom"></use>
          </svg>
        </div>
      </div>

      <button type="button" class="digi-facet__clear" @click="$emit('clear', facet.name)" v-if="hasFilter && !isMobile">
        Очистить
      </button>
    </div>

    <div class="digi-facet__header digi-facet__header-boolean digi-facet__header-boolean-mobile" v-if="facet.values.length <= 7 && isMobile && facet.dataType === 'BOOLEAN'" @click="(isMobile && facet.values.length < 7) && digiCustom.mobileCommonToggle($event)">
      <label class="digi-facet-option digi-facet__boolean__toggle" :class="{ 'digi-facet-option_disabled': facet.values[0].disabled }" v-show="(!filter || facet.values[0].name.toLowerCase().indexOf(filter.toLowerCase()) !== -1) && (facet.values[0].value)">
        <span class="digi-facet__title__name">{{ digiCustom.setFacetName(facet.name, facet.unit) }}</span>
        <span class="digi-facet__selected" v-if="hasFilter && isMobile"></span>
        <input type="checkbox" class="digi-facet-option__checkbox" :checked="isActive(facet.values[0].id)" @change="handleChange($event, facet.values[0])">

        <span class="digi-facet-option__checkmark"></span>
        <span class="digi-facet-option__amount">{{ facet.values[0].value }}</span>
      </label>
    </div>

    <div class="digi-facet__header digi-facet__header-boolean digi-facet__header-boolean-desktop" v-if="!isMobile && facet.dataType === 'BOOLEAN'">
      <label class="digi-facet-option" :class="{ 'digi-facet-option_disabled': facet.values[0].disabled }" v-show="(!filter || facet.values[0].name.toLowerCase().indexOf(filter.toLowerCase()) !== -1) && (facet.values[0].value)">
        <input type="checkbox" class="digi-facet-option__checkbox" :checked="isActive(facet.values[0].id)" :disabled="facet.values[0].disabled" @change="handleChange($event, facet.values[0])">

        <span class="digi-facet-option__checkmark"></span>

        <span class="digi-facet__title__name">{{ facet.name }}</span>
        <span class="digi-facet__selected" v-if="hasFilter && isMobile"></span>
      </label>
    </div>

    <div class="digi-facet__filter" v-if="facet.values.length > 15 ">
      <div class="digi-facet__wrap">

        <input type="search" placeholder="Поиск" class="digi-facet__input" v-model="filter">
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="digi-facet__icon">
          <path d="M4.38596 8.57759C1.97368 8.57759 0 6.63793 0 4.26724C0 1.93965 1.97368 0 4.38596 0C6.79825 0 8.77193 1.93966 8.77193 4.31034C8.72807 6.68103 6.79825 8.57759 4.38596 8.57759ZM4.38596 0.862069C2.45614 0.862069 0.877193 2.41379 0.877193 4.31034C0.877193 6.2069 2.45614 7.75862 4.38596 7.75862C6.31579 7.75862 7.89474 6.2069 7.89474 4.31034C7.85088 2.41379 6.31579 0.862069 4.38596 0.862069Z" fill="#D3D3D3"></path>
          <path d="M9.56136 10C9.42978 10 9.34207 9.95689 9.25435 9.87069L6.7982 7.45689C6.62277 7.28448 6.62277 7.02586 6.7982 6.85345C6.97364 6.68103 7.2368 6.68103 7.41224 6.85345L9.86838 9.26724C10.0438 9.43965 10.0438 9.69827 9.86838 9.87069C9.82452 9.95689 9.69294 10 9.56136 10Z" fill="#D3D3D3"></path>
        </svg>

      </div>
    </div>
    <ul class="digi-facet-options" :class="[{ 'digi-facet-options_scrollable': !isMobile && facet.values.length > 7 }, { 'digi-facet-options_offset': isMobile && facet.values.length > 7 }, {'digi-facet-options_boolean': facet.dataType === 'BOOLEAN'}]">
      <li v-for="item in facet.values" :key="item.id" class="digi-facet-options__item" v-show="(!filter || item.name.toLowerCase().indexOf(filter.toLowerCase()) !== -1) && item.value">
        <label class="digi-facet-option" :class="{ 'digi-facet-option_disabled': item.disabled }">
          <input type="checkbox" class="digi-facet-option__checkbox" :checked="isActive(item.id)" :disabled="item.disabled" @change="handleChange($event, item)">

          <span class="digi-facet-option__checkmark"></span>
          <template v-if="facet.dataType === 'BOOLEAN'">
            <span class="digi-facet-option__text">
              {{ item.id === 'true' ? 'есть' : 'нет' }}
            </span>
            <span class="digi-facet-option__amount">{{ item.value }}</span>
          </template>
          <template v-else="">
            <span class="digi-facet-option__text" :inner-html.prop="item.name.replace(/^([\d,]+)$|^([\d,]+)\.0*$|^([\d,]+\.[0-9]*?)0*$/, '$1$2$3') | highlightTerm(filter)">
            </span>
            <span class="digi-facet-option__amount">{{ item.value }}</span>
          </template>
        </label>
      </li>
    </ul>
  </div>
</template>