<template id="facets">
  <div class="digi-facets" v-if="showIS">
    <template v-if="isMobile">
      <transition name="custom-classes-transition" enter-active-class="animated faster slideInUp" leave-active-class="animated faster slideOutDown">
        <div class="digi-screen" v-if="isOpenFacets">
          <div class="digi-screen__actions digi-screen__actions_top" v-touch:swipe.bottom="closeAllFacets">
            <div class="digi-screen__slot digi-screen__slot_l">
            </div>

            <div class="digi-screen__slot">
              <span class="digi-screen__title">Фильтры</span>
            </div>
            <div class="digi-screen__slot digi-screen__slot_r">
              <button class="digi-screen__button digi-screen__button_f-small" @click="toggleOpenFacets">
              </button>
            </div>
          </div>

          <!--
            Here we print all facets starting with price and categories
            We also have two types of facet views: tile and list
            Tile is used when there are 7 or more values in this facet. All options can be found in .digi-facet-detail. Clickable
            List is used ehen there are 6 or less values in this facet. All options are listed via appropriate component. Non-clickable
          -->
          <div class="digi-screen__content digi-screen__content_indented">
            <facet-slider v-if="facetList.find(it => it.name === 'price' && !it.values.some(value => value.name.match(/Infinity/)))" :facet="facetList.find(it => it.name === 'price')" :selected-facets="selectedFacets" @clear="clearFacet">
            </facet-slider>

            <div class="digi-facet_tile" @click="openFacet('categories')">
              <div class="digi-facet__title">Категории <span class="digi-facet__selected" v-if="filters.categories"></span></div>

              <div class="digi-facet__chosen" v-if="filters.categories">
                {{ filters.categories.values.length === 1 ? filters.categories.values[0].name :
                `${filters.categories.values.length} выбрано` }}
              </div>

              <div class="digi-facet_tile__icon">
                <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg" fill="#86868D">
                  <use xlink:href="#chevron-right"></use>
                </svg>
              </div>
            </div>

            <template v-for="(facet, index) in facetList">
              <template v-if="facet.name !== 'price'">
                <div class="digi-facet_tile" @click="openFacet(facet.name)" v-if="facet.values.length > 7">
                  <div class="digi-facet__title">
                    <span class="digi-facet__title__name" v-if="(facet.name === 'brands')">Производитель</span>
                    <span class="digi-facet__title__name" v-else="">{{ digiCustom.setFacetName(facet.name, facet.unit) }}</span>
                    <span class="digi-facet__selected" v-if="filters[facet.name]"></span>
                  </div>

                  <div class="digi-facet__chosen" v-if="filters[facet.name]">
                    <span v-for="(item, key) in filters[facet.name].values" :key="key">{{ item.name }}<span v-if="filters[facet.name].values.length > 1 && (filters[facet.name].values.length - 1) !== key">, </span></span>
                  </div>

                  <div class="digi-facet_tile__icon">
                    <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg" fill="#86868D">
                      <use xlink:href="#chevron-right"></use>
                    </svg>
                  </div>
                </div>

                <template v-else="">
                  <div class="digi-facet__common_main-wrapper">
                    <facet-common :facet="facet" @clear="clearFacet" v-if="facet.dataType !== 'SLIDER'">
                    </facet-common>
                  </div>

                  <facet-slider :facet="facet" :selected-facets="selectedFacets" @clear="clearFacet" v-if="facet.dataType === 'SLIDER' && !facet.values.some(value => value.name.match(/Infinity/))"></facet-slider>
                </template>

              </template>
            </template>
          </div>

          <transition name="custom-classes-transition" enter-active-class="animated faster slideInRight" leave-active-class="animated faster slideOutRight">
            <div class="digi-screen" v-touch:swipe.right="closeFacet" v-if="currentOpenFacet">
              <div class="digi-screen__actions digi-screen__actions_top">
                <div class="digi-screen__slot digi-screen__slot_l">
                  <button class="digi-screen__button digi-screen__button_c-black digi-screen__button_f-small" @click="closeFacet">
                    Назад
                  </button>
                </div>

                <div class="digi-screen__slot">
                  <span class="digi-screen__title">{{  (currentOpenFacet === 'brands') ? 'Производитель' : (currentOpenFacet === 'categories') ? 'Категории' : digiCustom.setFacetNameCurrentOpen(currentOpenFacet, facetList)}}</span>
                </div>

                <div class="digi-screen__slot digi-screen__slot_r">
                  <button class="digi-screen__button digi-screen__button_f-small" @click="toggleOpenFacets">
                  </button>
                </div>
              </div>

              <div class="digi-screen__content" :class="{ 'digi-screen__content_indented': currentOpenFacet !== 'categories' }">
                <template v-if="currentOpenFacet === 'categories'">
                  <facet-category :all-categories="facetCategories" :custom-settings="customSettings" :predicted-category="predictedCategory" :related-categories="relatedCategories">
                  </facet-category>
                </template>

                <template v-else="">
                  <facet-common :facet="facetList.find(facet => facet.name === currentOpenFacet)" :filter="openFacetFilter" @clear="clearFacet">
                  </facet-common>
                </template>
              </div>

              <div class="digi-screen__actions digi-screen__actions_bottom digi-screen__actions_show">
                <button class="digi-screen__button digi-screen__button_stretch" @click="closeFacet">
                  {{ currentOpenFacet === 'categories' && filters['categories'] ? `Выбрать
                  «${filters['categories'].values[0].name}»` : 'Выбрать' }}
                </button>
              </div>
            </div>
          </transition>

          <div class="digi-screen__actions digi-screen__actions_bottom digi-screen__actions_show">
            <button class="digi-screen__button digi-screen__button_stretch" @click="toggleOpenFacets">
              Показать {{ totalHits | thousandSeparator }} {{ 'товар' | getCorrectPlural(totalHits) }}
            </button>
          </div>
        </div>
      </transition>

      <div class="digi-screen__actions digi-screen__actions_fixed digi-screen__actions_bottom digi-screen__actions_main" v-show="data.products.length > 1 || Object.entries(filters).length">
        <button class="digi-screen__button digi-screen__button_stretch" @click="$store.commit('setShowSortMobile', true); $store.dispatch('sendSortOpenEvent');">
          <svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg" fill="#656565" v-if="sort === 'PRICE_DESC'">
            <path d="M0.897949 6.75H4.87074V8.75H0.897949V6.75ZM0.897949 3.75H6.85713V5.75H0.897949V3.75ZM0.897949 0.75H8.84353V2.75H0.897949V0.75Z"></path>
          </svg>
          <svg width="8" height="9" viewBox="0 0 8 9" xmlns="http://www.w3.org/2000/svg" fill="#656565" v-if="sort === 'PRICE_ASC'">
            <path d="M0 0.75H4V2.75H0V0.75ZM0 3.75H6V5.75H0V3.75ZM0 6.75H8V8.75H0V6.75Z"></path>
          </svg>
          <div v-if="sort === 'PRICE_DESC' || sort === 'PRICE_ASC'" class="digi-sort-price"></div>
          {{ sort === 'DEFAULT' ? 'По популярности' :  'Цене' }}
          <svg class="digi-screen__sort-icon" width="9" height="6" viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg" fill="#999999" stroke="#999999">
            <use xlink:href="#sort"></use>
          </svg>

        </button>


        <button class="digi-screen__button digi-screen__button_stretch" @click="toggleOpenFacets(); (function(digi){digi.$el.classList.add('digi-facets_open')})($root)">
          <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="digi-screen__icon digi-search-form__icon_specific">
            <use xlink:href="#filters"></use>
          </svg>

          Фильтр
          <span class="digi-screen__count" v-if="hasFilters">{{ filtersCount }}</span>
        </button>
      </div>
    </template>

    <template v-else="">
      <div class="digi-facets-container">
        <facet-category :all-categories="facetCategories" :custom-settings="customSettings" :predicted-category="predictedCategory" :related-categories="relatedCategories">
        </facet-category>

        <template v-for="facet in facetList">
          <facet-common :facet="facet" @clear="clearFacet" v-if="facet.dataType !== 'SLIDER'">
          </facet-common>

          <facet-slider :facet="facet" :selected-facets="selectedFacets" @clear="clearFacet" v-if="facet.dataType === 'SLIDER' && !facet.values.some(value => value.name.match(/Infinity/))">
          </facet-slider>
        </template>
      </div>
    </template>
  </div>
</template>