<template id="productList">

  <div class="digi-products">
    <div class="digi-products-grid digi-products-grid_horde">
      <div v-for="(product, key) in products" :key="product.id" class="digi-product digi-product-list" :class="{'digi-product-unavailable': !product.available}" @click="handleClick(product.id)">
        <div class="digi-product-header" v-if="!isMobile">
          <div class="digi-product__vendor-code">Код {{ product.id }}</div>
          <div class="digi-product__rating">
            <a :href="'/catalog-' + product.id + '/'" target="_blank">
              <span v-for="n in 5" class="digi-icon-star" :class="[n <= +product.attributes['rating'][0]/100 ? 'digi-icon-star-active' : 'digi-icon-star-passive']"></span>
            </a>
          </div>
          <span class="digi-product__compare" @click="digiCustom.addToCompare(product.id, $event.target)">
              <input class="digi-product__compare-input" type="checkbox" :id="`compare-${product.id}`" name="id" :value="product.id">
              <label :for="`compare-${product.id}`">
                <i title="Добавить к сравнению" class="digi-product__compare-icon"></i>
                <span class="digi-product__compare-button-text"><span class="add-compare">Добавить к сравнению</span>
                  <span class="move-to-compare">Перейти к сравнению</span>
                </span>
              </label>
            </span>
        </div>
        <div class="digi-product__main" v-show="!isMobile">
          <div class="digi-product__label">
            <a :href="product.link_url" target="_blank">{{ product.name }}</a>
          </div>
        </div>
        <a :href="product.link_url" class="digi-product__image-wrapper" target="_blank">
          <div class="digi-proudct__image-unavailable-label" v-if="!product.available">Нет в наличии</div>
          <img :src="product.image_url || `//cdn.diginetica.net/images/noimage.png`" alt="" class="digi-product__image" onerror="this.src='//cdn.diginetica.net/images/noimage.png';">


        </a>
        <div class="digi-product__labels" v-if="!isMobile">

          <div class="digi-product__label digi-product__label-reviews" v-if="product.attributes['recall-count'][0] && product.attributes['recall-count'][0] !== '0'">
            <div class="digi-product__label__value digi-product__label__value-reviews">{{ product.attributes['recall-count'][0] }}</div>
            <div class="digi-product__label__icon digi-product__label__icon-reviews">

              <svg width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.56 13.755L10.697 10.931H14C14.2652 10.931 14.5196 10.8256 14.7071 10.6381C14.8946 10.4506 15 10.1962 15 9.931V2C15 1.73478 14.8946 1.48043 14.7071 1.29289C14.5196 1.10536 14.2652 1 14 1H2C1.73478 1 1.48043 1.10536 1.29289 1.29289C1.10536 1.48043 1 1.73478 1 2V9.93C1 10.1952 1.10536 10.4496 1.29289 10.6371C1.48043 10.8246 1.73478 10.93 2 10.93H7.56V13.755Z" stroke="#B0B0B0"></path>
                <path d="M4.25 7.19995C4.94036 7.19995 5.5 6.64031 5.5 5.94995C5.5 5.2596 4.94036 4.69995 4.25 4.69995C3.55964 4.69995 3 5.2596 3 5.94995C3 6.64031 3.55964 7.19995 4.25 7.19995Z" fill="#B0B0B0"></path>
                <path d="M7.9502 7.19995C8.64055 7.19995 9.2002 6.64031 9.2002 5.94995C9.2002 5.2596 8.64055 4.69995 7.9502 4.69995C7.25984 4.69995 6.7002 5.2596 6.7002 5.94995C6.7002 6.64031 7.25984 7.19995 7.9502 7.19995Z" fill="#B0B0B0"></path>
                <path d="M11.75 7.19995C12.4404 7.19995 13 6.64031 13 5.94995C13 5.2596 12.4404 4.69995 11.75 4.69995C11.0596 4.69995 10.5 5.2596 10.5 5.94995C10.5 6.64031 11.0596 7.19995 11.75 7.19995Z" fill="#B0B0B0"></path>
              </svg>

            </div>
          </div>
          <div class="digi-product__label digi-product__label-loyalty" v-if="product.attributes['loyalty-bonus'][0] && product.attributes['loyalty-bonus'][0] !== '0'">
            <div class="digi-product__label__value digi-product__label__value-loyalty">{{ product.attributes['loyalty-bonus'][0] }}</div>
            <div class="digi-product__label__icon digi-product__label__icon-loyalty">
              <svg width="14" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.5 13C10.0899 13 13 10.0899 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13Z" fill="#88C340"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5838 1.73291L3.4668 6.85091H5.9548L4.6498 11.0799L9.3088 5.44391H6.6048L7.5838 1.73291Z" fill="white"></path>
              </svg>
            </div>
          </div>

        </div>

        <a :href="product.link_url" class="digi-product__lead" v-if="!isMobile" target="_blank">{{ digiCustom.splitLead(product.attributes["lead"][0]) }}</a>

        <div class="digi-product__main" :class="{ 'digi-product__main_thin': isMobile }">
          <div class="digi-product__meta">
            <div class="digi-product__brand" v-if="product.brand">
              <a :href="product.link_url" target="_blank">{{ product.brand }}</a>
            </div>
            <div class="digi-product__vendor-code" v-if="isMobile">Код: {{ product.id }}</div>
            <div class="digi-product__label" v-show="isMobile">
              <a :href="product.link_url" target="_blank">{{ product.name }}</a>
            </div>

            <!--Here goes rating for mobiles-->
            <div class="digi-product__rating" v-show="isMobile">
              <a :href="'catalog-' + product.id + '/'" target="_blank">
                <span v-for="n in 5" class="digi-icon-star" :class="[n <= +product.attributes['rating'][0] ? 'digi-icon-star-active' : 'digi-icon-star-passive']"></span>
              </a>
            </div>
            <div class="digi-product__lead" v-if="isMobile">{{ digiCustom.splitLead(product.attributes["lead"][0]) }}</div>
          </div>
          <div v-show="product.available && !isMobile" :data-product="product.id" class="digi-product__available-wrapper digi-product__available-wrapper-desktop">
            <div class="digi-product__available-button" @click="digiCustom.getAvailability(product.id, product.link_url, $event)">
              <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect width="10" height="8" fill="url(#pattern0)"></rect>
                <defs>
                  <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0" transform="scale(0.1 0.125)"></use>
                  </pattern>
                  <image id="image0" width="10" height="8" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAAXNSR0IArs4c6QAAAE9JREFUGBljYCAAGjfL/QcpYcSnDqYIr0JkRfW+jxiZQKqRBdH5IEVgE5EVgQTR+SBFIABWjSwJEWZggJkE48M9g6wYXRFMMZxGVgwXhDIAhlEhTE7C1JEAAAAASUVORK5CYII="></image>
                </defs>
              </svg>
              <span class="digi-product__available-label">В наличии</span>
            </div>
          </div>
          <div class="digi-product__footer">
            <div class="digi-product__price" v-if="+product.price">
                <span class="digi-product-price-variant digi-product-price-variant_actual">{{ product.price | thousandSeparator }}
                  <span class="digi-product-price-variant__currency">р.</span></span>

              <span class="digi-product-price-variant digi-product-price-variant_old" v-if="product.oldPrice"><s>{{ product.oldPrice | thousandSeparator }}
                    <span class="digi-product-price-variant__currency">р.</span></s></span>
            </div>
            <a v-show="product.available && isMobile" :data-product="product.id" class="digi-product__available-wrapper new-item-list-avail new-item-list-avail-in-stock">
              <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.59774 5.70769C3.23739 6.07138 2.6527 6.07138 2.29252 5.70769L0.270261 3.6667C-0.090087 3.30319 -0.090087 2.71308 0.270261 2.34957C0.630435 1.98588 1.21513 1.98588 1.57548 2.34957L2.78035 3.56542C2.8713 3.65704 3.01896 3.65704 3.11009 3.56542L6.37252 0.272764C6.7327 -0.0909215 7.31739 -0.0909215 7.67774 0.272764C7.85078 0.447411 7.948 0.684368 7.948 0.931331C7.948 1.17829 7.85078 1.41525 7.67774 1.5899L3.59774 5.70769Z" fill="#72C366"></path>
              </svg>
              <span class="digi-product__available-label">
                  В наличии
                </span>
            </a>
            <div class="digi-product__actions">
              <button v-if="isMobile && product.available" :data-href="'/basket/add-' + product.id + '/'" class="digi-product__button add-to-cart-mobile">
                <div class="digi-done-btn-content"><i class="digi-done-btn-icon"></i><span class="digi-done-btn-text">В
                      корзине</span>
                </div>
                <div class="digi-preloader-saw">
                  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#saw-preloader"></use>
                  </svg>
                </div>
                <span class="digi-text-in-cart-btn">В корзину</span>
              </button>
              <a href="#add-to-cart" v-if="!isMobile && product.available" class="digi-product__button" :data-code="product.id" @click.prevent="digiCustom.addToCartDesktop(product.id)">
                <span data-view-table="box-inline" class="icon-cart-sm-black"></span>
                <span data-view-table="box-hidden" class="text-in-cart-btn">В корзину</span>
              </a>
              <div class="digi-product__unavailable-wrapper" v-if="!product.available">
                <div class="digi-product__ubavailable-label">
                  <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9">
                    <g fill="none" fill-rule="evenodd" stroke="#F43C38">
                      <circle cx="4.5" cy="4.5" r="4"></circle>
                      <path stroke-linecap="square" d="M2.5 4.5h4"></path>
                    </g>
                  </svg>
                  <span>Нет в наличии</span></div>
                <a class="digi-product__button digi-product__button-unavailable" :href="'/feedback-' + product.id + '/'">Сообщить
                  о поступлении</a>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div v-if="!hasProducts && !isLoading && term" class="digi-empty">
        <p>По этому запросу ничего не находится.</p>
        <p>Попробуйте сократить запрос или сформулировать его по-другому.</p>
      </div>
    </div>
  </div>
</template>