<template id="facetSlider">
  <div class="digi-facet_slider" v-if="isMobile">
    <div class="digi-facet_slider_toggle-wrapper" @click="digiCustom.mobileSliderToggle($event)">
      <div class="digi-facet__header">
        <!-- There could be conditional logic for appropriate names for some facets -->
        <div class="digi-facet__title">
          <span class="digi-facet__title__name" v-if="(facet.name === 'price')">Цена</span>
          <span class="digi-facet__title__name" v-else="">{{ digiCustom.setFacetName(facet.name, facet.unit) }}</span>
          <span class="digi-facet__selected" v-if="hasFilter && isMobile"></span>
        </div>
      </div>
      <div class="digi-facet__toggle">
        <svg width="11" height="6" viewBox="0 0 11 6" xmlns="http://www.w3.org/2000/svg" fill="#86868D" class="digi-facet__toggle__icon">
          <use xlink:href="#chevron-bottom"></use>
        </svg>
      </div>

      <div class="digi-facet-slider">
        <div class="digi-facet-slider__slot">
          <span digi-facet-slider__slot-from=""> {{ sliderInput.min | thousandSeparator}} </span>
        </div>

        <div class="digi-facet-slider__divider"></div>

        <div class="digi-facet-slider__slot">
          <span digi-facet-slider__slot-from=""> {{ sliderInput.max | thousandSeparator}}</span>
          <span class="digi-facet-slider__unit">{{ facet.name === 'price' ? 'руб.' : facet.unit ? facet.unit : '' }}</span>
        </div>

      </div>
    </div>

    <base-slider style="max-width: 90%" :input-min="range.min" :input-max="range.max" :range="sliderRange" :disabled="facet.disabled" @slider-change="handleSliderChange" v-if="facet.values.length">
    </base-slider>
  </div>
  <div class="digi-facet_slider" v-else="">
    <div class="digi-facet__header">
      <!-- There could be conditional logic for appropriate names for some facets -->
      <div class="digi-facet__title">
        <span class="digi-facet__title__name" v-if="(facet.name === 'price')">Цена (руб.)</span>
        <span class="digi-facet__title__name" v-else="">{{ digiCustom.setFacetName(facet.name, facet.unit) }}</span>
      </div>

      <button type="button" class="digi-facet__clear" @click="clear" v-if="hasFilter">
        Очистить
      </button>
    </div>

    <div class="digi-facet-slider">
      <div class="digi-facet-slider__slot">
        <span class="digi-facet-slider__label">от</span>
        <currency-input type="tel" autocomplete="off" class="digi-facet-slider__input" :disabled="isDisabled" :name="facet.values[1].id" :placeholder="facet.values[1].value" :precision="0" :allow-negative="false" :currency="null" v-model="sliderInput.min" @focus="handleFocus" @input="handleInput" @blur="handleBlur">
        </currency-input>
      </div>

      <div class="digi-facet-slider__divider"></div>

      <div class="digi-facet-slider__slot">
        <span class="digi-facet-slider__label digi-facet-slider__label-between">до</span>
        <currency-input type="tel" autocomplete="off" class="digi-facet-slider__input" :disabled="isDisabled" :name="facet.values[0].id" :placeholder="facet.values[0].value" :precision="0" :allow-negative="false" :currency="null" v-model="sliderInput.max" @focus="handleFocus" @input="handleInput" @blur="handleBlur">
        </currency-input>
      </div>
    </div>

    <base-slider style="max-width: 90%" :input-min="range.min" :input-max="range.max" :range="sliderRange" :disabled="isDisabled" @slider-change="handleSliderChange" v-if="facet.values.length">
    </base-slider>

    <div class="digi-facet-slider__values">
      <div class="digi-facet-slider__values-value">{{facet.values[1].value}}</div>
      <div class="digi-facet-slider__values-value">{{facet.values[0].value}}</div>
    </div>
  </div>
</template>