<template id="sort">
  <div class="digi-sort" :class="{ 'digi-sort_faded': isMobile && showSortMobile }" @click.self="closeSortMobile">
    <template v-if="isMobile">

      <div class="digi-screen digi-screen_tiny" v-if="showSortMobile">
        <div class="digi-sort__overlay-close" @click="closeSortMobile">
        </div>

        <div class="digi-screen__content">
          <button v-for="(option, index) in options" :key="index" class="digi-sort__button" :class="{ 'digi-sort__button_active': option.type === currentOption.type }" @click="setSort(option)">

            <div class="digi-sort__button__icon" v-if="option.type === 'PRICE_DESC'">
              <svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg" fill="#656565">
                <path d="M0.897949 6.75H4.87074V8.75H0.897949V6.75ZM0.897949 3.75H6.85713V5.75H0.897949V3.75ZM0.897949 0.75H8.84353V2.75H0.897949V0.75Z"></path>
              </svg>
            </div>
            <div class="digi-sort__button__text" v-if="option.type === 'PRICE_DESC'">Цене</div>

            <div class="digi-sort__button__icon" v-if="option.type === 'PRICE_ASC'">
              <svg width="8" height="9" viewBox="0 0 8 9" xmlns="http://www.w3.org/2000/svg" fill="#656565">
                <path d="M0 0.75H4V2.75H0V0.75ZM0 3.75H6V5.75H0V3.75ZM0 6.75H8V8.75H0V6.75Z"></path>
              </svg>
            </div>
            <div class="digi-sort__button__text" v-if="option.type === 'PRICE_ASC'">Цене</div>

            <div class="digi-sort__button__text" v-if="option.type === 'DEFAULT'">По популярности</div>
          </button>
        </div>
      </div>
    </template>

    <template v-else="">
      <div class="digi-sort__text">Сортировка:</div>
      <multiselect :searchable="false" v-model="currentOption" :placeholder="currentOption.label" :options="digiCustom.getOptions(currentOption.type)" label="label" @open="sendSortOpenEvent" @select="setSort"></multiselect>
    </template>
  </div>
</template>
