@charset "UTF-8";
/**
 * Made in Diginetica with love
 */
/* The font this city needs */
.digi-body_mobile.digi-disable-scroll {
    /* Dirty-dirty hack for iOS Safari: use only when IS close the entire screen */
    position: fixed !important;
}

/*
  VARIABLES NAMING RULE
  IDE autocomplete will work better
  $property-(modifier)-(pseudo)-name||element-platform
    or
  $property
*/
/* CSS variables*/
#digi-shield {
    --color-primary: #FCF105;
    --color-primary-light: #828282;
    --color-primary-lighter: #d5d5d532;
    --color-history: #232325;
    --color-tap-bg: rgba(252, 241, 5, 0.2);
    --color-tap-bg-hover: #d5d5d532;
    --color-primary-hover: #828282;
    --color-secondary: #828282;
    --color-separator: #d5d5d532;
    /* Patterns */
    --border-radius: 7px;
    --border-color: #EFEFEF;
    /* Sizes */
    --height-input-mobile: 41px;
    --height-input-desktop: 35px;
    --wrapper-width: 960px;
    /* Important, setting from config */
    /* Indents */
    --wrapper-padding: 0 20px;
    /* Important, setting from config */
    --indent-main-mobile: 20px;
    --indent-vertical-main-mobile: 20px;
    --indent-vertical-inner-mobile: 10px;
    --indent-vertical-search-mobile: 20px;
    --padding-product: 20px;
    --indent-main-desktop: 20px;
    --indent-search-desktop: 15px;
    --indent-vertical-main-desktop: 15px;
    --indent-vertical-inner-desktop: 15px;
    /* Fonts */
    --font-size-main-mobile: 13px;
    --font-size-second-mobile: 14px;
    --font-size-third-mobile: 13px;
    --font-size-header-mobile: 17px;
    --font-size-main-desktop: 13px;
    --font-size-second-desktop: 12px;
    --font-size-header-desktop: 23px;
    --font-weight-main: 400;
    --font-weight-thick: 500;
    --font-weight-thickest: 600;
    --font-color-main: #000;
    /* Slider Variables */
    --dot-size-mobile: 20px;
    --rail-height-mobile: 3px;
    --dot-size-desktop: 11px;
    --rail-height-desktop: 8px;
    /* Screen Variables */
    --screen-count-size: 16px;
    --screen-height: 45px;
    /* Facets Variables */
    --indent-facet-bottom-desktop: 30px;
    --height-search-block-mobile: 90px;
    --height-search-block-mobile-full: 150px;
}

#digi-shield .digi-search-form__icon_specific {
    fill: #999999;
    stroke: #999999;
}

#digi-shield.digi_hidden,
#digi-shield .digi_hidden {
    display: none !important;
}

#digi-shield.digi-is-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999999;
    display: flex;
    flex-direction: column;
    color: var(--font-color-main);
    overflow: auto;
    font-family: "Roboto", sans-serif;
}

#digi-shield.digi-is-container_white {
    background-color: #ffffff;
}

#digi-shield.digi_desktop.digi-is-container_white {
    background-color: transparent
}

#digi-shield.digi-is-container.digi_desktop {
    font-family: "Tahoma", sans-serif;
    z-index: 1007;
    overflow: visible !important;
    overflow: visible !important;
}

#digi-shield.digi-is-container.digi_desktop::-webkit-scrollbar,
#digi-shield.digi-is-container.digi_desktop *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

#digi-shield.digi-is-container.digi_desktop::-webkit-scrollbar-track,
#digi-shield.digi-is-container.digi_desktop *::-webkit-scrollbar-track {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
}

#digi-shield.digi-is-container.digi_desktop::-webkit-scrollbar-thumb,
#digi-shield.digi-is-container.digi_desktop *::-webkit-scrollbar-thumb {
    background-color: #dedede;
    border-radius: 2px;
}

#digi-shield.digi-is-container .digi-is-container_white {
    background: initial;
}

#digi-shield.digi_open ~ jdiv {
    /* Have to be appended to the body */
    display: none;
}

#digi-shield.digi_ie img {
    /* IE doesn't respect object-* properties */
    height: auto;
}

#digi-shield.digi_ie svg {
    /* IE doesn't respect <svg> inline attributes */
    width: 15px;
    height: 15px;
}

#digi-shield .ui-autocomplete {
    display: none !important;
}

#digi-shield *:not(rect) {
    /* Reset browser styling */
    box-sizing: border-box;
    width: auto;
    min-width: auto;
    max-width: none;
    height: auto;
    min-height: auto;
    max-height: none;
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: var(--font-weight-main);
    text-shadow: none;
    text-align: start;
    text-transform: none;
    transition: none;
}

#digi-shield *:before,
#digi-shield *:after {
    display: none;
}

#digi-shield button,
#digi-shield input {
    font-size: var(--font-size-main-mobile);
    font-weight: var(--font-weight-main);
    -webkit-appearance: none;
}

#digi-shield button:disabled,
#digi-shield input:disabled {
    opacity: 1;
}

#digi-shield button {
    text-align: center;
    cursor: pointer;
}

#digi-shield img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

#digi-shield a {
    border: none;
    text-decoration: none;
}

#digi-shield b {
    font-weight: var(--font-weight-main);
}

#digi-shield ul,
#digi-shield li {
    list-style: none;
}

#digi-shield label {
    font-weight: normal;
    text-transform: none;
}

#digi-shield s {
    position: relative;
    text-decoration: none;
}

#digi-shield s::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-secondary);
}

#digi-shield .digi-overlay {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
}

#digi-shield .digi-scroll-up {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#digi-shield .digi-scroll-up .digi-scroll-up__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: var(--border-radius);
    background: #FFF300;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
}

#digi-shield .digi-scroll-up:hover .digi-scroll-up__icon-wrapper {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .3), inset -1px -1px 1px rgba(0, 0, 0, .3);
}

#digi-shield .digi-scroll-up .digi-scroll-up__text {
    color: #FFF300;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: 700;
}

#digi-shield .digi-scroll-up__arrow {
    margin-left: 8px;
}

#digi-shield .digi-wrapper {
    max-width: var(--wrapper-width);
    padding: var(--wrapper-padding);
    margin: 0 auto;
}

#digi-shield.digi_desktop .digi-wrapper {
    background: #fff;
}

#digi-shield .digi-search {
    background-color: #ffffff;
}

#digi-shield.digi_desktop .digi-search {
    position: relative;
    z-index: 2;
    padding: var(--indent-search-desktop) 0;
}

#digi-shield.digi_searchless .digi-search {
    display: none;
}

#digi-shield .digi-search__header {
    position: relative;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    background: #fff;
}

#digi-shield .digi-search__header-shadow {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#digi-shield .digi-search__header__title {
    position: relative;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-weight: var(--font-weight-thick);
    font-size: 17px;
}

#digi-shield .digi-search__header__close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 27.64px;
    border-radius: 50%;
    background-color: #EFEFEF;
    margin: auto;
    margin-left: 20px;
}

#digi-shield.digi_mobile .digi-search {
    padding: var(--indent-vertical-search-mobile) var(--indent-main-mobile);
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    padding-bottom: 0;
}

#digi-shield .digi-search-form {
    position: relative;
    display: flex;
}

#digi-shield.digi_mobile .digi-search-form {
    height: var(--height-input-mobile);
    width: 100%;
}

#digi-shield.digi_desktop .digi-search-form {
    height: var(--height-input-desktop);
}

#digi-shield.digi_desktop .digi-search-form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

#digi-shield .digi-search-form__input-block {
    position: relative;
    flex-grow: 1;
}

#digi-shield .digi-search-form__input {
    width: 100%;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    min-width: 0;
    flex: 1;
    height: 100%;
    border-color: var(--border-color);
}

#digi-shield .digi-search-form-active .digi-search-form__input {
    border-color: var(--color-primary);
}

#digi-shield.digi_mobile .digi-search-form__input {
    font-size: 16px;
    color: #000;
    padding: 8px calc(var(--height-input-mobile)) 8px 35px;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    text-overflow: ellipsis;

}

#digi-shield.digi_desktop .digi-search-form__input {
    padding: 8px 140px 8px 45px;
    font-size: var(--font-size-main-desktop);
}

#digi-shield.digi_desktop .digi-search-form__icon_decorative {
    stroke: var(--color-secondary);
}

#digi-shield.digi_desktop .digi-search-form-active .digi-search-form__icon_decorative {
    stroke: var(--color-primary);
}

#digi-shield .digi-search-form__actions {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
}

#digi-shield .digi-search-form__clear {
    position: relative;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    height: 37px;
}

#digi-shield .digi-search-form__clear:hover:after, #digi-shield .digi-search-form__clear:hover:before {
    background-color: var(--color-primary);
}

#digi-shield.digi_mobile .digi-search-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
}

#digi-shield.digi_desktop .digi-search-form__submit {
    width: 100px;
    border-left: 1px solid var(--color-tap-bg);
    color: var(--color-primary);
    font-size: 15px;
    background-color: var(--border-color);
    border-color: var(--border-color);
}

#digi-shield.digi_desktop .digi-search-form__submit:hover {
    color: #ffffff;
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}

#digi-shield.digi_desktop .digi-search-form-active .digi-search-form__submit {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

#digi-shield.digi_desktop .digi-search-form-active .digi-search-form__submit:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}

#digi-shield.digi_mobile .digi-search-form__close {
    flex: 0 0 auto;
    color: var(--color-primary);
    width: auto;
    margin-left: 10px;
}

#digi-shield.digi_mobile .digi-search-form__clear-block {
    position: absolute;
    top: 2px;
    right: 0;
}

#digi-shield.digi_desktop .digi-search-form__close {
    margin-left: 15px;
}

#digi-shield.digi_desktop .digi-search-form__close {
    border: 1px solid rgba(172, 172, 172, 0.2);
    border-radius: var(--border-radius);
    color: #000000;
}

#digi-shield.digi_desktop.digi_searchless .digi-main-scroll-wrapper {
    overflow-y: scroll;
    margin-top: 10px;
    margin-left: 8px;
    background-image: url(https://static.220-volt.ru/static/images/themes/default/default-bg.jpg);
    background-position: -8px -235px;
}

#digi-shield.digi_desktop.digi_searchless .digi-wrapper-isOpened {
    min-height: calc(100vh - 175px - 60px);
}

#digi-shield.digi_desktop.digi_searchless .digi-main-scroll-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#digi-shield.digi_desktop.digi_searchless .digi-main-scroll-wrapper::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(130,94,70, .8);
    border-color: rgba(130,94,70, .8);

}

#digi-shield.digi_desktop.digi_searchless .digi-main-scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(80,47,38, .5);
    border-radius: 8px;

}

#digi-shield .digi-category__title {
    font-weight: var(--font-weight-main);
}

#digi-shield.digi_mobile .digi-category__title {
    margin-bottom: 10px;
    padding: 0 var(--indent-main-mobile);
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    padding-top: 10px;
}

#digi-shield.digi_desktop .digi-category-found {
    padding: 0 20px;
}

#digi-shield.digi_desktop .digi-category__title,
#digi-shield.digi_desktop .digi-category__title_slim {
    padding: calc(30px - var(--indent-search-desktop)) 0 0;
    font-size: var(--font-size-header-desktop);
    font-weight: var(--font-weight-thickest);
    line-height: 27px;
    color: #000000;
}

#digi-shield.digi_desktop .digi-category__title_slim {
    padding-bottom: 15px;
}

#digi-shield .digi-empty {
    padding-top: var(--indent-search-desktop);
    font-size: var(--font-size-main-mobile);
}

#digi-shield .digi-empty p {
    margin-bottom: 5px;
}

#digi-shield.digi_mobile .digi-empty {
    padding: var(--indent-main-mobile);
}

#digi-shield.digi_desktop .digi-category-found-list {
    display: flex;
    align-items: center;
    overflow: auto;
    border-bottom: 1px solid var(--color-separator);
}

#digi-shield.digi_desktop .digi-category-found-item {
    flex: 0 0 auto;
    margin-bottom: 10px;
}

#digi-shield.digi_desktop .digi-category-found-item:not(:last-child) {
    margin-right: 20px;
}

#digi-shield.digi_desktop .digi-category-found-item__button {
    display: flex;
    align-items: center;
    font-size: var(--font-size-main-desktop);
}

#digi-shield.digi_desktop .digi-category-found-item__button:hover .digi-category-found-item__name {
    text-decoration: initial;
}

#digi-shield.digi_desktop .digi-ac-block__button .digi-category-found-item__image {
    display: none;
}

#digi-shield.digi_desktop .digi-category-found-item__image {
    display: block;
    width: 50px;
    height: 40px;
    margin-right: 5px;
}

#digi-shield .digi-category-found-item__image {
    display: block;
    width: 50px;
    height: 40px;
    margin-right: 10px;
    margin: auto 0;
}

#digi-shield.digi_desktop .digi-category-found-item__meta {
    text-align: left;
}

#digi-shield.digi_desktop .digi-category-found-item__name,
#digi-shield.digi_desktop .digi-category-found-item__value {
    display: block;
    margin: 10px 0;
}

#digi-shield.digi_desktop .digi-category-found-item__name {
    font-size: 11px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
    margin: 0;
}

#digi-shield.digi_desktop .digi-category-found-item__value {
    font-size: 11px;
    color: #a6a6a6;
    margin: 2px 0 0 0;
}

#digi-shield.digi_desktop .digi-main {
    padding: 0 20px;
    padding-bottom: 20px;
}

#digi-shield.digi_desktop .digi-main-wrapper {
    display: flex;
    padding-top: 20px;
}

#digi-shield.digi_desktop .digi-main__facets {
    flex: 0 0 auto;
    width: 230px;
    margin-right: 10px;
}

#digi-shield.digi_desktop .digi-main__results {
    flex: 1 1 auto;
    width: calc(100% - 230px - 10px);
}

#digi-shield.digi_desktop .digi-main-results-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 0px 10px;
}

#digi-shield.digi_ie .digi-main__results {
    flex: 1 1 100%;
}

#digi-shield.digi_desktop .digi-facets-container {
    border-top: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-radius: 5px;
}

#digi-shield .digi-facet_category, #digi-shield .digi-facet_common, #digi-shield .digi-facet_tile, #digi-shield .digi-facet_slider {
    /* Stranger bugs - https://www.oldi.ru/?digiPreview=XEMHMEQSN*/
    display: flex;
    flex-direction: column;
}

#digi-shield.digi_mobile .digi-facet_common, #digi-shield.digi_mobile .digi-facet_tile, #digi-shield.digi_mobile .digi-facet_slider {
    position: relative;
    padding: 8px 20px;
    min-height: 47px;
    justify-content: center;
    box-shadow: 0px 1px 0px #F0F0F0;
}

#digi-shield.digi_mobile .digi-facet_common:last-child, #digi-shield.digi_mobile .digi-facet_tile:last-child, #digi-shield.digi_mobile .digi-facet_slider:last-child {
    border-bottom: none;
}

#digi-shield.digi_mobile .digi-facet_category {
    margin-bottom: 20px;
}

#digi-shield.digi_mobile .digi-facet_tile__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}

#digi-shield.digi_desktop .digi-facet_tile__icon {
    display: none;
}

#digi-shield.digi_desktop .digi-facet_category, #digi-shield.digi_desktop .digi-facet_common, #digi-shield.digi_desktop .digi-facet_slider {
    padding: 15px;
    border-bottom: 1px solid #D3D3D3;
    position: relative;
}

#digi-shield.digi_desktop .digi-facets-container > div:last-child {
    border-radius: 5px;
}

#digi-shield.digi_desktop .digi-facet_category:after {
    display: block;
    content: "Категории";
    background: #fff;
    position: absolute;
    z-index: 1;
    left: 15px;
    top: -10px;
    font-size: 11px;
    line-height: 20px;
    padding: 0 5px;
    font-weight: bold;
    color: #000000;
}

#digi-shield .digi-facet__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#digi-shield.digi_desktop .digi-facet__header {
    margin-bottom: 10px;
}

#digi-shield .digi-facet__title {
    display: flex;
    align-items: center;
    width: 100%;
}

#digi-shield .digi-facet__title,
#digi-shield .digi-facet__title__name {
    font-size: 15px;
    line-height: 18px;
    font-weight: var(--font-weight-main);
}

#digi-shield .digi-facet__title__name {
    overflow: hidden;
    max-width: 95%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 18px;
    /* line-height on strings */
}

#digi-shield.digi_desktop .digi-facet__title, #digi-shield.digi_desktop .digi-facet__title__name {
    font-size: 11px;
    line-height: 19px;
    color: #000000;
    font-weight: bold;
}

#digi-shield .digi-facet__selected {
    display: block;
    background-color: #FCF105;
    width: 6px;
    height: 6px;
    margin-left: 7px;
    border-radius: 50%;
}

#digi-shield .digi-facet__clear {

    padding: 0;
    text-decoration: underline;
    text-transform: lowercase;
    color: var(--color-secondary);
    font-size: var(--font-size-second-mobile);
}

#digi-shield .digi-facet__clear:disabled {
    color: var(--color-secondary);
}

#digi-shield.digi_desktop .digi-facet__clear {
    font-size: var(--font-size-second-desktop);
    text-transform: initial;
    color: #a6a6a6;
}

#digi-shield.digi_desktop .digi-facet__clear:hover {
    color: #000;
}

#digi-shield .digi-facet__chosen {
    font-size: 10px;
    line-height: 15px;
    color: #AEAEAE;
    margin-top: 1px;
    overflow: hidden;
    max-width: 95%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 15px;
    /* line-height on strings */
}

#digi-shield .digi-facet-category {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

#digi-shield .digi-facet-category__text {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    color: var(--font-color-main);
    font-size: 13px;
    line-height: 19px;
}

#digi-shield .digi-facet-category__amount {
    flex: 1 0 20px;
    font-size: 10px;
    line-height: 19px;
    text-align: right;
    color: #232325;
    margin-left: 10px;
    font-weight: var(--font-weight-main);
}

#digi-shield .digi-facet-category:disabled {
    cursor: default;
}

#digi-shield.digi_mobile .digi-facet-category {
    width: 100%;
    padding: 10px var(--indent-main-mobile);
    text-align: left;
    line-height: 19px;
}

#digi-shield.digi_mobile .digi-facet-category_active {
    background-color: var(--color-primary-light);
    font-weight: var(--font-weight-main);
}

#digi-shield.digi_mobile .digi-facet-category_active {
    background-color: initial;
}

#digi-shield.digi_mobile .digi-facet-category_active .digi-facet-category__text {
    font-weight: 500;
}

#digi-shield.digi_mobile .digi-category-subtree .digi-facet-category {
    padding-left: 40px;
}

#digi-shield.digi_desktop .digi-facet-category {
    margin-bottom: 4px;
}

#digi-shield.digi_desktop .digi-facet-category:hover .digi-facet-category__text {
    text-decoration: underline;
}

#digi-shield.digi_desktop .digi-facet-category_active .digi-facet-category__text {
    text-decoration: underline;
}

#digi-shield.digi_desktop .digi-facet-category_active .digi-facet-category__amount {
}

#digi-shield.digi_desktop .digi-facet-category__text, #digi-shield.digi_desktop .digi-facet-category__amount {
    font-size: 11px;
    line-height: 16px;
}

#digi-shield.digi_desktop .digi-facet-category__text {
    color: #000;
}

#digi-shield.digi_desktop .digi-facet-category__amount {
    color: #A6A6A6;
}

#digi-shield.digi_desktop .digi-category-subtree .digi-facet-category {
    padding-left: 20px;
}

#digi-shield .digi-facet__wrap {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

#digi-shield.digi_mobile .digi-facet__wrap {
    margin: 20px 0 0 0;
}

#digi-shield.digi_desktop .digi-facet__header-boolean {
    margin-bottom: 0;
}

#digi-shield.digi_mobile .digi-facet__filter {
    background-color: #ffffff;
}

#digi-shield .digi-facet__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

#digi-shield.digi_desktop .digi-facet__icon {
    right: unset;
    left: 6px;
}

#digi-shield .digi-facet__input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

#digi-shield.digi_mobile .digi-facet__input {
    padding: 10px 40px 10px 15px;
    border: 2px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 7px;
    height: var(--height-input-mobile);
}

#digi-shield.digi_desktop .digi-facet__input {
    padding: 0 15px 0 22px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 11px;
    line-height: 16px;
    height: 28px;
    color: #A6A6A6;
}

#digi-shield.digi_desktop .digi-facet-filter__input {
    font-size: 14px;
}

#digi-shield.digi_mobile .digi-facet_common_full-screen {
    padding: 0 20px;
    box-shadow: none;
}

#digi-shield.digi_mobile .digi-facet_common_dropdown {
    padding: 0 20px;
    box-shadow: 0px 1px 0px #F0F0F0;
}

#digi-shield.digi_mobile .digi-facet_common_dropdown .digi-facet__header {
    position: relative;
    padding: 16px 0;
}

#digi-shield.digi_mobile .digi-facet_common_dropdown .digi-facet__toggle {
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
}

#digi-shield.digi_mobile .digi-facet_common_dropdown .digi-facet-options {
    display: none;
    margin-top: 4px;
}

#digi-shield.digi_desktop .digi-facet-options.digi-facet-options_boolean {
    display: none;
}

#digi-shield.digi_mobile .digi-facet_common_dropdown .digi-facet-options__item {
    margin-bottom: 20px;
}

#digi-shield.digi_mobile .digi-facet_common_dropdown .digi-facet-options.digi-facet-options-opened {
    display: flex;
}

#digi-shield.digi_mobile .digi-facet_common_dropdown .digi-facet__toggle__icon-active {
    transform: rotate(180deg);
}

#digi-shield .digi-facet-options_scrollable {
    max-height: 240px;
    overflow: auto;
    padding-right: 10px;
}

#digi-shield .digi-facet-options_offset {
    margin-top: 50px;
}

#digi-shield.digi_mobile .digi-facet-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

#digi-shield.digi_desktop .digi-facet-options_scrollable {
    padding-right: 5px;
}

#digi-shield.digi_mobile .digi-facet_common_full-screen .digi-facet-options {
    margin-bottom: 50px;
}

#digi-shield.digi_mobile .digi-facet-options__item {
    width: 50%;
    margin-bottom: 27px;
}

#digi-shield.digi_mobile .digi-facet-options__item:not(:last-child) {
    margin-bottom: 18px;
}

#digi-shield.digi_desktop .digi-facet-options__item:not(:last-child) {
    margin-bottom: 10px;
}

#digi-shield .digi-facet-option {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

#digi-shield.digi_desktop .digi-facet-options__item:hover .digi-facet-option__text {
    text-decoration: underline;
}

#digi-shield .digi-facet-option__text {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    color: var(--font-color-main);
    font-size: 13px;
    line-height: 19px;
}

#digi-shield .digi-facet-option__amount {
    flex: 1 0 20px;
    font-size: 10px;
    line-height: 19px;
    text-align: right;
    color: #232325;
    margin-left: 10px;
    font-weight: var(--font-weight-main);
}

#digi-shield .digi-facet-option_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#digi-shield.digi-desktop .digi-facet-option:not(.digi-facet-option_disabled):hover .digi-facet-option__checkmark {
    border-color: var(--color-primary);
}

#digi-shield.digi_mobile .digi-facet-option__amount {
    display: none;
}

#digi-shield.digi_desktop .digi-facet-option__text {
    font-size: 11px;
    color: #000;
}

#digi-shield.digi_desktop .digi-facet-option__amount {
    flex: 1 0 10px;
    color: #A6A6A6;
}

#digi-shield .digi-facet-option__checkbox {
    display: none;
}

#digi-shield .digi-facet-option__checkbox:checked ~ .digi-facet-option__checkmark:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.04894L3.47553 6.52447L9 1' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--color-primary);
    border-radius: 2px;
}

#digi-shield .digi-facet-option__checkbox:checked ~ .digi-facet-option__amount {
    color: var(--color-primary);
}

#digi-shield.digi_desktop .digi-facet-option__checkbox:checked ~ .digi-facet-option__checkmark:after {
    background-color: #FFEA32;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.04894L3.47553 6.52447L9 1' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}

#digi-shield.digi_desktop .digi-facet-option__checkbox:checked ~ .digi-facet-option__amount {
    color: #A6A6A6;
}

#digi-shield .digi-facet-option__checkmark {
    position: relative;
    flex: 1 0 14px;
    width: 14px;
    height: 14px;
    max-width: 14px;
    margin-right: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

#digi-shield .digi-facet-option__checkbox:checked ~ .digi-facet-option__checkmark {
    border-color: var(--color-primary);
}

#digi-shield .digi-facet__header-boolean-mobile {
    display: flex;
    justify-content: space-between;
}

#digi-shield.digi_mobile .digi-facet__boolean__toggle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

#digi-shield.digi_mobile .digi-facet__boolean__toggle .digi-facet__title__name {
    max-width: calc(100% - 34px - 10px);
}

#digi-shield.digi_mobile .digi-facet__boolean__toggle .digi-facet-option__checkmark {
    position: absolute;
    right: 2px;
    width: 34px;
    height: 18px;
    max-width: 34px;
    margin-right: 0;
    background: #F3F3F3;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 100px;
}

#digi-shield.digi_mobile .digi-facet__boolean__toggle .digi-facet-option__checkmark:after {
    content: "";
    display: block;
    position: absolute;
    left: -2px;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

#digi-shield.digi_mobile .digi-facet__boolean__toggle .digi-facet-option__checkbox:checked ~ .digi-facet-option__checkmark {
    background: #FFF200;
    border: 1px solid #FFF200;
}

#digi-shield.digi_mobile .digi-facet__boolean__toggle .digi-facet-option__checkbox:checked ~ .digi-facet-option__checkmark:after {
    content: "";
    display: block;
    position: absolute;
    left: initial;
    right: -2px;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    transform: none;
}

#digi-shield.digi_mobile .digi-facet_slider {
    padding-top: 0;
}

#digi-shield .digi-facet-slider {
    display: flex;
    align-items: center;
}

#digi-shield .digi-facet_slider_toggle-wrapper {
    position: relative;
    padding: 8px 0;
}

#digi-shield .digi-facet-slider__slot {
    position: relative;
}

#digi-shield.digi_desktop .digi-facet-slider__slot {
    display: flex;
    align-items: center;
}

#digi-shield .digi-facet-slider__slot span {
    color: #AEAEAE;
    font-size: 10px;
    line-height: 15px;
}

#digi-shield .digi-facet__toggle {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 3px;
    top: 50%;
    transform: translate(0, -50%);
}

#digi-shield .digi-facet__toggle__icon-active {
    transform: rotate(180deg);
}

#digi-shield .digi-facet-slider__divider {
    margin: 0 4px;
    width: 8px;
    height: 1px;
    background-color: #AEAEAE;
}

#digi-shield.digi_desktop .digi-facet-slider__divider {
    display: none;
}

#digi-shield.digi_desktop .digi-facet-slider__input {
    width: 100%;
    padding: 0 5px 0 3px;
    border: 1px solid var(--border-color);
    font-size: 11px;
    color: #000;
    height: 17px;
}

#digi-shield.digi_desktop .digi-facet-slider__input:not(:disabled):active, #digi-shield.digi_desktop .digi-facet-slider__input:not(:disabled):focus {
    border-color: #000;
}

#digi-shield.digi_desktop .digi-facet-slider__input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#digi-shield .digi-facet-slider__label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--color-secondary);
    font-size: var(--font-size-third-mobile);
    line-height: 11px;
    text-transform: capitalize;
}

#digi-shield.digi_desktop .digi-facet-slider__label {
    display: flex;
    align-items: center;
    position: initial;
    transform: initial;
    font-size: 11px;
    line-height: 19px;
    color: #000000;
    margin-right: 3px;
}

#digi-shield.digi_desktop .digi-facet-slider__label-between {
    margin: 0 3px;
    text-transform: lowercase;
}

#digi-shield .vue-slider {
    width: 100% !important;
    max-width: none !important;
    margin: 10px auto 10px !important;
    padding: 0 12px !important;
    height: var(--rail-height-mobile) !important;
    border-radius: 30px !important;
    background-color: #9B9B9B;
}

#digi-shield.digi_mobile .vue-slider {
    display: none;
    padding: 0 calc(var(--dot-size-mobile) / 2) !important;
}

#digi-shield.digi_mobile .vue-slider-opened {
    display: block;
}

#digi-shield.digi_desktop .vue-slider {
    padding: 0 calc(var(--dot-size-desktop) / 2) !important;
    margin: 20px auto 5px !important;
    height: var(--rail-height-desktop) !important;
    border-radius: 100px;
    background: linear-gradient(0deg, #9E9E9E 0%, #C8C8C8 100%);
    box-shadow: 0px 1px 0px #666666;
    cursor: pointer;
}

#digi-shield .vue-slider-rail {
    height: 100%;
}

#digi-shield .vue-slider-process {
    background: linear-gradient(270deg, #FCF105 0%, #FFF200 100%) !important;
}

#digi-shield.digi_desktop .vue-slider-process {
    background: linear-gradient(0deg, #F7DC18 0%, #FEF04E 100%);
    box-shadow: 0px 1px 0px #CEB500;
}

#digi-shield .vue-slider-dot {
    z-index: 1 !important;
    border: 1px solid #D3D3D3 !important;
    border-radius: 50% !important;
    background-color: #ffffff !important;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

#digi-shield.digi_mobile .vue-slider-dot {
    width: var(--dot-size-mobile) !important;
    height: var(--dot-size-mobile) !important;
}

#digi-shield.digi_desktop .vue-slider-dot {
    width: var(--dot-size-desktop) !important;
    height: var(--dot-size-desktop) !important;
    border: none !important;
    background: linear-gradient(180deg, #525252 0%, #0B0B0A 100%) !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

#digi-shield .digi-facet-slider__values {
    display: flex;
    justify-content: space-between;
}

#digi-shield .digi-facet-slider__values-value {
    font-size: 11px;
    line-height: 16px;
    color: #777777;
}

#digi-shield .digi-products-scroll-handler {
    /* Mobile only wrapper to handle scroll */
    height: 100vh;
    overflow: hidden;
    padding: 0;
    background: #fff;
}

#digi-shield .digi-products-scroll-handler-fix {
    height: 100vh;
    overflow: auto;
    padding: 0;
    background: #fff;
}

#digi-shield .digi-products-grid {
    display: flex;
    flex-wrap: wrap;
}

#digi-shield.digi_desktop .digi-products-grid_horde .digi-product {
    max-width: 219px;
}

#digi-shield .digi-products {
    padding-bottom: 10px;
}

#digi-shield.digi_desktop .digi-products {
    padding-bottom: 100px;
}

#digi-shield .digi-product {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    padding-bottom: 15px;
    white-space: normal;
    word-break: break-word;
    position: relative;
}

#digi-shield .digi-product_ac {
    margin-bottom: 0;
    padding-bottom: 0;
}

#digi-shield.digi_mobile .digi-product {
    width: 100%;
    padding: 15px 20px 20px 20px;
    margin-bottom: 0;
    box-shadow: 0px 1px 0px #F0F0F0;
}

#digi-shield.digi_mobile .digi-product:last-child {
    box-shadow: none;
}

#digi-shield.digi_desktop .digi-product {
    flex-direction: column;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}

#digi-shield.digi_desktop .digi-product-list {
    transition: all 0.5s ease;
    flex-basis: calc(100% / 3 - 14px / 2);
    margin-right: 10px;
}

#digi-shield.digi_desktop .digi-product-list:nth-child(3n+3) {
    margin-right: 0;
}

#digi-shield.digi_desktop .digi-product-list:hover {
    border: 1px solid #a2a2a2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#digi-shield.digi_desktop .digi-product_ac {
    margin-bottom: 30px;
}

#digi-shield .digi-product__image-wrapper {
    width: auto;
    height: 138px;
    position: relative;
}

#digi-shield.digi_mobile .digi-product__image-wrapper {
    padding-top: 5px;
    min-width: 107px;
    height: 107px;
    margin-right: 15px;
}

#digi-shield.digi_desktop .digi-product__image-wrapper {
    height: 130px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#digi-shield .digi-product-unavailable .digi-product__image {
    opacity: 0.6;
}

#digi-shield .digi-proudct__image-unavailable-label {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
    font-weight: 700;
    color: #000;
    font-size: 10px;
    z-index: 1;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#digi-shield.digi_desktop .digi-proudct__image-unavailable-label {
    font-size: 12px;
}

#digi-shield .digi-product__available-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    position: relative;
}

#digi-shield.digi_mobile .digi-product__available-wrapper {
    justify-content: flex-start;
    margin-bottom: 0px;
}

#digi-shield.digi_desktop .digi-product__available-button {
    cursor: pointer;
}

#digi-shield.digi_desktop .digi-product__available-list-wrapper {
    position: absolute;
    top: 22px;
    background: #fff;
    padding: 5px;
    border: 1px solid #dadada;
    padding: 1.53846em;
    border-radius: .38462em;
    box-shadow: 0 0 10px #999;
    width: 600px;
    z-index: 10;
}

#digi-shield.digi_desktop .digi-product__available__arrow {
    display: block;
    content: '';
    position: absolute;
    top: -6px;
    right: 39px;
    background: url(/static/images/arrow-block-up.png) no-repeat;
    width: 9px;
    height: 6px;
}

#digi-shield.digi_desktop .digi-product__available-preloader {
    white-space: nowrap;
}

#digi-shield.digi_desktop .digi-product__deliveries-wrap {
    padding-bottom: 20px
}

#digi-shield.digi_desktop .digi-product__deliveries-head {
    font-size: 13px;
    color: #000;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

#digi-shield.digi_desktop .digi-product__deliveries-list__item {
    display: flex;
    align-items: center;
    border-top: 1px solid #ededed;
    height: 50px;
    font-size: 11px;
}

#digi-shield.digi_desktop .digi-product__deliveries-list__item {

}

#digi-shield.digi_desktop .digi-product__deliveries__delivery-title {
    width: 45%;
    padding-right: 10px;
}

#digi-shield.digi_desktop .digi-product__deliveries__delivery-delay {
    width: 25%;
}

#digi-shield.digi_desktop .digi-product__deliveries__delivery-delay strong {
    font-weight: 700;
}

#digi-shield.digi_desktop .digi-product__deliveries__delivery-price {
    width: 10%;
    text-align: center;
}

#digi-shield.digi_desktop .digi-product__deliveries__delivery-buy {
    width: 20%;
    text-align: center;
}

#digi-shield.digi_desktop .digi-product__deliveries__all-offers {
    margin-top: 10px;
}

#digi-shield.digi_desktop .digi-product__deliveries__all-offers a {
    text-decoration: underline;
    color: #000;
    font-weight: 700;
    font-size: 11px;
}

#digi-shield .digi-product__available-label {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #5EA033;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-left: 4px;
}

#digi-shield.digi_mobile .digi-product__available-label {
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    color: #232325;
    border-bottom-style: dotted;
    border-bottom-color: #979797;
    margin-left: 10px;
}

#digi-shield .digi-product__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

#digi-shield.digi_desktop .digi-product__main {
    padding: 0 10px;
}

#digi-shield .digi-product__meta {
    flex-grow: 1;
    margin-bottom: 10px;
}

#digi-shield.digi_mobile .digi-product__meta {
    margin-bottom: 6px;
}

#digi-shield.digi_desktop .digi-product__meta {
    margin-bottom: 8px;
}

#digi-shield .digi-product__vendor-code {
    font-size: 10px;
    line-height: 17px;
    opacity: 0.5;
}

#digi-shield.digi_mobile .digi-product__vendor-code {
    font-style: normal;
    font-weight: 300;
    color: #999999;
    opacity: 1;
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 12px;
}

#digi-shield.digi_desktop .digi-product__vendor-code {
    opacity: initial;
    font-size: 11px;
    line-height: 16px;
    color: #646464;
}

#digi-shield.digi_desktop .digi-product-header {
    height: 27px;
    background: #F0F0F0;
    border-radius: 5px 5px 0 0;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
}

#digi-shield .digi-product__rating a {
    display: flex;
    justify-content: space-between;
}

#digi-shield.digi_desktop .digi-product__rating a {
    width: 65px;
    margin-right: 15px;
}

#digi-shield.digi_mobile .digi-product__rating a {
    width: 71px;
}

#digi-shield .digi-icon-star {
    display: inline-block;
    height: 11px;
    width: 11px;
}

#digi-shield.digi_mobile .digi-icon-star-active {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.04826 0.234043C5.11918 0.0908085 5.26522 0 5.42484 0C5.58445 0 5.73073 0.0908085 5.80141 0.234043L7.15207 2.97117C7.21315 3.09498 7.33158 3.18087 7.46849 3.20077L10.489 3.6396C10.6475 3.66253 10.7786 3.77347 10.8279 3.92536C10.8773 4.07726 10.8361 4.24436 10.7217 4.35577L8.5362 6.48649C8.4372 6.58291 8.39203 6.72194 8.4152 6.85815L8.93103 9.86677C8.95771 10.0245 8.89335 10.1837 8.76369 10.2777C8.63426 10.3714 8.46318 10.3838 8.32135 10.3098L5.61956 8.88917C5.49739 8.82481 5.35111 8.82481 5.22871 8.88917L2.52692 10.3096C2.38556 10.3838 2.21401 10.3716 2.08458 10.2777C1.95515 10.1839 1.89056 10.0245 1.91747 9.86677L2.4333 6.85815C2.45671 6.72194 2.4113 6.58291 2.3123 6.48649L0.126814 4.35577C0.0123673 4.24413 -0.0288242 4.07726 0.0205588 3.92536C0.0699418 3.77347 0.20124 3.66253 0.359686 3.6396L3.38071 3.20077C3.51739 3.18087 3.63581 3.09498 3.6969 2.97094L5.04826 0.234043Z' fill='%23FFDC00'/%3E%3C/svg%3E%0A");
}

#digi-shield.digi_mobile .digi-icon-star-passive {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.04826 0.234043C5.11918 0.0908085 5.26522 0 5.42484 0C5.58445 0 5.73073 0.0908085 5.80141 0.234043L7.15207 2.97117C7.21315 3.09498 7.33158 3.18087 7.46849 3.20077L10.489 3.6396C10.6475 3.66253 10.7786 3.77347 10.8279 3.92536C10.8773 4.07726 10.8361 4.24436 10.7217 4.35577L8.5362 6.48649C8.4372 6.58291 8.39203 6.72194 8.4152 6.85815L8.93103 9.86677C8.95771 10.0245 8.89335 10.1837 8.76369 10.2777C8.63426 10.3714 8.46318 10.3838 8.32135 10.3098L5.61956 8.88917C5.49739 8.82481 5.35111 8.82481 5.22871 8.88917L2.52692 10.3096C2.38556 10.3838 2.21401 10.3716 2.08458 10.2777C1.95515 10.1839 1.89056 10.0245 1.91747 9.86677L2.4333 6.85815C2.45671 6.72194 2.4113 6.58291 2.3123 6.48649L0.126814 4.35577C0.0123673 4.24413 -0.0288242 4.07726 0.0205588 3.92536C0.0699418 3.77347 0.20124 3.66253 0.359686 3.6396L3.38071 3.20077C3.51739 3.18087 3.63581 3.09498 3.6969 2.97094L5.04826 0.234043Z' fill='%23EFEFEF'/%3E%3C/svg%3E%0A");
}

#digi-shield.digi_desktop .digi-icon-star {
    height: 10px;
    width: 13px;
}

#digi-shield.digi_desktop .digi-icon-star-active {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.63568 0L8.52033 3.17722L12.7343 3.68694L9.68497 6.16028L10.4046 9.65278L6.63568 8.00361L2.86672 9.65278L3.5864 6.16028L0.537109 3.68694L4.75103 3.17722L6.63568 0Z' fill='%237FA93A'/%3E%3C/svg%3E%0A");
}

#digi-shield.digi_desktop .digi-icon-star-passive {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.7724 0L8.65705 3.17722L12.871 3.68694L9.82169 6.16028L10.5414 9.65278L6.7724 8.00361L3.00344 9.65278L3.72311 6.16028L0.673828 3.68694L4.88775 3.17722L6.7724 0Z' fill='%23979797'/%3E%3C/svg%3E%0A");
}

#digi-shield .digi-product__compare {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

#digi-shield .digi-product__compare-icon {
    display: block;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIaSURBVHgBdVJNi1JhFNarZF6/UkpLc1RMcDbuRElQN+l/kFy0SFI3odVCEMtCVAo3VuouhPwPJZGRRIsW4SKJccZBxVEZR+fDzXzcOecy73AdZg5c3vPe55znPec5h8e7whiGEeRyuecymWw3m82+GA6Ht0ajkWYwGNycTCYywKmLCcLxeHy70+lYWq3WaiaTSVAUdYwQflKpdE+n0/Vpmj5wOBy/gUi/RACJKzab7a9YLF6YzeY1q9X6T61Wj/h8/onJZFpvNBpujEun00mLxfK/3+/fxft5GSKR6GSxWNDJZPINkN1rt9ur1Wr1oVwu3y2Xy088Hs8PNoGiGIFAcAzx8yUCKG8qFAoPuVX5/f6vSqVyx+fzfcE76tBsNu/DA+ZarfYI2haR/sWpVOoVum63u9Hr9XSERK/XbxI/HA5/VKlU26FQqISxpVIpxAKFQuEp/oDyX2u12kEwGPxEkgwGQ5f4LpfrJ4qMPmridDp/sQCqCsrb0IcR3YEqvp9Vdh0FJQToJxKJTDQaLeJjCoVixkcARxQIBD7PZrMbEolkv16vP4A2VqbTqcJut/9BUcm0eVcYc8nHLhO3hVgs9o4bUywWoyyA4+ICL8FIktFo3Dh/hWFoELCMbj6ff7ZUQqVSeYxAPB5/S9bU6/V+w9HiySGRdLtdE27ucg+QNJ/PVXBei0Qi7zUazRYszBES4Il3GOMH3gU7BVrMAJefcnIuAAAAAElFTkSuQmCC');
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}

#digi-shield .digi-product__compare.digi-product__compare-active .digi-product__compare-icon {
    background-image: url(/static/images/icon/icon-compare-md-lightgreen.svg);
}

#digi-shield.digi_desktop .digi-product__compare-input {
    position: fixed;
    left: -999px;
}

#digi-shield.digi_desktop .digi-product__compare-button-text {
    display: none;
}

#digi-shield .digi-product__brand {
    display: none;
    margin-bottom: 5px;
    line-height: 18px;
    font-size: var(--font-size-second-mobile);
    color: var(--color-secondary);
}

#digi-shield .digi-product__label,
#digi-shield .digi-product__label * {
    line-height: 18px;
}

#digi-shield .digi-product__description {
    height: 39px;
    overflow: hidden;
    margin-bottom: 7px;
    font-size: 11px;
    line-height: 13px;
    color: #646464;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

#digi-shield.digi_desktop .digi-product__varranty span {
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #000;
}

#digi-shield.digi_mobile .digi-product__description, #digi-shield.digi_mobile .digi-product__varranty {
    display: none;
}

#digi-shield.digi_desktop .digi-product__varanty {
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #000;
}

#digi-shield .digi-product__label a {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: calc(18px * 3);
    /* line-height on strings */
}

#digi-shield.digi_mobile .digi-product__label a {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #232325;
    margin-bottom: 5px;
    line-height: 18px;
}

#digi-shield.digi_desktop .digi-main .digi-product__label a {
    font-size: 11px;
    line-height: 13px;
    font-weight: var(--font-weight-thickest);
    text-decoration-line: underline;
    color: #000000;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: calc(13px * 2);
}

#digi-shield .digi-product__label {
    font-size: var(--font-size-second-mobile);
}

#digi-shield.digi_desktop .digi-product__footer {
    display: flex;
    justify-content: space-between;
}

#digi-shield .digi-product__price {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

#digi-shield .digi-product-price-variant_actual, #digi-shield .digi-product-price-variant_old, #digi-shield .digi-product-price-variant__currency {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #232325;
}

#digi-shield .digi-product-price-variant_actual {
    margin-right: 10px;
}

#digi-shield .digi-product-price-variant_old {
    display: flex;
    align-items: flex-end;
    color: var(--border-color);
}

#digi-shield.digi_desktop .digi-product__price .digi-product-price-variant_actual,
#digi-shield.digi_desktop .digi-product__price .digi-product-price-variant_old,
#digi-shield.digi_desktop .digi-product__price .digi-product-price-variant__currency {
    color: #000000;
}

#digi-shield.digi_mobile .digi-product__price {
    margin-bottom: 5px;
}

#digi-shield .digi-product__actions {
    display: flex;
    margin-top: 15px;
}

#digi-shield.digi_mobile .digi-product__actions {
    margin-top: 10px;
}

#digi-shield.digi_desktop .digi-product__actions {
    margin-top: 0;
}

#digi-shield .digi-product__button-wrapper {
    flex-basis: 124px;
}

#digi-shield .digi-product__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height-input-mobile);
    flex-basis: 124px;
    width: 100%;
    max-width: 100%;
    color: var(--font-color-main);
    background: #FCF105;
    border-radius: 3px;
    border: 1px solid #FCF105;
}

#digi-shield.digi_desktop .digi-product__button {
    height: initial;
    border: none;
    padding: .76923em;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #000000;
    transition: all .3s;
    cursor: pointer;
    background-color: #ffea32;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fef04e), to(#f7dc18));
    background-image: linear-gradient(#fef04e, #f7dc18);
    border: 1px solid #d5c749;
}
#digi-shield.digi_desktop .digi-product__button span {
    line-height: 16px;
}

#digi-shield.digi_desktop .digi-product__button:hover {
    background-color: #fff042;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fffa59), to(#ffe629));
    background-image: linear-gradient(#fffa59, #ffe629);
}

#digi-shield .digi-text-in-cart-btn,
#digi-shield .digi-done-btn-text {
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    font-weight: 700;
}

#digi-shield .digi-product__button.add-to-cart-inactive,
#digi-shield .digi-product__button.add-to-cart-done {
    background-color: rgba(252, 241, 5, 0.1);
}

#digi-shield .add-to-cart-done .digi-text-in-cart-btn,
#digi-shield .add-to-cart-inactive .digi-text-in-cart-btn {
    display: none;
}

#digi-shield .digi-product__button-added {
    display: none;
    background-color: rgba(252, 241, 5, 0.1);
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#digi-shield .digi-preloader-saw {
    display: none;
    width: 28px;
    height: 28px;
    background-size: cover;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
}

#digi-shield .add-to-cart-inactive .digi-preloader-saw {
    display: block;
}

#digi-shield .add-to-cart-done .digi-preloader-saw {
    display: none;
}

#digi-shield .digi-done-btn-content {
    display: none;
}

#digi-shield .add-to-cart-done .digi-done-btn-content {
    display: block;
}

#digi-shield .digi-done-btn-icon {
    display: inline-block;
    font-family: icons;
    font-style: normal;
    font-weight: 400;
    speak: none;
    font-variant: normal;
    text-transform: none;
    line-height: 17px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 11px;
    color: #72c366;
    font-size: 18px;
}

#digi-shield .digi-done-btn-icon:before {
    content: "";
    display: inline-block;
}

#digi-shield .digi-product__unavailable-wrapper {
    width: 100%;
}

#digi-shield .digi-product__button-unavailable {
    flex-basis: 100%;
    width: 130px;
    margin-top: 10px;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    height: 52px;
}

#digi-shield.digi_desktop .digi-product__button-unavailable {
    border-radius: 3px;
    text-align: center;
    padding: 1px 0.76923em !important;
    color: #000;
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#dadada));
    background-image: linear-gradient(#f1f1f1, #dadada);
    border: 1px solid #ccc;
    font-size: 11px;
    box-shadow: none;
    margin-top: 0.38462em;
    line-height: 0.95em;
    max-width: 89px;
    font-weight: normal;
    margin-left: auto;
}

#digi-shield .digi-product__ubavailable-label {
    display: flex;
    align-items: flex-start;
}

#digi-shield .digi-product__ubavailable-label span {
    margin-left: 5px;
    font-weight: 300;
    font-size: 10px;
    line-height: 9px;
}

#digi-shield.digi_desktop .digi-product__ubavailable-label span {
    margin-left: auto;
    font-size: 11px;
}

#digi-shield.digi_desktop .digi-product__ubavailable-label svg {
    display: none;
}

#digi-shield .digi-pagination {
    display: flex;
    margin-bottom: 40px;
}

#digi-shield .digi-pagination__button {
    color: var(--color-secondary);
}

#digi-shield .digi-pagination__button_active {
    color: #000000;
}

#digi-shield.digi_mobile .digi-pagination__button {
    padding: 6px;
    font-size: 13px;
}

#digi-shield.digi_mobile .digi-pagination__button:not(:last-child) {
    margin-right: 10px;
}

#digi-shield.digi_desktop .digi-pagination__button {
    padding: 4px;
    font-size: 16px;
}

#digi-shield.digi_desktop .digi-pagination__button:not(:last-child) {
    margin-right: 20px;
}

#digi-shield .digi-ac {
    z-index: 2;
    width: 100%;
    overscroll-behavior: none;
    background-color: #ffffff;
}

#digi-shield.digi_mobile .digi-ac {
    position: relative;
    height: calc(100vh - 24px - (20px * 3) - 41px);
    overflow: auto;
    padding-bottom: 41px;
}

#digi-shield.digi_desktop .digi-ac {
    position: absolute;
    top: calc(var(--indent-search-desktop) * 2 + var(--height-input-desktop));
    height: auto;
    max-height: calc(100vh - 60px - 175px);
    width: 700px;
    overflow: visible;
    right: calc(50% - var(--wrapper-width) / 2);
    padding: 0 !important;
}

#digi-shield.digi_desktop .digi-ac .digi-wrapper {
    padding: 0;
}

#digi-shield.digi_searchless .digi-ac {
    top: 0;
    padding: 5px 0;
}

.digi-is-container-scrolled #digi-shield.digi_desktop .digi-ac {
    margin-top: 10px;
}

#digi-shield.digi_desktop .digi-ac::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    width: 5px;
    height: 5px;
    background-color: #fff;
}

.digi-is-container-scrolled #digi-shield.digi_desktop .digi-ac::before {
    display: none;
}

#digi-shield.digi_desktop .digi-ac::after {
    display: block;
    content: '';
    position: absolute;
    right: 1px;
    top: -5px;
    width: 5px;
    height: 5px;
    background-color: #000;
}

.digi-is-container-scrolled #digi-shield.digi_desktop .digi-ac::after {
    display: none;
}

#digi-shield .digi-ac-block {
    margin-bottom: calc(var(--indent-vertical-main-mobile) - var(--indent-vertical-inner-mobile) / 2);
}

#digi-shield.digi_desktop .digi-ac-block {
    margin-bottom: 0;
    /* margin-bottom: calc(var(--indent-vertical-main-desktop) - var(--indent-vertical-inner-desktop)/2); stayed here if i did smth wrng*/
}

#digi-shield.digi_desktop .digi-ac-block-history {
    order: 0;
}

#digi-shield.digi_desktop .digi-ac-block-queries {
    order: 1;
}

#digi-shield.digi_desktop .digi-ac-block-categories {
    order: 2;
}

#digi-shield.digi_desktop .digi-ac-block-brands {
    order: 3;
}

#digi-shield.digi_desktop .digi-ac-block-products {
    margin-bottom: 0;
}

#digi-shield .digi-ac-block__title {
    margin-bottom: 10px;
    padding: 0 var(--indent-main-mobile);
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
    color: #232325;
    opacity: 0.3;
}

#digi-shield.digi_desktop .digi-ac-block__title {
    line-height: 19px;
    font-size: 11px;
    text-transform: lowercase;
    color: #A6A6A6;
    opacity: 1;
    font-weight: normal;
    padding: 0 15px;
    margin-top: 8px;
    display: none;
}

#digi-shield.digi_mobile .digi-ac-block__title {
    font-size: 10px;
}

#digi-shield.digi_mobile .digi-ac-block__title_products {
    display: none;
}

/*
#digi-shield.digi_desktop .digi-ac-block__title {
    display: none;
}*/

#digi-shield .digi-ac-block__button {
    display: block;
    width: 100%;
    font-size: var(--font-size-main-mobile);
    padding: calc(var(--indent-vertical-inner-mobile) / 2) var(--indent-main-mobile);
    line-height: 21px;
    text-align: left;
}

#digi-shield.digi_desktop .digi-ac-block__button {
    line-height: 19px;
}

#digi-shield .digi-ac-block__button-queries {
    display: flex;
}

#digi-shield .digi-ac-block__button-queries, #digi-shield .digi-ac-block__button-category {
    box-shadow: 0px 1px 0px #F0F0F0;
    padding: var(--indent-vertical-inner-mobile) var(--indent-main-mobile);
    position: relative;
}

#digi-shield .digi-ac-block__button b {
    line-height: 21px;
}

#digi-shield.digi_desktop .digi-ac-block__button b {
    line-height: 19px;
}

#digi-shield.digi_desktop .digi-ac-block__button {
    font-size: var(--font-size-main-desktop);
}

#digi-shield.digi_desktop .digi-ac-block__button:hover {
    background-color: var(--color-tap-bg);
}

#digi-shield.digi_desktop .digi-ac-block__button,
#digi-shield.digi_desktop .digi-ac-block__button-queries,
#digi-shield.digi_desktop .digi-ac-block__button-category {
    margin: 0 5px;
    padding: calc(var(--indent-vertical-inner-desktop) / 2) 10px;
    box-shadow: none;
    width: calc(100% - 10px);
}

#digi-shield.digi_desktop .digi-ac-block__button-category, #digi-shield.digi_desktop .digi-ac-block__button-brands {
    display: flex;
    align-items: center;
}

#digi-shield.digi_mobile .digi-ac-block__button-category {
    display: flex;
    justify-content: space-between;
}

#digi-shield.digi_mobile .digi-ac-category__text {
    max-width: 260px;
}

#digi-shield.digi_desktop .digi-ac-category__text {
    display: flex;
    max-width: 100%;
}

#digi-shield.digi_desktop .digi-ac-block__button b {
    font-weight: var(--font-weight-main);
}

#digi-shield.digi_desktop .digi-ac-category__term,
#digi-shield.digi_desktop.digi-ac-queries__text,
#digi-shield.digi_desktop .digi-ac-brands__term,
#digi-shield.digi_desktop .digi-ac-history__text {
    font-weight: var(--font-weight-thickest);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    max-height: 19px;
}

#digi-shield .digi-ac-history {
    display: flex;
    align-items: flex-start;
    padding: var(--indent-vertical-inner-mobile) var(--indent-main-mobile);
}

#digi-shield.digi_desktop .digi-ac-history {
    align-items: center;
}

#digi-shield .digi-ac-history__icon-wrapper {
    display: flex;
    align-items: center;
    min-height: 21px;
}

#digi-shield.digi_desktop .digi-ac-history__icon-wrapper {
    min-height: initial;
}

#digi-shield .digi-ac-history__icon {
    min-width: 18px;
    margin-right: 11px;
}

#digi-shield .digi-ac-history__text {
    color: var(--color-history);
    margin-right: 20px;
}

#digi-shield.digi_desktop .digi-ac-history__text {
    color: #551A8B;
}

#digi-shield .digi-ac-history__clear {
    display: flex;
    position: relative;
    min-width: 20px;
    height: 18px;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

#digi-shield .digi-ac-history__clear:hover:before, #digi-shield .digi-ac-history__clear:hover:after {
    background-color: #000000;
}

#digi-shield.digi_desktop .digi-ac-history__clear {
    font-size: 11px;
    line-height: 19px;
    min-width: 42px;
    color: #A6A6A6;
}

#digi-shield.digi_desktop .digi-ac-history__clear:hover {
    color: #000;
}

#digi-shield .digi-ac-queries__icon-wrapper {
    display: flex;
    align-items: center;
    min-width: 15px;
    height: 21px;
    margin-right: 11px;
    margin-left: 4px;
}

#digi-shield.digi_desktop .digi-ac-queries__icon-wrapper {
    display: none;
}

#digi-shield .digi-ac-queries__icon {
    fill: #C5C5C5;
}

#digi-shield .digi-ac-queries__text {
    font-size: var(--font-size-main-mobile);
    line-height: 21px;
    text-align: left;
}

#digi-shield.digi_desktop .digi-ac-queries__text {
    line-height: 19px;
    font-weight: 700;
}

#digi-shield .digi-ac-queries__text b {
    line-height: 21px;
}

#digi-shield.digi_desktop .digi-ac-queries__text b {
    line-height: 19px;
}

#digi-shield .digi-tips {
    display: flex;
    overflow: auto;
    margin-left: var(--indent-main-mobile);
    padding-right: var(--indent-main-mobile);
    margin-top: 10px;
}

#digi-shield .digi-tips_scrollable {
    margin-bottom: 20px;
}

#digi-shield.digi_mobile .digi-tips::-webkit-scrollbar,
#digi-shield.digi_mobile .digi-tips *::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#digi-shield.digi_mobile .digi-tips_scrollable:after {
    content: "";
    display: block;
    flex: 0 0 20px;
}

#digi-shield.digi_mobile .digi-tips_refs {
    flex: 0 0 auto;
    padding-top: 0;
}

#digi-shield.digi_desktop .digi-tips_refs {
    width: calc(100% - 280px);
    margin: 0;
    margin-top: 0;
    padding: 0;
}

#digi-shield .digi-tip {
    margin-right: calc(var(--indent-vertical-inner-mobile) / 2);
    margin-bottom: calc(var(--indent-vertical-inner-mobile) / 2);
}

#digi-shield .digi-tip:last-child {
    margin-right: 0;
}

#digi-shield.digi_mobile .digi-tip {
    margin-bottom: 0;
}

#digi-shield.digi_desktop .digi-tip {
    margin-bottom: 10px;
}

#digi-shield .digi-tip__cloud {
    color: #0E0E0E;
    white-space: nowrap;
    border-radius: 20.5px;
}

#digi-shield.digi_mobile .digi-tip__cloud {
    height: var(--height-input-mobile);
    padding: 0 18px;
    background-color: var(--color-tap-bg);
    font-size: var(--font-size-main-mobile);
    line-height: var(--height-input-mobile);
}

#digi-shield.digi_desktop .digi-tip__cloud {
    padding: 5px 10px;
    background: rgba(252, 241, 5, 0.2);
    border-radius: 40px;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

#digi-shield.digi_desktop .digi-tip__cloud:hover {
    color: var(--color-primary-hover);
}

#digi-shield .digi-ac-category__term,
#digi-shield .digi-ac-category__name {
    display: block;
    line-height: 21px;
}

#digi-shield.digi_desktop .digi-ac-category__term,
#digi-shield.digi_desktop .digi-ac-category__name {
    line-height: 19px;
}

#digi-shield .digi-ac-category__name {
    opacity: 0.5;
}

#digi-shield.digi_mobile .digi-ac-category__term {
    font-size: var(--font-size-main-mobile);
    overflow-x: auto;
    text-overflow: ellipsis;
}

#digi-shield.digi_desktop .digi-ac-category__term {
    font-size: 13px;
    margin-right: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#digi-shield .digi-ac-category__name {
    line-height: 20px;
}

#digi-shield.digi_mobile .digi-ac-category__name {
    font-size: var(--font-size-main-desktop);
}

#digi-shield.digi_desktop .digi-ac-category__name {
    font-size: 13px;
    color: #646464;
    opacity: 1;
    white-space: nowrap;
}

#digi-shield .digi-ac-brands__term {
    font-size: 13px;
    margin-right: 5px;
}

#digi-shield .digi-ac-brands__title {
    font-size: 11px;
    line-height: 16px;
    color: #A6A6A6;
}

#digi-shield.digi_desktop .digi-ac__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 60px - 175px);
    overflow: auto;
    padding-top: 5px;
}

#digi-shield.digi_desktop .digi-ac__wrapper:before {
    content: "";
    position: absolute;
    top: -10px;
    transform: translateY(-50%) rotate(45deg);
    left: 50px;
    z-index: 2;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 3px;
}

#digi-shield.digi_desktop .digi-ac__set_main {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-separator);
    width: 100%;
}

#digi-shield.digi_desktop .digi-ac__set_products {
    flex-grow: 1;
}

#digi-shield.digi_ie .digi-ac__set_products {
    flex: 1 1 100%;
}

#digi-shield.digi_desktop .digi-ac-block-products .digi-products-grid {
    display: flex;
    flex-direction: column;
}

#digi-shield.digi_desktop .digi-product_ac {
    flex-direction: row;
    margin: 0 !important;
    border: none;
    border-bottom: 1px solid rgba(211, 211, 211, 0.3);
    align-items: center;
    padding: var(--indent-vertical-inner-desktop) var(--indent-main-desktop);
}

#digi-shield.digi_desktop .digi-product_ac:hover .digi-product__label a {
    text-decoration: underline;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__image-wrapper {
    height: 50px;
    width: 50px;
    margin-right: 35px;
    margin-bottom: 0;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__main {
    justify-content: center;
    padding: 0;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__vendor-code {
    display: none;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__brand {
    display: none;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__meta {
    margin-bottom: 5px;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__label * {
    font-size: 13px;
    line-height: 13px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__price .digi-product-price-variant {
    font-size: 13px;
    line-height: 16px;
}

#digi-shield.digi_desktop .digi-product_ac:hover .digi-product__price .digi-product-price-variant {
    color: #000;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__actions {
    display: none;
}

#digi-shield .digi-ac-find {
    display: none;
}

#digi-shield.digi_desktop .digi-ac-find {
    display: flex;
    padding: 11px 0 14px 0;
    justify-content: center;
}

#digi-shield.digi_desktop .digi-ac-find__button {
    font-weight: var(--font-weight-thickest);
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #646464;
    transition: all .1s;
}

#digi-shield.digi_desktop .digi-ac-find__button:hover {
    color: #000;
    text-decoration: underline;
}

#digi-shield.digi_mobile .digi-sort {
    position: relative;
    top: 0;
    z-index: 3;
    visibility: hidden;
    transition: visibility 0.5s ease, background-color 0.5s ease;
}

#digi-shield.digi_mobile .digi-sort .digi-screen.digi-screen_tiny {
    top: 0px;
    left: 10px;
}

#digi-shield.digi_mobile .digi-sort .digi-sort__overlay-close {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#digi-shield.digi_mobile .digi-sort .digi-screen__content {
    position: relative;
    z-index: 2;
    padding: 0;
    overflow: initial;
    display: flex;
    flex-direction: column;
    width: 150px;
    min-height: 138px;
    /* strange bug */
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

#digi-shield.digi_mobile .digi-sort .digi-screen__actions_top {
    display: none;
}

#digi-shield.digi_mobile .digi-sort .digi-screen__content {
    flex-grow: initial;
}

#digi-shield.digi_mobile .digi-sort_faded {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
}

#digi-shield.digi_mobile .digi-sort__button {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    text-align: left;
}

#digi-shield.digi_mobile .digi-sort__button_active {
    font-weight: var(--font-weight-main);
    background-color: rgba(252, 241, 5, 0.2);
}

#digi-shield.digi_mobile .digi-sort__button__icon {
    display: flex;
    align-items: center;
    min-width: 8px;
    height: 16px;
    margin-right: 10px;
}

#digi-shield.digi_mobile .digi-sort__button__text {
    font-size: 13px;
    line-height: 16px;
}

#digi-shield.digi_desktop .digi-sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 260px;
    margin-left: auto;
    margin-bottom: 10px;
}

#digi-shield.digi_desktop .digi-sort__text,
#digi-shield.digi_desktop .multiselect,
#digi-shield.digi_desktop .multiselect__input,
#digi-shield.digi_desktop .multiselect__single {
    font-family: inherit;
    font-size: 11px;
    line-height: 16px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#digi-shield.digi_desktop .digi-sort__text {
    padding-top: 2px;
    margin-right: 10px;
}

#digi-shield.digi_desktop .multiselect {
    position: relative;
    display: block;
    width: 130px;
    min-height: 23px;
    color: var(--font-color-main);
    text-align: left;
    cursor: pointer;
}

#digi-shield.digi_desktop .multiselect--active {
    z-index: 1;
}

#digi-shield.digi_desktop .multiselect--active .multiselect__select {
    transform: rotate(180deg);
}

#digi-shield.digi_desktop .multiselect--active:not(.multiselect--above) .multiselect__tags {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#digi-shield.digi_desktop .multiselect--active.multiselect--active .multiselect__tags {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#digi-shield.digi_desktop .multiselect--above .multiselect__content-wrapper {
    bottom: 100%;
    border-top: 1px solid #e8e8e8;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

#digi-shield.digi_desktop .multiselect__select {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 25px;
    min-height: 23px;
    padding: 4px 8px;
    text-align: center;
}

#digi-shield.digi_desktop .multiselect__select:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: block !important;
    border-width: 4px 3px 0;
    border-style: solid;
    border-color: #000000 transparent transparent;
}

#digi-shield.digi_desktop .multiselect__tags {
    display: block;
    min-height: 23px;
    padding: 3px 20px 3px 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    min-width: 130px;
}

#digi-shield.digi_desktop .multiselect__content-wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-overflow-scrolling: touch;
}

#digi-shield.digi_desktop .multiselect__content {
    min-width: 100%;
}

#digi-shield.digi_desktop .multiselect__content::webkit-scrollbar {
    display: none;
}

#digi-shield.digi_desktop .multiselect__element {
    display: block;
}

#digi-shield.digi_desktop .multiselect__option {
    display: flex;
    align-items: center;
    min-height: 23px;
    white-space: nowrap;
    padding: 3px 12px;
    font-size: 11px;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
}

#digi-shield.digi_desktop .multiselect__option:hover {
    color: #646464;
}

#digi-shield.digi_desktop .multiselect__option--selected {
    background: #ddd;
    display: none;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

#digi-shield .slideInUp {
    animation-name: slideInUp;
}

@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}

#digi-shield .slideOutDown {
    animation-name: slideOutDown;
}

@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}

#digi-shield .slideOutRight {
    animation-name: slideOutRight;
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

#digi-shield .slideInRight {
    animation-name: slideInRight;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#digi-shield .fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#digi-shield .fadeOut {
    animation-name: fadeOut;
}

#digi-shield .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

#digi-shield .animated.infinite {
    animation-iteration-count: infinite;
}

#digi-shield .animated.delay-1s {
    animation-delay: 1s;
}

#digi-shield .animated.delay-2s {
    animation-delay: 2s;
}

#digi-shield .animated.delay-3s {
    animation-delay: 3s;
}

#digi-shield .animated.delay-4s {
    animation-delay: 4s;
}

#digi-shield .animated.delay-5s {
    animation-delay: 5s;
}

#digi-shield .animated.fast {
    animation-duration: 800ms;
}

#digi-shield .animated.faster {
    animation-duration: 500ms;
}

#digi-shield .animated.slow {
    animation-duration: 2s;
}

#digi-shield .animated.slower {
    animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
    #digi-shield .animated {
        animation-duration: 1ms !important;
        transition-duration: 1ms !important;
        animation-iteration-count: 1 !important;
    }
}

#digi-shield .digi-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

#digi-shield .digi-screen_tiny {
    position: absolute;
    top: unset;
}

#digi-shield .digi-screen,
#digi-shield .digi-screen__actions_top {
    border-radius: 5px 5px 0 0;
}

#digi-shield .digi-screen__actions.digi-screen__actions_fixed {
    position: initial;
    display: flex;
    box-shadow: 0px -1px 0px #F0F0F0;

    padding: 15px var(--indent-main-mobile);
    justify-content: space-between;
}

#digi-shield .digi-screen__actions.digi-screen__actions_fixed.digi-screen__actions_main {
    border-bottom: 1px solid #F0F0F0;
    box-shadow: 0px -1px 0px #F0F0F0, 0px 1px 0px #F0F0F0;
}

#digi-shield .digi-screen__actions.digi-screen__actions_fixed .digi-screen__button_stretch {
    flex-grow: initial;
    width: auto;
    height: initial;
    padding: 0;
    color: #50739F;
    font-size: 12px;
    line-height: 17px;
    justify-content: flex-end;
}

#digi-shield .digi-screen__actions.digi-screen__actions_fixed .digi-screen__button_stretch:not(:last-child):after {
    display: none;
}

#digi-shield .digi-screen__actions.digi-screen__actions_fixed .digi-screen__sort-icon {
    margin-left: 7px;
}

#digi-shield .digi-screen__actions.digi-screen__actions_fixed.digi-screen__actions_top {
    top: 0;
}

#digi-shield .digi-screen__actions.digi-screen__actions_fixed.digi-screen__actions_bottom {
    bottom: 0;
}

#digi-shield .digi-screen__actions {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    z-index: 4;
}

#digi-shield .digi-screen__actions_top {
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

#digi-shield .digi-screen__actions_bottom {
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}

#digi-shield .digi-screen__actions_show {
    width: 100%;
    padding: 20px;
    left: 0;
    bottom: 0;
    box-shadow: none;
}

#digi-shield .digi-screen__actions_show .digi-screen__button {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: var(--font-color-main);
    background-color: #FCF105;
    border-radius: 3px;
    height: var(--height-input-mobile);
}

#digi-shield .digi-screen__slot {
    text-align: center;
    height: 24px;
    line-height: 24px;
}

#digi-shield .digi-screen__slot_l, #digi-shield .digi-screen__slot_r {
    position: absolute;
    top: 20px;
}

#digi-shield .digi-screen__slot_l {
    left: 20px;
}

#digi-shield .digi-screen__slot_r {
    left: initial;
    right: 20px;
}

#digi-shield .digi-screen__slot_r button {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #EFEFEF;
}

#digi-shield .digi-screen__slot_r button:before, #digi-shield .digi-screen__slot_r button:after {
    display: block;
    content: "";
    position: absolute;
    height: 1px;
    width: 10px;
    top: calc(50% - .5px);
    left: calc(50% - 5px);
    background-color: #000;
}

#digi-shield .digi-screen__slot_r button:before {
    transform: rotate(-45deg);
}

#digi-shield .digi-screen__slot_r button:after {
    transform: rotate(45deg);
}

#digi-shield .digi-screen__title {
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    max-width: calc(100% - 100px);
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 24px;
}

#digi-shield .digi-screen__button {
    /* In case there are smth inside */
    display: flex;
    align-items: center;
    color: var(--color-primary);
    padding: 0 var(--indent-main-mobile);
    font-size: var(--font-size-main-mobile);
    line-height: 24px;
}

#digi-shield .digi-screen__button_stretch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 50%;
}

#digi-shield .digi-screen__button_stretch:not(:last-child):after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 20px;
    background-color: var(--border-color);
}

#digi-shield .digi-screen__button:disabled {
    color: var(--color-secondary);
}

#digi-shield .digi-screen__button_c-black {
    color: var(--font-color-main);
}

#digi-shield .digi-screen__button_f-small {
    padding: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #50739F;
}

#digi-shield .digi-screen__icon {
    margin-right: 8px;
}

#digi-shield .digi-screen__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--screen-count-size);
    height: 17px;
    color: #50739F;
    font-size: 12px;
}

#digi-shield .digi-screen__content {
    flex-grow: 1;
    overflow: auto;
}

#digi-shield .digi-screen__content_indented {
    padding: 0;
}

#digi-shield.digi_tpl-fashion {
    /**
     * Fashion template
     */
}

#digi-shield.digi_tpl-fashion.digi_tpl-fashion {
    --color-primary: #d82e36;
    --color-primary-light: #f3c0c3;
    --color-primary-lighter: #f3c0c3;
    --color-history: #d82e36;
    --color-tap-bg: #fdf2f3;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-ac__set_products {
    padding: 0 0 0 30px;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-main__facets {
    width: 217px;
    margin-right: 30px;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-products-grid .digi-product {
    flex-basis: calc(100% / 3 - 20px / 3);
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-products-grid .digi-product:not(:nth-child(4n)) {
    margin-right: 0;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-products-grid .digi-product:not(:nth-child(3n)) {
    margin-right: 10px;
}

#digi-shield.digi_tpl-fashion .digi-product {
    flex-direction: column;
    align-items: center;
}

#digi-shield.digi_tpl-fashion.digi_mobile .digi-product {
    border: none;
}

#digi-shield.digi_tpl-fashion .digi-product__image-wrapper {
    width: 100%;
}

#digi-shield.digi_tpl-fashion.digi_mobile .digi-product__image-wrapper {
    height: 280px;
    margin: 0 0 20px;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-product__image-wrapper {
    height: 400px;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-product_ac .digi-product__image-wrapper {
    height: 360px;
}

#digi-shield.digi_tpl-fashion .digi-product__meta {
    margin-bottom: 25px;
}

#digi-shield.digi_tpl-fashion .digi-product__brand,
#digi-shield.digi_tpl-fashion .digi-product__label {
    text-align: center;
}

#digi-shield.digi_tpl-fashion .digi-product__brand {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 21px;
}

#digi-shield.digi_tpl-fashion .digi-product__label {
    font-size: 14px;
}

#digi-shield.digi_tpl-fashion .digi-product__label * {
    line-height: 18px;
}

#digi-shield.digi_tpl-fashion .digi-product__price {
    justify-content: center;
}

#digi-shield.digi_tpl-fashion .digi-product-price-variant_actual {
    font-size: 16px;
}

#digi-shield.digi_tpl-fashion .digi-product-price-variant_old {
    font-size: 14px;
}

#digi-shield.digi_tpl-fashion .digi-product__actions {
    display: none;
}

.digi-ac-block.digi-ac-block-history, .digi-ac-block.digi-ac-block-queries {
    margin-bottom: 0 !important;
}

#digi-shield .digi-facet__wrap input:focus {
    border-color: var(--color-primary) !important;
}

#digi-shield.digi_desktop .digi-facet__wrap input:focus {
    border-color: #000 !important;
}

#digi-shield.digi_mobile .digi-sort-price {
    padding-left: 10px;
}

#digi-shield .inorder-modal {
    background: #fff;
    padding: 20px;
    transition: -webkit-transform .4s ease-in;
    transition: transform .4s ease-in;
    transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}

#digi-shield .inorder-modal-text {
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

#digi-shield .inorder-modal-icon {
    margin-right: 11px;
    font-size: 17px;
}

#digi-shield .icon-check {
    color: #72c366;
}

#digi-shield .fonts-icon {
    font-family: icons;
    font-style: normal;
    font-weight: 400;
    speak: none;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

#digi-shield .ylw-btn-large {
    display: block;
    text-decoration: none;
    padding: 15px 0;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.7;

}

#digi-shield .ylw-btn {
    border-radius: 3px;
    background-color: #fff200;
    border: solid 2px #fcf105;
}

#digi-shield input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

#digi-shield.digi_mobile.digi-search-fixed .digi-search_hide-top {
    position: fixed;
    top: 60px;
    z-index: 4;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: top 0.5s;
    background: #fff;
}

#digi-shield.digi_mobile.digi-search-fixed .digi-search_hide-top.digi-search_attached.digi-search_attached_full {
    max-height: 230px;
}

#digi-shield.digi_mobile.digi-search-fixed.digi-search-fixed_hide .digi-search_hide-top.digi-search_attached {
    top: calc(var(--height-search-block-mobile) * -1);
    z-index: 1;
}

#digi-shield.digi_mobile.digi-search-fixed.digi-search-fixed_hide .digi-search_hide-top.digi-search_attached.digi-search_attached_full {
    top: calc(var(--height-search-block-mobile-full) * -1);
    z-index: 1;
}

#digi-shield.digi_mobile.digi-search-fixed .digi-products-scroll-handler-fix {
    padding-top: 80px;
}

#digi-shield.digi_mobile.digi-search-fixed .digi-products-scroll-handler-fix.digi-products-scroll-handler_full {
    padding-top: 160px;
}

@media (max-width: 374px) {
    #digi-shield.digi_mobile.digi-search-fixed .digi-products-scroll-handler-fix.digi-products-scroll-handler_full {
        padding-top: 165px;
    }

    #digi-shield.digi_mobile.digi-search-fixed .digi-products-scroll-handler-fix {
        padding-top: 100px;
    }
}

#digi-shield.digi_mobile.digi-facets_open .digi-search.digi-search_mobile {
    z-index: 4;
}

#digi-shield.digi_mobile .digi-product__lead {
    font-size: 10px;
    color: #999999;
    padding-top: 5px;
}

#digi-shield.digi_mobile .digi-product__loyalty-bonus {
    width: 46px;
    height: 18px;
    background: #6FC461;
    border-radius: 2.4px;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    font-size: 11px;
    line-height: 12px;
    top: -8px;
    position: absolute;
}

#digi-shield.digi_mobile .digi-product__loyalty-bonus-num {
    margin: auto 0;
}

#digi-shield.digi_mobile input.digi-search-form__input {
    font-size: 16px;
}

#digi-shield.digi_mobile .digi-products {
    padding-bottom: 180px;
}

.digi-body_mobile.digi-disable-scroll .inorder-modal {
    z-index: 9999999999;
}

#digi-shield.digi_desktop .digi-product__lead {
    font-size: 11px;
    color: #646464;
    padding: 5px 10px 0px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: calc(13px * 2 + 5px);
    overflow: hidden;
    line-height: 13px;
}

#digi-shield.digi_desktop .digi-product__labels {
    position: absolute;
    top: 70px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#digi-shield.digi_desktop .digi-product__labels .digi-product__label {
    display: flex;
    font-size: 11px;
    align-items: center;
}

#digi-shield.digi_desktop .digi-product__labels .digi-product__label.digi-product__label-reviews {
    margin-bottom: 3px;
}

#digi-shield.digi_desktop .digi-product__labels .digi-product__label, #digi-shield.digi_desktop .digi-product__labels .digi-product__label * {
    line-height: 1;
}

#digi-shield.digi_desktop .digi-product__labels .digi-product__label__value {
    margin-right: 3px;
}

#digi-shield .digi-product__label.digi-product__label-loyalty {
    color: #88C340;
}

#digi-shield .digi-product__label.digi-product__label-reviews {
    color: #FF0000;
}

#digi-shield.digi_desktop .digi-ac.digi-ac-with-term .digi-ac-block__title {
    display: none;
}
