<template id="autocomplete">
  <div class="digi-ac" v-if="isOpenAutocomplete" v-show="!isAutocompleteEmpty">
    <div :class="{ 'digi-wrapper': !isMobile }">
      <div class="digi-ac__wrapper">
        <div class="digi-ac__set digi-ac__set_main">
          <div class="digi-ac-block" v-if="isHistoryVisible">
            <ul>
              <li v-for="(item, index) in relevantHistory.slice(0, 3)" :key="index">
                <button type="button" class="digi-ac-block__button digi-ac-history" @click="handleHistory(item)">
                  <span class="digi-ac-history__text" :inner-html.prop="item.name | highlightTerm(term)"></span>

                  <!-- This should obviously be a button but nested buttons is not valid syntax -->
                  <span class="digi-ac-history__clear" @click.stop="removeHistoryItem(item)">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.8 14C0.56 14 0.4 13.92 0.24 13.76C-0.08 13.44 -0.08 12.96 0.24 12.64L12.64 0.24C12.96 -0.08 13.44 -0.08 13.76 0.24C14.08 0.56 14.08 1.04 13.76 1.36L1.36 13.76C1.2 13.92 1.04 14 0.8 14Z" fill="#DE8CB1"></path>
                      <path d="M13.2 14C12.96 14 12.8 13.92 12.64 13.76L0.24 1.36C-0.08 1.04 -0.08 0.56 0.24 0.24C0.56 -0.08 1.04 -0.08 1.36 0.24L13.76 12.64C14.08 12.96 14.08 13.44 13.76 13.76C13.6 13.92 13.36 14 13.2 14Z" fill="#DE8CB1"></path>
                    </svg>
                  </span>
                </button>
              </li>
            </ul>
          </div>

          <div class="digi-ac-block" v-if="isMobile && taps && taps.length">
            <ul class="digi-tips">
              <li v-for="(tap, index) in taps.slice(0, 7)" :key="index" class="digi-tip">
                <button type="button" class="digi-tip__cloud" @click.stop="handleTap(tap.relatedSearch)">
                  {{ tap.tap }}
                </button>
              </li>
            </ul>
          </div>

          <div class="digi-ac-block" v-if="categories && categories.length && term">
            <div class="digi-ac-block__title digi-ac-block__title_category">
              Категории
            </div>

            <ul>
              <li v-for="(category, index) in categories.slice(0, 3)" :key="index">
                <button class="digi-ac-block__button digi-ac-category" @click="handleCategory(category)">
                  <span class="digi-ac-category__term">{{ correction || term }}</span>
                  <span class="digi-ac-category__name">
                    в категории {{ category.name }}
                  </span>
                </button>
              </li>
            </ul>
          </div>

          <div class="digi-ac-block" v-if="queries && queries.length">
            <div class="digi-ac-block__title digi-ac-block__title_queries">
              Часто ищут
            </div>

            <ul>
              <li v-for="(query, index) in queries.slice(0, 4)" :key="index">
                <button type="button" class="digi-ac-block__button" :inner-html.prop="query.st | highlightTerm(term)" @click="handleQuery(query.st, query.redirectUrl)"></button>
              </li>
            </ul>
          </div>
        </div>

        <div class="digi-ac__set digi-ac__set_products" v-if="!isMobile && products && products.length">
          <div class="digi-ac-block digi-ac-block-products">
            <div class="digi-ac-block__title digi-ac-block__title_products">
              Популярные товары
            </div>

            <div class="digi-products-grid">
              <div v-for="(product, key) in products.slice(0, 6)" :key="key" class="digi-product digi-product_ac" @click="handleClickProduct(product)">
                <div class="digi-product-attr-ac digi-product-attr-ac-sale" v-if="product.oldPrice">
                </div>
                <div class="digi-product-attr-ac digi-product-attr-ac-hit" v-if="product.attributes['hit']">
                </div>
                <div class="digi-product-attr-ac digi-product-attr-ac-new" v-if="product.attributes['new']">
                </div>
                <a :href="product.link_url" class="digi-product__image-wrapper" target="_self">
                  <img :src="product.image_url || `//cdn.diginetica.net/images/noimage.png`" alt="" class="digi-product__image" onerror="this.src='//cdn.diginetica.net/images/noimage.png';">
                </a>

                <div class="digi-product__main">
                  <div class="digi-product__meta">
                    <div class="digi-product__headline">
                      <a class="digi-product__brand" :href="product.link_url" target="_self" v-if="!products.slice(0, 6).some(function (product){ return product.alternative;}) && product.brand">
                        {{ product.brand }}
                      </a>

                      <div class="digi-product__alternative" v-if="product.alternative">
                        Похожий товар
                      </div>
                    </div>

                    <div class="digi-product__label">
                      <a :href="product.link_url" target="_self">{{ product.name }}</a>
                    </div>
                  </div>

                  <div class="digi-product__price" v-if="+product.price">
                    <span class="digi-product-price-variant digi-product-price-variant_actual">{{ product.price | thousandSeparator }}
                      <span class="digi-product-price-variant__currency">
                        <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.612875 11.04L1.92488 10.88V9.344H0.100875V8.384H1.92488V7.088H0.100875V6.128H1.92488V1.312L0.676875 1.104V0.112H2.99688C3.17821 0.112 3.49288 0.101333 3.94088 0.079999C4.53821 0.0373329 5.09288 0.0159998 5.60488 0.0159998C7.18354 0.0159998 8.28754 0.288 8.91688 0.832C9.54621 1.376 9.86088 2.18133 9.86088 3.248C9.86088 4.048 9.67421 4.74133 9.30088 5.328C8.92754 5.91467 8.39954 6.36267 7.71688 6.672C7.03421 6.98133 6.23421 7.136 5.31688 7.136C4.74088 7.136 4.36754 7.12533 4.19688 7.104V8.384H7.14088V9.344H4.19688V10.88L6.18088 11.04V12H0.612875V11.04ZM5.26888 6.128C5.96221 6.128 6.51154 5.91467 6.91688 5.488C7.32221 5.05067 7.52488 4.31467 7.52488 3.28C7.52488 2.48 7.35421 1.89867 7.01288 1.536C6.67154 1.17333 6.12221 0.992 5.36488 0.992C5.10888 0.992 4.83154 1.01333 4.53288 1.056C4.36221 1.07733 4.25021 1.088 4.19688 1.088V6.096C4.33554 6.11733 4.69288 6.128 5.26888 6.128Z" fill="#4D002E"></path>
                        </svg>
                      </span>
                    </span>

                    <span class="digi-product-price-variant digi-product-price-variant_old" v-if="product.oldPrice"><s>
                        {{ product.oldPrice | thousandSeparator }}
                        <span class="digi-product-price-variant__currency">
                          <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.15269 11.216L2.49669 11.056V9.312H0.720688V8.48H2.49669V7.072H0.720688V6.24H2.49669V1.104L1.24869 0.912V0.112H3.29669C3.65935 0.112 4.01669 0.0959994 4.36869 0.0639992C4.90202 0.0213324 5.42469 -9.53674e-07 5.93669 -9.53674e-07C7.44069 -9.53674e-07 8.49135 0.277333 9.08869 0.832C9.69669 1.376 10.0007 2.176 10.0007 3.232C10.0007 4.032 9.81402 4.72533 9.44069 5.312C9.06735 5.89867 8.54469 6.34667 7.87269 6.656C7.20069 6.96533 6.43269 7.12 5.56869 7.12C4.80069 7.12 4.33135 7.10933 4.16069 7.088V8.48H7.10469V9.312H4.16069V11.04L6.25669 11.216V12H1.15269V11.216ZM5.56869 6.24C6.37935 6.24 7.03002 6.01067 7.52069 5.552C8.02202 5.08267 8.27269 4.30933 8.27269 3.232C8.27269 2.4 8.05935 1.79733 7.63269 1.424C7.21669 1.05067 6.54469 0.863999 5.61669 0.863999C5.30735 0.863999 4.97135 0.885333 4.60869 0.927999C4.39535 0.949333 4.24602 0.959999 4.16069 0.959999V6.208C4.33135 6.22933 4.80069 6.24 5.56869 6.24Z" fill="#4D002E" fill-opacity="0.5"></path>
                          </svg>
                        </span> </s></span>
                  </div>

                  <div class="digi-product__actions" v-if="product.available">
                    <div class="digi__quantity-block">
                      <div class="digi__quantity-change digi__quantity-decr" @click="digiCustom.removeToCart($event,product.id)">
                      </div>
                      <input type="number" class="digi__quantity-input" pattern="\d*" :value="digiCustom.cartItemsSimple[product.id] || ''" @input="digiCustom.changeAddToCartInputValue($event, product.id, product.attributes[digiCustom.getRegionAvailable()][0])">
                      <div class="digi__quantity-change digi__quantity-inc" @click="digiCustom.addToCart($event, product.id, product.attributes[digiCustom.getRegionAvailable()][0])">
                      </div>
                    </div>
                    <div class="digi-add-btn-wrapper digi-add-btn-wrapper--empty" :class="{ 'digi-add-btn-wrapper--hidden' : digiCustom.cartItemsSimple[product.id] !== undefined }">
                      <a class="digi-add-cart digi-add-cart--default" @click="digiCustom.addToCart($event, product.id, product.attributes[digiCustom.getRegionAvailable()][0])"></a>
                    </div>
                    <div class="digi-add-btn-wrapper digi-add-btn-wrapper--added" :class="{ 'digi-add-btn-wrapper--hidden' : digiCustom.cartItemsSimple[product.id] === undefined }">
                      <a class="digi-add-cart digi-add-cart--added" @click="digiCustom.addToCart($event, product.id, product.attributes[digiCustom.getRegionAvailable()][0])">+</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="digi-ac-find" v-if="term">
              <button class="digi-ac-find__button" @click="$emit('show-results', $event)">
                Смотреть все результаты
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>