<template id="common">
  <div id="digi-shield" class="digi-is-container digi-search-fixed" ref="digi-shield" v-scroll="!config.positionSelector && checkScroll" :class="[{ 'digi-is-container_white': isMobile || showIS }, { 'digi_desktop': !isMobile }, { 'digi_mobile': isMobile }, { 'digi_hidden': !isOpen }, { 'digi-disable-scroll': isOpenAutocomplete }, { 'digi-search-fixed_hide': isMobile && hiddenByScroll }, { 'digi_open': isOpen }, { 'digi_ie': isIE }, { 'digi_searchless': config.positionSelector && !isMobile }]">
    <template v-if="isMobile">
      <div class="digi-search digi-search_mobile" :class="[{ 'digi-search_attached': !isOpenAutocomplete }, { 'digi-search_attached_full': !isOpenAutocomplete && refinements.length }]">
        <form class="digi-search__form digi-search-form" @submit="handleEnter($event, 'submit')">
          <div class="digi-search-form__input-block">
            <input type="text" class="digi-search-form__input" data-target="_self" ref="digi-search-input" :value="term" @focus="handleFocusDigiInput" @click="handleClickDigiInput" @input="handleInput">

            <div class="digi-search-form__actions">
              <button type="button" class="digi-search-form__clear" @click.stop="clearInput" v-if="term">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.8 14C0.56 14 0.4 13.92 0.24 13.76C-0.08 13.44 -0.08 12.96 0.24 12.64L12.64 0.24C12.96 -0.08 13.44 -0.08 13.76 0.24C14.08 0.56 14.08 1.04 13.76 1.36L1.36 13.76C1.2 13.92 1.04 14 0.8 14Z" fill="#DE8CB1"></path>
                  <path d="M13.2 14C12.96 14 12.8 13.92 12.64 13.76L0.24 1.36C-0.08 1.04 -0.08 0.56 0.24 0.24C0.56 -0.08 1.04 -0.08 1.36 0.24L13.76 12.64C14.08 12.96 14.08 13.44 13.76 13.76C13.6 13.92 13.36 14 13.2 14Z" fill="#DE8CB1"></path>
                </svg>
              </button>

              <button type="button" class="digi-search-form__submit" @click="handleEnter($event, 'searchButton')">Найти</button>
            </div>
          </div>
          <button type="button" class="digi-search-form__close" @click="closePopup">Закрыть</button>

        </form>

        <ul class="digi-tips digi-tips_scrollable digi-tips_refs" v-if="!isOpenAutocomplete && refinements.length">
          <li v-for="(refinement, index) in refinements" :key="index" class="digi-tip">
            <button type="button" class="digi-tip__cloud" @click="onClickRefinement(refinement)">
              {{ refinement.tap }}
            </button>
          </li>
        </ul>
      </div>

      <autocomplete @render-autocomplete="renderAC"></autocomplete>

      <template v-if="!isOpenAutocomplete">
        <div class="digi-products-scroll-handler" :class="[{ 'digi-products-scroll-handler_full': refinements.length }]" ref="digi-products-scroll-handler" v-scroll="checkScroll">
          <h1 class="digi-category__title" v-if="hasPredictedCategories">Результаты поиска по запросу "{{ term }}"</h1>

          <product-list :term="term"></product-list>

          <pagination v-if="!pagination.isInfinite && pagination.pageSize < data.totalHits"></pagination>

          <div class="digi-footer" v-if="showIS">
            <div class="digi-footer-nav">
              <div class="digi-footer-container digi-footer-cat-container" v-if="!isMobile">
                <div class="digi-row">
                  <div class="digi-col-6">
                    <div class="digi-footcatnav">
                      <div class="digi-footcatnav__title">Дополнительная информация</div>
                      <div class="digi-footcatnav_footer_menu">
                        <div class="digi-footcatnav_footersub_menu">
                          <ul>
                            <li><a href="https://craftology.ru/lp/onas/">О нашей компании</a></li>
                            <li><a href="/lp/otzyvy/">Отзывы о нас</a></li>
                            <li><a href="/news/">Новости</a></li>
                            <li><a href="/paying/">Как оплатить заказ</a></li>
                            <li><a href="/recipes/master-klass/">Книга рецептов</a></li>
                            <li><a href="/skidki/">Дисконтная программа</a></li>
                            <li><a href="/how-make-order/">Как сделать заказ</a></li>
                            <li><a href="https://caramella.su/">Оптовое сотрудничество</a></li>
                            <li><a href="/shops/">Магазины и расписание</a></li>
                            <li><a href="/contacts/">Контакты</a></li>
                            <li><a href="/about/politika-vozvrata.php">Политика возврата</a></li>
                            <li><a href="/delivery">Доставка по РФ</a></li>
                            <li><a href="/redaktor.php">Редактор макетов для печати</a></li>
                            <li><a href="/polzovatelskoe-soglashenie.php">Пользовательское соглашение</a></li>
                            <li><a href="/politika-konfidentsialnosti.php">Политика конфиденциальности</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="digi-col-6">
                    <div class="digi-row digi-row-social">
                      <noindex>
                        <div class="digi-social">
                          <ul>
                            <li><a rel="nofollow" href="https://vk.com/club_craftology" target="_blank" class="vk"></a></li>
                            <li><a rel="nofollow" href="https://www.instagram.com/craftology.ru/" target="_blank" class="ig"></a>
                            </li>
                            <li><a rel="nofollow" href="https://www.facebook.com/club.craftology/" target="_blank" class="fb"></a>
                            </li>
                            <li><a rel="nofollow" href="https://ok.ru/craftology" target="_blank" class="ok"></a></li>
                          </ul>
                        </div>
                      </noindex>
                    </div>
                  </div>
                </div>
              </div>
              <div class="digi-footer-main">
                <div class="digi-footer-container">
                  <div class="digi-row digi-row-footer-main">
                    <div class="digi-footer-logo"><img src="/images/logo.png" alt=""></div>
                    <div class="digi-footer-slogan">
                      <div class="digi-slogan__title">Craftology</div>
                      <div class="digi-slogan__text">Магазин для кондитеров</div>
                    </div>
                    <div class="digi-footer__phone"><span><a href="tel:88005003047">8 (800) 500 30 47</a></span></div>
                  </div>
                </div>
              </div>
              <div class="digi-footer-bottom">
                <div class="digi-footer-container">
                  <div class="digi-row">
                    <div class="digi-legal-name">ООО "Крафтология"</div>
                    <div class="digi-copyright">Все права защищены,
                      2020
                    </div>
                    <div class="digi-footer-powerby">
                      <noindex><a href="https://studio-prm.ru" target="_blank" rel="nofollow">Сайт разработан в PRM-Studio</a></noindex>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <facets></facets>

      </template>

      <sort></sort>
    </template>

    <template v-else="">
      <!--
        There are two similar overlays with two different click callbacks:
        1. When there are only autocomplete we have to close entire IS
        1. When there are IS itself we have to close only autocomplete
      -->
      <div class="digi-overlay" @mousedown.self="onClickPopup" v-if="!isMobile && (isOpenAutocomplete && showIS)"></div>

      <div class="digi-overlay" @mousedown.self="closePopup" v-if="!isMobile && (isOpenAutocomplete && !showIS)"></div>

      <div class="digi-search">
        <div class="digi-wrapper">
          <div class="digi-search-wrapper">
            <form class="digi-search__form digi-search-form" :class="[{'digi-search-form-active': isOpenAutocomplete}]" @submit="handleEnter($event, 'submit')">
              <div class="digi-search-form__input-block">
                <svg width="19" height="19" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg" class="digi-search-form__icon digi-search-form__icon_decorative" stroke="#a9a9a9" stroke-width="1.5" stroke-miterlimit="10" fill="none">
                  <use xlink:href="#magnifier"></use>
                </svg>

                <input type="text" class="digi-search-form__input" data-target="_self" ref="digi-search-input" :value="term" @focus="handleFocusDigiInput" @click="handleClickDigiInput" @input="handleInput">

                <div class="digi-search-form__actions">
                  <button type="button" class="digi-search-form__clear" @click.stop="clearInput" v-if="term">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.8 14C0.56 14 0.4 13.92 0.24 13.76C-0.08 13.44 -0.08 12.96 0.24 12.64L12.64 0.24C12.96 -0.08 13.44 -0.08 13.76 0.24C14.08 0.56 14.08 1.04 13.76 1.36L1.36 13.76C1.2 13.92 1.04 14 0.8 14Z" fill="#DE8CB1"></path>
                      <path d="M13.2 14C12.96 14 12.8 13.92 12.64 13.76L0.24 1.36C-0.08 1.04 -0.08 0.56 0.24 0.24C0.56 -0.08 1.04 -0.08 1.36 0.24L13.76 12.64C14.08 12.96 14.08 13.44 13.76 13.76C13.6 13.92 13.36 14 13.2 14Z" fill="#DE8CB1"></path>
                    </svg>
                  </button>

                  <button type="button" class="digi-search-form__submit" @click="handleEnter($event, 'searchButton')">
                    Найти
                  </button>
                </div>
              </div>

              <button type="button" class="digi-search-form__close" @click="closePopup">
                Закрыть
              </button>
            </form>
          </div>
        </div>
      </div>

      <autocomplete @render-autocomplete="renderAC" @show-results="handleEnter($event, 'showAllAQ')"></autocomplete>

      <div class="digi-main-scroll-wrapper" v-scroll="config.positionSelector && checkScroll" :ref="config.positionSelector ? 'digi-main-scroll-wrapper' : null">
        <div class="digi-category-found" v-if="showIS && (hasPredictedCategories || allCategories.length)">
          <div class="digi-wrapper">

            <h1 v-if="hasPredictedCategories" class="digi-category__title">Результаты поиска по запросу "{{ term }}"</h1>
            <h1 v-else="" class="digi-category__title_slim">Найдено в категориях</h1>

            <ul class="digi-category-found-list" v-if="!hasPredictedCategories">
              <li v-for="category in allCategories" :key="category.id" class="digi-category-found-item">
                <button class="digi-category-found-item__button" @click="handleSelectCategory({ category, list: allCategories })">
                  <img :src="category.pictureUrl" class="digi-category-found-item__image" v-if="category.pictureUrl">

                  <div class="digi-category-found-item__meta">
                    <span class="digi-category-found-item__name">{{ category.name }}</span>
                    <span class="digi-category-found-item__value">{{ category.value }} {{ 'товар' | getCorrectPlural(category.value) }}</span>
                  </div>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="digi-main">
          <div class="digi-wrapper">
            <div class="digi-main-wrapper">
              <div class="digi-main__facets" v-show="data.products.length > 1 || Object.entries(filters).length">
                <facets></facets>
              </div>
              <div class="digi-main__results" v-if="showIS">
                <div class="digi-main-results-actions" v-if="refinements.length || data.totalHits > 1">
                  <ul class="digi-tips digi-tips_scrollable digi-tips_refs">
                    <li v-for="(refinement, index) in refinements" :key="index" class="digi-tip">
                      <button type="button" class="digi-tip__cloud" @click="onClickRefinement(refinement)">
                        {{ refinement.tap }}
                      </button>
                    </li>
                  </ul>

                  <sort v-if="data.totalHits > 1"></sort>
                </div>

                <product-list :term="term"></product-list>

                <pagination v-if="!pagination.isInfinite && pagination.pageSize < data.totalHits"></pagination>

                <!-- Scroll up button. Showing via checkScroll() method -->
                <transition name="custom-classes-transition" enter-active-class="animated faster fadeIn" leave-active-class="animated faster fadeOut">
                  <button class="digi-scroll-up" @click="backToTop" v-if="isButtonUpVisible">
                    Наверх
                    <svg width="10" height="12" viewBox="0 0 10 12" fill="#A9A9A9" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.09138 3.91431C9.26056 4.08349 9.26056 4.34982 9.09138 4.519C8.92792 4.68246 8.65587 4.68246 8.49279 4.519L5.42668 1.45289L5.42668 11.5706C5.42668 11.8065 5.23922 12 5.00336 12C4.76751 12 4.57395 11.8065 4.57395 11.5706L4.57395 1.45289L1.51356 4.519C1.34438 4.68246 1.07195 4.68246 0.90887 4.519C0.739694 4.34982 0.739694 4.08349 0.90887 3.91431L4.70083 0.12235C4.86429 -0.0411093 5.13634 -0.0411092 5.29942 0.12235L9.09138 3.91431Z"></path>
                    </svg>
                  </button>
                </transition>
              </div>
            </div>
          </div>
        </div>
        <div class="digi-footer" v-show="showIS">
          <div class="digi-footer-nav">
            <div class="digi-footer-container digi-footer-cat-container" v-if="!isMobile">
              <div class="digi-row">
                <div class="digi-col-6">
                  <div class="digi-footcatnav">
                    <div class="digi-footcatnav__title">Дополнительная информация</div>
                    <div class="digi-footcatnav_footer_menu">
                      <div class="digi-footcatnav_footersub_menu">
                        <ul>
                          <li><a href="https://craftology.ru/lp/onas/">О нашей компании</a></li>
                          <li><a href="/lp/otzyvy/">Отзывы о нас</a></li>
                          <li><a href="/news/">Новости</a></li>
                          <li><a href="/paying/">Как оплатить заказ</a></li>
                          <li><a href="/recipes/master-klass/">Книга рецептов</a></li>
                          <li><a href="/skidki/">Дисконтная программа</a></li>
                          <li><a href="/how-make-order/">Как сделать заказ</a></li>
                          <li><a href="https://caramella.su/">Оптовое сотрудничество</a></li>
                          <li><a href="/shops/">Магазины и расписание</a></li>
                          <li><a href="/contacts/">Контакты</a></li>
                          <li><a href="/about/politika-vozvrata.php">Политика возврата</a></li>
                          <li><a href="/delivery">Доставка по РФ</a></li>
                          <li><a href="/redaktor.php">Редактор макетов для печати</a></li>
                          <li><a href="/polzovatelskoe-soglashenie.php">Пользовательское соглашение</a></li>
                          <li><a href="/politika-konfidentsialnosti.php">Политика конфиденциальности</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="digi-col-6">
                  <div class="digi-row digi-row-social">
                    <noindex>
                      <div class="digi-social">
                        <ul>
                          <li><a rel="nofollow" href="https://vk.com/club_craftology" target="_blank" class="vk"></a></li>
                          <li><a rel="nofollow" href="https://www.instagram.com/craftology.ru/" target="_blank" class="ig"></a>
                          </li>
                          <li><a rel="nofollow" href="https://www.facebook.com/club.craftology/" target="_blank" class="fb"></a>
                          </li>
                          <li><a rel="nofollow" href="https://ok.ru/craftology" target="_blank" class="ok"></a></li>
                        </ul>
                      </div>
                    </noindex>
                  </div>
                </div>
              </div>
            </div>
            <div class="digi-footer-main">
              <div class="digi-footer-container">
                <div class="digi-row digi-row-footer-main">
                  <div class="digi-footer-logo"><img src="/images/logo.png" alt=""></div>
                  <div class="digi-footer-slogan">
                    <div class="digi-slogan__title">Craftology</div>
                    <div class="digi-slogan__text">Магазин для кондитеров</div>
                  </div>
                  <div class="digi-footer__phone"><span><a href="tel:88005003047">8 (800) 500 30 47</a></span></div>
                </div>
              </div>
            </div>
            <div class="digi-footer-bottom">
              <div class="digi-footer-container">
                <div class="digi-row">
                  <div class="digi-legal-name">ООО "Крафтология"</div>
                  <div class="digi-copyright">Все права защищены,
                    2020
                  </div>
                  <div class="digi-footer-powerby">
                    <noindex><a href="https://studio-prm.ru" target="_blank" rel="nofollow">Сайт разработан в PRM-Studio</a></noindex>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </template>

    <!-- SVG -->
    <div class="digi_hidden">
      <svg>

        <symbol id="magnifier">
          <path d="M7.8918 14.7836C11.698 14.7836 14.7836 11.698 14.7836 7.8918C14.7836 4.08556 11.698 1 7.8918 1C4.08556 1 1 4.08556 1 7.8918C1 11.698 4.08556 14.7836 7.8918 14.7836Z"></path>
          <path d="M16.0002 16.1705L12.3711 12.5407"></path>
        </symbol>

        <symbol id="chevron-right">
          <path d="M1 0.99997L7 7.64037L1 14.2808" stroke="#333333" stroke-width="1.5" stroke-linecap="round"></path>
        </symbol>

        <symbol id="sort">
          <path d="M3.82679 0.3C3.90377 0.166667 4.09623 0.166667 4.1732 0.3L7.2909 5.7C7.36788 5.83333 7.27165 6 7.11769 6H0.882309C0.728349 6 0.632123 5.83333 0.709104 5.7L3.82679 0.3Z" fill="inherit" stroke="none"></path>
          <path d="M4.17321 15.7C4.09623 15.8333 3.90377 15.8333 3.8268 15.7L0.709103 10.3C0.632123 10.1667 0.728348 10 0.882308 10H7.11769C7.27165 10 7.36788 10.1667 7.2909 10.3L4.17321 15.7Z" fill="inherit" stroke="none"></path>
        </symbol>

        <symbol id="filters">
          <line y1="2.5" x2="16" y2="2.5" stroke="inherit"></line>
          <line y1="10.5" x2="16" y2="10.5" stroke="inherit"></line>
          <rect x="3" y="8" width="3" height="5" rx="0.2" fill="inherit" stroke="none"></rect>
          <rect x="10" width="3" height="5" rx="0.2" fill="inherit" stroke="none"></rect>
        </symbol>

        <symbol id="pagination-prev">
          <path d="M0.233398 4.71629L4.71619 0.233499C4.85628 0.0934121 5.04306 0.0934124 5.18315 0.233499C5.32323 0.373587 5.32323 0.56037 5.18315 0.700457L0.933834 4.94977L5.18315 9.19908C5.32323 9.33917 5.32323 9.52595 5.18315 9.66604C5.04306 9.80612 4.85628 9.80612 4.71619 9.66604L0.233398 5.18325C0.093311 5.04316 0.093311 4.85638 0.233398 4.71629Z" fill="#000000" stroke="none"></path>
        </symbol>

        <symbol id="pagination-next">
          <path d="M9.66602 5.18325L5.18323 9.66604C5.04314 9.80612 4.85636 9.80612 4.71627 9.66604C4.57618 9.52595 4.57618 9.33917 4.71627 9.19908L8.96558 4.94977L4.71627 0.700457C4.57618 0.56037 4.57618 0.373587 4.71627 0.233499C4.85636 0.0934124 5.04314 0.0934121 5.18323 0.233499L9.66602 4.71629C9.8061 4.85638 9.8061 5.04316 9.66602 5.18325Z" fill="#000000" stroke="none"></path>
        </symbol>

        <symbol id="scroll-up">
          <path d="M9.09138 3.91431C9.26056 4.08349 9.26056 4.34982 9.09138 4.519C8.92792 4.68246 8.65587 4.68246 8.49279 4.519L5.42668 1.45289L5.42668 11.5706C5.42668 11.8065 5.23922 12 5.00336 12C4.76751 12 4.57395 11.8065 4.57395 11.5706L4.57395 1.45289L1.51356 4.519C1.34438 4.68246 1.07195 4.68246 0.90887 4.519C0.739694 4.34982 0.739694 4.08349 0.90887 3.91431L4.70083 0.12235C4.86429 -0.0411093 5.13634 -0.0411092 5.29942 0.12235L9.09138 3.91431Z" fill="inherit" stroke="none"></path>
        </symbol>
      </svg>
    </div>
  </div>
</template>