<footer class="digi-footer" v-if="showIS">
  <div class="digi-footer-nav">
    <div class="digi-footer-container digi-footer-cat-container" v-if="!isMobile">
      <div class="digi-row">
        <div class="digi-col-6">
          <div class="digi-footcatnav">
            <div class="digi-footcatnav__title">Дополнительная информация</div>
            <div class="digi-footcatnav_footer_menu">
              <div class="digi-footcatnav_footersub_menu">
                <ul>
                  <li><a href="https://craftology.ru/lp/onas/">О нашей компании</a></li>
                  <li><a href="/lp/otzyvy/">Отзывы о нас</a></li>
                  <li><a href="/news/">Новости</a></li>
                  <li><a href="/paying/">Как оплатить заказ</a></li>
                  <li><a href="/recipes/master-klass/">Книга рецептов</a></li>
                  <li><a href="/skidki/">Дисконтная программа</a></li>
                  <li><a href="/how-make-order/">Как сделать заказ</a></li>
                  <li><a href="https://caramella.su/">Оптовое сотрудничество</a></li>
                  <li><a href="/shops/">Магазины и расписание</a></li>
                  <li><a href="/contacts/">Контакты</a></li>
                  <li><a href="/about/politika-vozvrata.php">Политика возврата</a></li>
                  <li><a href="/delivery">Доставка по РФ</a></li>
                  <li><a href="/redaktor.php">Редактор макетов для печати</a></li>
                  <li><a href="/polzovatelskoe-soglashenie.php">Пользовательское соглашение</a></li>
                  <li><a href="/politika-konfidentsialnosti.php">Политика конфиденциальности</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="digi-col-6">
          <div class="digi-row digi-row-social">
            <noindex style="
">
              <div class="digi-social">
                <ul>
                  <li><a rel="nofollow" href="https://vk.com/club_craftology" target="_blank" class="vk"></a></li>
                  <li><a rel="nofollow" href="https://www.instagram.com/craftology.ru/" target="_blank" class="ig"></a>
                  </li>
                  <li><a rel="nofollow" href="https://www.facebook.com/club.craftology/" target="_blank" class="fb"></a>
                  </li>
                  <li><a rel="nofollow" href="https://ok.ru/craftology" target="_blank" class="ok"></a></li>
                </ul>
              </div>
            </noindex>
          </div>
        </div>
      </div>
    </div>
    <div class="digi-footer-main">
      <div class="digi-footer-container">
        <div class="digi-row digi-row-footer-main">
          <div class="digi-footer-logo"><img src="/images/logo.png" alt=""></div>
          <div class="digi-footer-slogan">
            <div class="digi-slogan__title">Craftology</div>
            <div class="digi-slogan__text">Магазин для кондитеров</div>
          </div>
          <div class="digi-footer__phone"><span><a href="tel:88005003047">8 (800) 500 30 47</a></span></div>
        </div>
      </div>
    </div>
    <div class="digi-footer-bottom">
      <div class="digi-footer-container">
        <div class="digi-row">
          <div class="digi-legal-name">ООО "Крафтология"</div>
          <div class="digi-copyright">Все права защищены,
            2020
          </div>
          <div class="digi-footer-powerby">
            <noindex><a href="https://studio-prm.ru" target="_blank" rel="nofollow">Сайт разработан в PRM-Studio</a></noindex>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>