/**
 * Made in Diginetica with love
 */
/* CLIENT SPECIFIC STYLES */
.digi-z-decrease {
    z-index: 99 !important;
}

.catalog-item__buy.js-cart .wrap_basket {
    z-index: 99;
}

.mainnav__item {
    z-index: 200;
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
.api-search-title .baron__root {
    display: none !important;
}

/* The font this city needs */
.digi-body_mobile.digi-disable-scroll {
    /* Dirty-dirty hack for iOS Safari: use only when IS close the entire screen */
    position: fixed !important;
}

/*
  VARIABLES NAMING RULE
  IDE autocomplete will work better
  $property-(modifier)-(pseudo)-name||element-platform
    or
  $property
*/
/* CSS variables*/
#digi-shield {
    --color-primary: #ff4f93;
    --color-primary-light: #4d002e1a;
    --color-primary-lighter: #d5d5d532;
    --color-history: #c93a66;
    --color-tap-bg: #de8cb11a;
    --color-tap-bg-hover: #de8cb1;
    --color-primary-hover: #c93a66;
    --color-secondary: #de8cb1;
    --color-separator: #f3c7d3; /* Patterns */
    --border-radius: 8px;
    --border-color: #f3c7d3; /* Sizes */
    --height-input-mobile: 40px;
    --height-input-desktop: 35px;
    --height-search-block-mobile: 65px; /* Important, setting used by client.js */
    --height-search-block-mobile-full: 136px; /* Important, setting used by client.js */
    --wrapper-width: 1064px; /* Important, setting from config */
    /* Indents */
    --wrapper-padding: 0 20px; /* Important, setting from config */
    --indent-main-mobile: 15px;
    --indent-vertical-main-mobile: 25px;
    --indent-vertical-inner-mobile: 20px;
    --indent-vertical-search-mobile: 15px;
    --padding-product: 11px;
    --indent-main-desktop: 22px;
    --indent-search-desktop: 20px;
    --indent-vertical-main-desktop: 15px;
    --indent-vertical-inner-desktop: 15px; /* Fonts */
    --font-size-main-mobile: 16px;
    --font-size-second-mobile: 14px;
    --font-size-third-mobile: 12px;
    --font-size-header-mobile: 20px;
    --font-size-main-desktop: 14px;
    --font-size-second-desktop: 12px;
    --font-size-header-desktop: 24px;
    --font-weight-main: 400;
    --font-weight-thick: 500;
    --font-weight-thickest: 600;
    --font-color-main: #4d002e; /* Slider Variables */
    --dot-size-mobile: 24px;
    --rail-height-mobile: 4px;
    --dot-size-desktop: 16px;
    --rail-height-desktop: 4px; /* Screen Variables */
    --screen-count-size: 16px;
    --screen-height: 45px; /* Facets Variables */
    --indent-facet-bottom-desktop: 30px;
}

/* Const Colors */
/* Z-indexes */
/**
 * Mixins for facets
 */
/* Plain buttons for mobile */
/* Main option styles */
/* Input mixin */
#digi-shield {
    /* Backup id to prevent our styles from being overridden */
    /**
       * Common template styles
       */
    /* rip meow T_T
      .digi-loader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $earth;
        background-position: center;
        background-repeat: no-repeat;
      } */
    /**
       * Facets template styles
       */
    /**
       * Facet category template styles
       */
    /**
       * Facet common template styles
       */
    /**
       * Facet slider template styles
       */
    /* There are !important statements cause vue slider render some styles inline */
    /**
       * Product list template styles
       */
    /**
       * Pagination template styles
       */
    /**
       * Autocomplete template styles
       */
    /**
       * Thx to animate.css
       * https://raw.githubusercontent.com/daneden/animate.css/master/animate.css
       */
}

#digi-shield .digi-search-form__icon_specific {
    fill: var(--color-primary-hover);
    stroke: var(--color-primary-hover);
}

#digi-shield.digi_hidden, #digi-shield .digi_hidden {
    display: none !important;
}

#digi-shield.digi-is-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 111;
    display: flex;
    flex-direction: column;
    color: var(--font-color-main);
    overflow: auto;
    overflow-y: auto !important;
}

#digi-shield.digi-is-container.digi_mobile {
    height: 100vh !important;
    top: 0 !important;
    z-index: 99999;
}

#digi-shield.digi-is-container.digi_mobile, #digi-shield.digi-is-container.digi_mobile.digi-disable-scroll {
    overflow: visible !important;
}

#digi-shield.digi-is-container_white {
    background-color: #ffffff;
    z-index: 100;
}

#digi-shield.digi-is-container::-webkit-scrollbar, #digi-shield.digi-is-container *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

#digi-shield.digi-is-container::-webkit-scrollbar-track, #digi-shield.digi-is-container *::-webkit-scrollbar-track {
    border: 2px solid var(--color-primary-lighter);
}

#digi-shield.digi-is-container::-webkit-scrollbar-thumb, #digi-shield.digi-is-container *::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
}

#digi-shield.digi_open ~ jdiv {
    /* Have to be appended to the body */
    display: none;
}

#digi-shield.digi_ie img {
    /* IE doesn't respect object-* properties */
    height: auto;
}

#digi-shield.digi_ie svg {
    /* IE doesn't respect <svg> inline attributes */
    width: 15px;
    height: 15px;
}

#digi-shield *:not(rect) {
    /* Reset browser styling */
    box-sizing: border-box;
    width: auto;
    min-width: auto;
    max-width: none;
    height: auto;
    min-height: auto;
    max-height: none;
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    font-family: "Merriweather", serif;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: var(--font-weight-main);
    text-shadow: none;
    text-align: start;
    text-transform: none;
    transition: none;
}

#digi-shield *:before, #digi-shield *:after {
    display: none;
}

#digi-shield button, #digi-shield input {
    font-size: var(--font-size-main-mobile);
    font-weight: var(--font-weight-main);
    -webkit-appearance: none;
    color: var(--font-color-main);
}

#digi-shield button:disabled, #digi-shield input:disabled {
    opacity: 1;
}

#digi-shield button {
    text-align: center;
    cursor: pointer;
}

#digi-shield img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

#digi-shield a {
    border: none;
    text-decoration: none;
}

#digi-shield ul, #digi-shield li {
    list-style: none;
}

#digi-shield label {
    font-weight: normal;
    text-transform: none;
}

#digi-shield s {
    position: relative;
    text-decoration: none;
}

#digi-shield s::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(77, 0, 46, 0.5);
}

#digi-shield .digi-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 510px;
}

#digi-shield .digi-scroll-up {
    position: fixed;
    right: 40px;
    bottom: 140px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background-color: #ffffff;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--color-secondary);
    font-size: var(--font-size-third-mobile);
    line-height: 16px;
    transition: all 0.5s;
}

#digi-shield .digi-scroll-up:hover {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    box-shadow: none;
}

#digi-shield .digi-scroll-up:hover svg {
    fill: var(--color-primary);
}

#digi-shield .digi-scroll-up svg {
    margin-left: 5px;
    fill: var(--color-secondary);
    transition: all 0.5s;
}

#digi-shield .digi-scroll-up__arrow {
    margin-left: 8px;
}

#digi-shield .digi-wrapper {
    min-width: 1064px;
    max-width: 1210px;
    padding: var(--wrapper-padding);
    margin: 0 auto;
}

@media (min-width: 992px) {
    #digi-shield .digi-wrapper {
        width: 1064px;
    }
}

@media (min-width: 1200px) {
    #digi-shield .digi-wrapper {
        width: 1200px;
    }
}

#digi-shield .digi-search {
    background-color: #ffffff;
}

#digi-shield.digi_mobile.digi-search-fixed .digi-search.digi-search_attached {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height: var(--height-search-block-mobile);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: top 0.5s;
}

#digi-shield.digi_mobile.digi-search-fixed .digi-search.digi-search_attached.digi-search_attached_full {
    height: var(--height-search-block-mobile-full);
}

#digi-shield.digi_mobile.digi-search-fixed.digi-search-fixed_hide .digi-search.digi-search_attached {
    top: calc(var(--height-search-block-mobile) * -1);
}

#digi-shield.digi_mobile.digi-search-fixed.digi-search-fixed_hide .digi-search.digi-search_attached.digi-search_attached_full {
    top: calc(var(--height-search-block-mobile-full) * -1);
}

#digi-shield.digi_desktop .digi-search {
    position: relative;
    z-index: 2;
    padding: var(--indent-search-desktop) 0;
}

#digi-shield.digi_searchless .digi-search {
    display: none;
}

#digi-shield .digi-search-form {
    position: relative;
    display: flex;
}

#digi-shield.digi_mobile .digi-search-form {
    margin: var(--indent-vertical-search-mobile) var(--indent-main-mobile) 20px;
    height: var(--height-input-mobile);
}

#digi-shield.digi_desktop .digi-search-form {
    height: var(--height-input-desktop);
}

#digi-shield.digi_desktop .digi-search-form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

#digi-shield .digi-search-form__input-block {
    position: relative;
    flex-grow: 1;
}

#digi-shield .digi-search-form__input {
    min-width: 0;
    flex: 1;
    height: 100%;
    border-color: var(--border-color);
}

#digi-shield.digi_mobile .digi-search-form__input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 8px calc(var(--height-input-mobile) + 75px) 8px 12px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: 2px solid var(--color-primary-hover);
}

#digi-shield.digi_mobile .digi-search-form__input:focus {
    border-color: var(--color-primary-hover);
}

#digi-shield.digi_desktop .digi-search-form__input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 8px 140px 8px 45px;
    font-size: var(--font-size-main-desktop);
}

#digi-shield.digi_desktop .digi-search-form__input:focus {
    border-color: var(--color-primary-hover);
}

#digi-shield.digi_desktop .digi-search-form-active .digi-search-form__input {
    border-color: var(--color-primary-light);
}

#digi-shield.digi_desktop .digi-search-form__icon_decorative {
    stroke: var(--color-secondary);
}

#digi-shield.digi_desktop .digi-search-form-active .digi-search-form__icon_decorative {
    stroke: var(--color-primary);
}

#digi-shield .digi-search-form__actions {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

#digi-shield .digi-search-form__clear {
    position: relative;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#digi-shield .digi-search-form__submit {
    background-color: var(--color-primary);
    border: 1px solid transparent;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

#digi-shield.digi_mobile .digi-search-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    color: #fff;
    border: 2px solid var(--color-primary-hover);
}

#digi-shield.digi_mobile .digi-search-form__submit:hover {
    background-color: #c93a66;
}

#digi-shield.digi_desktop .digi-search-form__submit {
    width: 100px;
    border-left: 1px solid var(--color-tap-bg);
    color: var(--color-primary);
    font-size: 15px;
    background-color: var(--border-color);
    border-color: var(--border-color);
}

#digi-shield.digi_desktop .digi-search-form__submit:hover {
    color: #ffffff;
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}

#digi-shield.digi_desktop .digi-search-form-active .digi-search-form__submit {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

#digi-shield.digi_desktop .digi-search-form-active .digi-search-form__submit:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}

#digi-shield .digi-search-form__close {
    width: 100px;
    font-size: var(--font-size-second-mobile);
    color: var(--color-secondary);
}

#digi-shield .digi-search-form__close:hover {
    color: var(--color-primary);
}

#digi-shield.digi_mobile .digi-search-form__close {
    width: auto;
    margin-left: 10px;
}

#digi-shield.digi_desktop .digi-search-form__close {
    margin-left: 15px;
}

#digi-shield.digi_desktop .digi-search-form__close {
    border: 1px solid rgba(172, 172, 172, 0.2);
    border-radius: var(--border-radius);
    color: #000000;
}

#digi-shield.digi_desktop.digi_searchless .digi-main-scroll-wrapper {
    overflow: auto;
}

#digi-shield .digi-category__title {
    font-weight: var(--font-weight-main);
}

#digi-shield.digi_mobile .digi-category__title {
    margin-bottom: 20px;
    font-size: var(--font-size-header-mobile);
    margin-top: 25px;
    padding-left: var(--indent-main-mobile);
}

#digi-shield.digi_desktop .digi-category__title {
    padding: 20px 0 20px;
    border-bottom: 1px solid var(--color-primary-lighter);
    margin-bottom: 20px;
}

#digi-shield.digi_desktop .digi-category__title_slim {
    margin: calc(30px - var(--indent-search-desktop)) 0 20px;
}

#digi-shield.digi_desktop .digi-category__title, #digi-shield.digi_desktop .digi-category__title_slim {
    font-size: var(--font-size-header-desktop);
    font-weight: var(--font-weight-main);
}

#digi-shield .digi-empty {
    padding-top: var(--indent-search-desktop);
    font-size: var(--font-size-main-mobile);
}

#digi-shield .digi-empty p {
    margin-bottom: 5px;
}

#digi-shield.digi_mobile .digi-empty {
    padding: var(--indent-main-mobile);
}

#digi-shield.digi_desktop .digi-category-found-list {
    display: flex;
    align-items: center;
    overflow: auto;
    border-bottom: 1px solid var(--color-separator);
}

#digi-shield.digi_desktop .digi-category-found-item {
    flex: 0 0 auto;
    margin-bottom: 20px;
}

#digi-shield.digi_desktop .digi-category-found-item:not(:last-child) {
    margin-right: 40px;
}

#digi-shield.digi_desktop .digi-category-found-item__button {
    display: flex;
    align-items: center;
    font-size: var(--font-size-main-desktop);
}

#digi-shield.digi_desktop .digi-category-found-item__image {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 3px;
    overflow: hidden;
}

#digi-shield.digi_desktop .digi-category-found-item__meta {
    text-align: left;
}

#digi-shield.digi_desktop .digi-category-found-item__name, #digi-shield.digi_desktop .digi-category-found-item__value {
    display: block;
    margin: 10px 0;
}

#digi-shield.digi_desktop .digi-category-found-item__name {
    font-size: var(--font-size-main-desktop);
    line-height: 13px;
}

#digi-shield.digi_desktop .digi-category-found-item__value {
    line-height: 10px;
    font-size: var(--font-size-second-desktop);
    color: #f3c7d3;
}

#digi-shield.digi_desktop .digi-category-found-item__button:hover .digi-category-found-item__name {
    color: #23527c;
}

#digi-shield.digi_desktop .digi-main {
    margin-top: 20px;
}

#digi-shield.digi_desktop .digi-main-wrapper {
    display: flex;
}

#digi-shield.digi_desktop .digi-main__facets {
    flex: 0 0 auto;
    width: 264px;
    margin-right: 31px;
}

#digi-shield.digi_desktop .digi-main__results {
    flex: 1 1 auto;
}

#digi-shield.digi_desktop .digi-main-results-actions {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-separator);
    min-height: 54px;
}

#digi-shield.digi_ie .digi-main__results {
    flex: 1 1 100%;
}

#digi-shield .digi-facet_category, #digi-shield .digi-facet_common, #digi-shield .digi-facet_slider, #digi-shield .digi-facet_tile {
    /* Stranger bugs - https://www.oldi.ru/?digiPreview=XEMHMEQSN*/
    display: flex;
    flex-direction: column;
}

#digi-shield .digi-facet_category {
    margin-bottom: 20px;
}

#digi-shield.digi_desktop .digi-facet_category {
    margin-bottom: var(--indent-facet-bottom-desktop);
}

#digi-shield.digi_mobile .digi-facet_common, #digi-shield.digi_mobile .digi-facet_tile, #digi-shield.digi_mobile .digi-facet_slider {
    border-bottom: 1px solid var(--color-separator);
}

#digi-shield.digi_mobile .digi-facet_common:last-child, #digi-shield.digi_mobile .digi-facet_tile:last-child, #digi-shield.digi_mobile .digi-facet_slider:last-child {
    border-bottom: none;
}

#digi-shield.digi_mobile .digi-facet_common, #digi-shield.digi_mobile .digi-facet_tile {
    padding: 15px 0;
}

#digi-shield.digi_mobile .digi-facet_slider {
    padding: 15px 0 30px;
}

#digi-shield.digi_mobile .digi-facet_slider:first-child {
    padding-top: 0;
}

#digi-shield.digi_mobile .digi-facet_tile {
    position: relative;
}

#digi-shield.digi_mobile .digi-facet_tile__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#digi-shield.digi_desktop .digi-facet_common {
    margin-bottom: var(--indent-facet-bottom-desktop);
}

#digi-shield.digi_desktop .digi-facet_slider {
    margin-bottom: var(--indent-facet-bottom-desktop);
}

#digi-shield .digi-facet__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#digi-shield.digi_mobile .digi-facet__header {
    margin-bottom: 20px;
}

#digi-shield .digi-facet__title, #digi-shield .digi-facet__title__name {
    font-size: var(--font-size-main-mobile);
    font-weight: var(--font-weight-thickest);
}

#digi-shield .digi-facet__clear {
    padding: 0;
    text-decoration: underline;
    text-transform: lowercase;
    color: var(--color-secondary);
    font-size: var(--font-size-second-mobile);
}

#digi-shield .digi-facet__clear:disabled {
    color: var(--color-secondary);
}

#digi-shield.digi_desktop .digi-facet__clear {
    font-size: var(--font-size-second-desktop);
    text-transform: capitalize;
}

#digi-shield.digi_desktop .digi-facet__clear:hover {
    color: var(--color-primary);
}

#digi-shield .digi-facet__chosen {
    font-size: var(--font-size-second-mobile);
    margin-top: 10px;
    color: var(--color-secondary);
}

#digi-shield .digi-facet-category {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

#digi-shield .digi-facet-category__text {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    text-align: left;
}

#digi-shield .digi-facet-category__amount {
    flex: 1 0 20px;
    margin-left: 10px;
    color: #f3c7d3;
    font-size: var(--font-size-third-mobile);
    font-weight: var(--font-weight-main);
    text-align: right;
}

#digi-shield .digi-facet-category:disabled {
    cursor: default;
}

#digi-shield .digi-facet-category:hover:not(.digi-facet-category_active) {
    font-weight: 500;
}

#digi-shield .digi-facet-category:hover:not(.digi-facet-category_active) .digi-facet-category__amount {
    color: var(--color-primary);
}

#digi-shield .digi-facet-category:hover:not(.digi-facet-category_active) .digi-facet-category__text {
    color: var(--color-primary);
}

#digi-shield .digi-facet-category_active .digi-facet-category__text {
    color: var(--color-primary-hover);
}

#digi-shield .digi-facet-category_active .digi-facet-category__amount {
    background-color: initial;
    color: var(--color-primary-hover);
}

#digi-shield.digi_mobile .digi-facet-category {
    width: 100%;
    padding: 10px var(--indent-main-mobile);
    text-align: left;
}

#digi-shield.digi_mobile .digi-category-subtree .digi-facet-category {
    padding-left: 40px;
}

#digi-shield.digi_desktop .digi-facet-category {
    padding: 10px 0;
}

#digi-shield.digi_desktop .digi-facet-category__text {
    font-size: var(--font-size-main-desktop);
}

#digi-shield.digi_desktop .digi-category-subtree .digi-facet-category {
    padding-left: 20px;
}

#digi-shield .digi-facet__wrap {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

#digi-shield.digi_mobile .digi-facet__wrap {
    margin-top: 15px;
}

#digi-shield.digi_mobile .digi-facet__filter {
    position: absolute;
    top: calc(var(--height-input-mobile) - 1px);
    right: 0;
    left: 0;
    z-index: 3;
    padding: 0 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

#digi-shield .digi-facet__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    stroke: var(--color-secondary);
}

#digi-shield.digi_desktop .digi-facet__icon {
    right: unset;
    left: 10px;
}

#digi-shield.digi_mobile .digi-facet__input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 10px 40px 10px 15px;
}

#digi-shield.digi_mobile .digi-facet__input:focus {
    border-color: var(--color-primary-hover);
}

#digi-shield.digi_desktop .digi-facet__input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 10px 15px 10px 35px;
    font-size: 12px;
}

#digi-shield.digi_desktop .digi-facet__input:focus {
    border-color: var(--color-primary-hover);
}

#digi-shield.digi_desktop .digi-facet-filter__input {
    font-size: 14px;
}

#digi-shield .digi-facet-options_scrollable {
    max-height: 240px;
    overflow: auto;
    padding-right: 10px;
}

#digi-shield .digi-facet-options_offset {
    margin-top: 50px;
}

#digi-shield .digi-facet-options:not(.digi-facet-option_disabled):hover .digi-facet-option__text {
    color: var(--color-primary-hover);
}

#digi-shield.digi_mobile .digi-facet-options__item:not(:last-child) {
    margin-bottom: 18px;
}

#digi-shield.digi_desktop .digi-facet-options__item:not(:last-child) {
    margin-bottom: 16px;
}

#digi-shield .digi-facet-option {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

#digi-shield .digi-facet-option__text {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    text-align: left;
}

#digi-shield .digi-facet-option__amount {
    flex: 1 0 20px;
    margin-left: 10px;
    color: #f3c7d3;
    font-size: var(--font-size-third-mobile);
    font-weight: var(--font-weight-main);
    text-align: right;
}

#digi-shield .digi-facet-option_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#digi-shield .digi-facet-option:not(.digi-facet-option_disabled):hover .digi-facet-option__text, #digi-shield .digi-facet-option:not(.digi-facet-option_disabled):hover .digi-facet-option__amount {
    color: var(--color-primary);
}

#digi-shield .digi-facet-option:not(.digi-facet-option_disabled):hover .digi-facet-option__checkmark {
    border-color: var(--color-primary);
}

#digi-shield.digi_desktop .digi-facet-option__text {
    font-size: 14px;
}

#digi-shield .digi-facet-option__checkmark {
    position: relative;
    flex: 1 0 18px;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

#digi-shield .digi-facet-option__checkbox {
    display: none;
}

#digi-shield .digi-facet-option__checkbox:checked ~ .digi-facet-option__checkmark {
    border-color: var(--color-primary-hover);
}

#digi-shield .digi-facet-option__checkbox:checked ~ .digi-facet-option__checkmark:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--color-primary-hover);
    border-radius: 50%;
}

#digi-shield .digi-facet-option__checkbox:checked ~ .digi-facet-option__amount {
    color: var(--color-primary);
}

#digi-shield .digi-facet-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#digi-shield .digi-facet-slider__slot {
    position: relative;
    flex-grow: 1;
}

#digi-shield .digi-facet-slider__input {
    height: var(--height-input-mobile);
    width: 100%;
    padding: 0 15px 0 34px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-main-mobile);
}

#digi-shield .digi-facet-slider__input:not(:disabled):active, #digi-shield .digi-facet-slider__input:not(:disabled):focus {
    border-color: var(--color-primary);
}

#digi-shield .digi-facet-slider__input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#digi-shield.digi_desktop .digi-facet-slider__input {
    font-size: 14px;
    height: var(--height-input-desktop);
}

#digi-shield .digi-facet-slider__label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--color-secondary);
    font-size: var(--font-size-third-mobile);
    line-height: 11px;
    text-transform: capitalize;
}

#digi-shield.digi_desktop .digi-facet-slider__label {
    font-family: "Open Sans";
    font-size: 14px;
    text-transform: lowercase;
}

#digi-shield .digi-facet-slider__divider {
    flex: 1 1 15px;
    margin: 0 10px;
    height: 1px;
    background-color: var(--border-color);
}

#digi-shield .vue-slider {
    width: 100% !important;
    max-width: none !important;
    margin: 30px auto 0 !important;
    padding: 0 12px !important;
    height: var(--rail-height-mobile) !important;
    border-radius: 30px !important;
    background-color: #eeebed;
}

#digi-shield.digi_mobile .vue-slider {
    padding: 0 calc(var(--dot-size-mobile) / 2) !important;
}

#digi-shield.digi_desktop .vue-slider {
    padding: 0 calc(var(--dot-size-desktop) / 2) !important;
    margin: 20px auto 0 !important;
}

#digi-shield .vue-slider-rail {
    height: 100%;
}

#digi-shield .vue-slider-process {
    background-color: var(--color-tap-bg-hover) !important;
}

#digi-shield .vue-slider-dot {
    z-index: 1 !important;
    border: 2px solid #fff !important;
    border-radius: 50% !important;
    background-color: var(--color-tap-bg-hover) !important;
}

#digi-shield.digi_mobile .vue-slider-dot {
    width: var(--dot-size-mobile) !important;
    height: var(--dot-size-mobile) !important;
}

#digi-shield.digi_desktop .vue-slider-dot {
    width: var(--dot-size-desktop) !important;
    height: var(--dot-size-desktop) !important;
}

#digi-shield .digi-products-scroll-handler {
    /* Mobile only wrapper to handle scroll */
    max-height: calc(100vh - 45px);
    overflow: auto;
    padding: 0;
}

#digi-shield.digi_mobile.digi-search-fixed .digi-products-scroll-handler {
    padding-top: var(--height-search-block-mobile);
}

#digi-shield.digi_mobile.digi-search-fixed .digi-products-scroll-handler.digi-products-scroll-handler_full {
    padding-top: var(--height-search-block-mobile-full);
    background-color: #fff;
}

#digi-shield .digi-products-grid {
    display: flex;
    flex-wrap: wrap;
}

#digi-shield .digi-products {
    padding-bottom: 100px;
}

#digi-shield.digi_mobile .digi-products {
    padding-bottom: 150px;
}

#digi-shield .digi-product {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    white-space: normal;
    word-break: break-word;
    align-items: center;
    flex-direction: column;
}

#digi-shield .digi-product_ac {
    margin-bottom: 0;
    padding-bottom: 0;
}

#digi-shield.digi_mobile .digi-product {
    border-bottom: 1px solid var(--color-tap-bg);
    width: 50%;
    padding: var(--padding-product);
    border-top: 1px solid var(--color-separator);
    border-bottom: none;
    border-bottom: 1px solid var(--color-separator);
    margin-bottom: -1px;
    position: relative;
}

#digi-shield.digi_mobile .digi-product:nth-child(2n + 1) {
    border-right: 1px solid var(--color-separator);
}

@media (min-width: 600px) {
    #digi-shield.digi_mobile .digi-product {
        width: 33%;
    }

    #digi-shield.digi_mobile .digi-product:nth-child(2n + 1) {
        border-right: initial;
    }

    #digi-shield.digi_mobile .digi-product:nth-child(3n + 1) {
        border-right: 1px solid var(--color-separator);
    }

    #digi-shield.digi_mobile .digi-product:nth-child(3n + 2) {
        border-right: 1px solid var(--color-separator);
    }

    #digi-shield.digi_mobile .digi-product:nth-child(2n + 1) {
        border-right: 1px solid var(--color-separator);
    }
}

@media (min-width: 900px) {
    #digi-shield.digi_mobile .digi-product {
        width: 25%;
    }

    #digi-shield.digi_mobile .digi-product:nth-child(3n + 1) {
        border-right: initial;
    }

    #digi-shield.digi_mobile .digi-product:nth-child(3n + 2) {
        border-right: initial;
    }

    #digi-shield.digi_mobile .digi-product:nth-child(4n + 1) {
        border-right: 1px solid var(--color-separator);
    }

    #digi-shield.digi_mobile .digi-product:nth-child(4n + 2) {
        border-right: 1px solid var(--color-separator);
    }

    #digi-shield.digi_mobile .digi-product:nth-child(4n + 3) {
        border-right: 1px solid var(--color-separator);
    }
}

#digi-shield.digi_desktop .digi-product-main {
    flex-basis: calc(100% / 3 - 28px / 3);
    max-width: calc(100% / 3 - 28px / 3);
}

#digi-shield.digi_desktop .digi-product-main:not(:nth-child(3n)) {
    margin-right: 14px;
}

#digi-shield.digi_desktop .digi-product-main {
    padding: 20px;
    border: 1px solid #de8cb1;
    border-radius: 10px;
    position: relative;
}

#digi-shield .digi-product:hover .digi-product__label a {
    color: #23527c;
}

#digi-shield .digi-product__image-wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    height: 138px;
    margin: 0 0 10px 0;
}

#digi-shield.digi_desktop .digi-product-main .digi-product__image-wrapper {
    height: 197px;
    width: 100%;
    border-radius: 8px;
}

#digi-shield .digi-product__image {
    border-radius: 8px;
    width: initial;
}

#digi-shield .digi-product__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 142px;
    flex-grow: 1;
}

#digi-shield.digi_desktop .digi-product__main {
    max-width: 230px;
}

#digi-shield .digi-product__meta {
    margin-bottom: 5px;
    flex-grow: 1;
}

#digi-shield .digi-product__headline {
    display: none;
    margin-bottom: 5px;
    min-height: 16px;
}

#digi-shield.digi_desktop .digi-product__headline {
    min-height: 18px;
}

#digi-shield .digi-product__brand {
    display: block;
    line-height: 18px;
    font-size: var(--font-size-second-mobile);
    color: var(--color-secondary);
}

#digi-shield.digi_mobile .digi-product__brand {
    font-size: var(--font-size-second-mobile);
    line-height: 16px;
}

#digi-shield.digi_desktop .digi-product__brand {
    line-height: 18px;
    font-size: var(--font-size-main-desktop);
}

#digi-shield .digi-product__alternative {
    font-size: var(--font-size-second-desktop);
    line-height: 18px;
    color: var(--color-primary);
}

#digi-shield .digi-product__label, #digi-shield .digi-product__label * {
    line-height: 16px;
    line-height: 18px;
}

#digi-shield .digi-product__label {
    font-size: var(--font-size-second-mobile);
}

#digi-shield.digi_desktop .digi-product__label {
    font-size: 16px;
}

#digi-shield .digi-product__label a {
    overflow: hidden;
    display: -webkit-box;
    text-align: center;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: calc(18px * 4);
    /* line-height on strings */
}

#digi-shield.digi_desktop .digi-product-main .digi-product__label a {
    -webkit-line-clamp: 3;
    max-height: calc(18px * 3);
    /* line-height on strings */
}

#digi-shield .digi-product__price {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: center;
    align-items: flex-end;
}

#digi-shield .digi-product-price-variant_actual, #digi-shield .digi-product-price-variant_old {
    white-space: nowrap;
    color: var(--font-color-main);
}

#digi-shield .digi-product-price-variant_actual {
    font-weight: var(--font-weight-main);
    font-size: 27px;
    line-height: 34px;
    color: #4d002e;
}

#digi-shield .digi-product-price-variant_old {
    display: flex;
    align-items: flex-end;
    color: rgba(77, 0, 46, 0.5);
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 3px;
    margin-left: 5px;
}

#digi-shield .digi-product_ac .digi-product-price-variant_old {
    padding-bottom: 0;
}

#digi-shield .digi-product__actions {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
}

#digi-shield .digi-product__actions * :not(.digi__quantity-input) {
    user-select: none;
}

#digi-shield.digi_desktop .digi-product-main .digi-product__actions {
    flex-direction: row;
    position: relative;
}

#digi-shield .digi__quantity-block {
    display: flex;
    justify-content: space-between;
    background-color: #eeebed;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}

#digi-shield.digi_desktop .digi-product-main .digi__quantity-block {
    width: 80px;
    min-width: 76px;
    margin-right: 8px;
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
}

#digi-shield .digi__quantity-change, #digi-shield .digi__quantity-input {
    display: flex;
    height: 38px;
    width: 30%;
    justify-content: center;
    align-items: center;
}

#digi-shield .digi__quantity-input {
    text-align: center;
}

#digi-shield .digi__quantity-input::-webkit-inner-spin-button, #digi-shield .digi__quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#digi-shield .digi-notice-not-available {
    position: absolute;
    top: 50px;
    background: #fff;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
    border-radius: 10px;
    left: -5px;
    width: 150px;
    padding: 7px;
    z-index: 1000;
    font-size: 12px;
    text-align: center
}

#digi-shield.digi_desktop .digi-notice-not-available {
    left: -100px;
    width: 250px;
    padding: 15px;
    font-size: 14px;
}

#digi-shield .digi-notice-not-available::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: 5px;
    z-index: 1;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

#digi-shield .digi-add-cart, #digi-shield .digi-product__notAvailable {
    cursor: pointer;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 34px;
    border-radius: var(--border-radius);
    background-color: var(--color-tap-bg-hover);
    color: #fff;
    font-size: var(--font-size-second-mobile);
    line-height: 18px;
    text-align: center;
}

#digi-shield.digi_desktop .digi-add-cart:hover, #digi-shield.digi_desktop .digi-product__notAvailable:hover {
    background-color: var(--color-primary-hover);
}

#digi-shield .digi-add-cart svg, #digi-shield .digi-product__notAvailable svg {
    margin-right: 3px;
}

#digi-shield .digi-add-cart--default {
    padding: 0px 8px;
    height: 38px;
    font-size: 16px;
    width: 100%;
}

#digi-shield .digi-add-cart--default::before {
    background-repeat: no-repeat;
    padding-left: 18px;
    content: '';
    display: inline-block;
    margin: -1px 10px 0 0;
    vertical-align: middle;
    background-image: url(/images/sprite.png);
    background-position: 0 -374px;
    width: 18px;
    height: 18px
}

#digi-shield .digi-product__notAvailable {
    width: 140px;
    margin: 0 auto;
}

#digi-shield .digi-products__alternative-headline {
    font-size: 16px;
    color: var(--font-color-main);
    line-height: 24px;
    margin: 20px 0;
    padding-left: var(--indent-main-mobile);
}

#digi-shield.digi_desktop .digi-products__alternative-headline {
    margin: 25px 0;
}

#digi-shield .digi-products__alternative-headline_divider {
    width: 100%;
    font-size: 16px;
    color: var(--font-color-main);
    margin-top: 20px;
    margin-bottom: 10px;
}

#digi-shield.digi_mobile .digi-products__alternative-headline_divider {
    padding-left: var(--indent-main-mobile);
}

#digi-shield.digi_desktop .digi-products__alternative-headline_divider {
    margin: 30px 0;
    font-size: 24px;
}

#digi-shield .digi-pagination {
    display: flex;
    margin-bottom: 40px;
}

#digi-shield .digi-pagination__button {
    color: var(--color-secondary);
}

#digi-shield .digi-pagination__button_active {
    color: #000000;
}

#digi-shield.digi_mobile .digi-pagination__button {
    padding: 6px;
    font-size: 13px;
}

#digi-shield.digi_mobile .digi-pagination__button:not(:last-child) {
    margin-right: 10px;
}

#digi-shield.digi_desktop .digi-pagination__button {
    padding: 4px;
    font-size: 16px;
}

#digi-shield.digi_desktop .digi-pagination__button:not(:last-child) {
    margin-right: 20px;
}

#digi-shield .digi-ac {
    z-index: 2;
    width: 100%;
    overscroll-behavior: none;
    background-color: #ffffff;
}

#digi-shield.digi_mobile .digi-ac {
    position: fixed;
    top: 65px;
    bottom: 0px;
    overflow: auto;
    padding-bottom: 0;
}

#digi-shield.digi_desktop .digi-ac {
    position: absolute;
    top: calc(var(--indent-search-desktop) * 2 + var(--height-input-desktop));
    height: auto;
    overflow: visible;
    padding: 0 0 var(--indent-search-desktop) 0;
    width: calc(1240px - 20px * 2);
    left: calc(50% - 1240px / 2 + 20px);
}

#digi-shield.digi_desktop .digi-ac .digi-wrapper {
    padding: 0;
}

@media (max-width: 1064px) {
    #digi-shield.digi_desktop .digi-ac {
        left: 0;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    #digi-shield .digi-wrapper {
        width: 1200px;
    }
}

#digi-shield.digi_searchless .digi-ac {
    top: 0;
    padding: var(--indent-search-desktop) 0;
}

#digi-shield .digi-ac-block {
    margin-bottom: calc(var(--indent-vertical-main-mobile) - var(--indent-vertical-inner-mobile));
}

#digi-shield.digi_desktop .digi-ac-block {
    margin-bottom: calc(var(--indent-vertical-main-desktop) - var(--indent-vertical-inner-desktop) / 2);
}

#digi-shield.digi_desktop .digi-ac-block-products {
    margin-bottom: 0;
}

#digi-shield .digi-ac-block__title {
    padding: calc(var(--indent-vertical-inner-mobile) / 2) var(--indent-main-mobile);
    color: #f3c7d3;
}

#digi-shield .digi-ac-block__title_category {
    display: none;
}

#digi-shield .digi-ac-block__title_products {
    display: none;
}

#digi-shield.digi_mobile .digi-ac-block__title {
    font-size: var(--font-size-second-mobile);
}

#digi-shield.digi_desktop .digi-ac-block__title {
    margin-top: 10px;
    font-size: var(--font-size-second-desktop);
    padding-left: 30px;
}

#digi-shield.digi_desktop .digi-ac-block__title_products {
    padding-left: 0;
}

#digi-shield .digi-ac-block__button {
    display: block;
    width: 100%;
    padding: calc(var(--indent-vertical-inner-mobile) / 2) var(--indent-main-mobile);
    font-size: var(--font-size-main-mobile);
    line-height: 18px;
    text-align: left;
}

#digi-shield.digi_desktop .digi-ac-block__button:hover {
    background-color: var(--color-primary-light);
}

#digi-shield.digi_desktop .digi-ac-block__button {
    font-size: var(--font-size-main-desktop);
    padding: calc(var(--indent-vertical-inner-desktop) / 2) 15px calc(var(--indent-vertical-inner-desktop) / 2) 30px;
}

#digi-shield.digi_desktop .digi-ac-block__button b {
    font-weight: bold;
}

#digi-shield .digi-ac-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#digi-shield .digi-ac-history__text {
    color: var(--color-history);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 22px;
}

#digi-shield .digi-ac-history__clear {
    display: flex;
    position: relative;
    min-width: 20px;
    height: 18px;
    margin-left: 20px;
    justify-content: flex-end;
}

#digi-shield.digi_desktop .digi-ac-history__clear {
    min-width: 14px;
    height: 14px;
    display: none;
}

#digi-shield.digi_desktop .digi-ac-history:hover .digi-ac-history__clear {
    display: block;
}

#digi-shield .digi-tips {
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--indent-vertical-inner-mobile) / 2) var(--indent-main-mobile) 0;
}

#digi-shield .digi-tips_scrollable {
    flex-wrap: nowrap;
    padding: 0 var(--indent-main-mobile);
    overflow: auto;
}

#digi-shield.digi_mobile .digi-tips_scrollable:after {
    content: "";
    display: block;
    flex: 0 0 20px;
}

#digi-shield.digi_mobile .digi-tips_refs {
    flex: 0 0 auto;
    padding-top: calc(var(--indent-vertical-main-mobile) - var(--indent-vertical-search-mobile));
    padding-bottom: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

#digi-shield.digi_mobile.digi-search-fixed .digi-search_attached .digi-tips_refs {
    box-shadow: none;
}

#digi-shield.digi_mobile .digi-tips_refs {
    padding-top: 0;
}

#digi-shield.digi_desktop .digi-tips_refs {
    position: absolute;
    width: calc(100% - 280px);
    margin-top: 0;
    padding: 0;
}

#digi-shield .digi-tip {
    margin-right: calc(var(--indent-vertical-inner-mobile) / 2);
    margin-bottom: calc(var(--indent-vertical-inner-mobile) / 2);
}

#digi-shield .digi-tip:last-child {
    margin-right: 0;
}

#digi-shield .digi-tip__cloud {
    border-radius: var(--border-radius);
    color: var(--font-color-main);
    white-space: nowrap;
    background-color: var(--color-tap-bg);
}

#digi-shield.digi_mobile .digi-tip__cloud:focus {
    background-color: #de8cb1;
    color: #fff;
}

#digi-shield.digi_mobile .digi-tip__cloud {
    padding: 12px 18px;
    font-size: var(--font-size-main-mobile);
}

#digi-shield.digi_desktop .digi-tip__cloud {
    font-size: var(--font-size-main-desktop);
    padding: 10px 16px;
}

#digi-shield.digi_desktop .digi-tip__cloud:hover {
    background-color: #de8cb1;
    color: #fff;
}

#digi-shield .digi-ac-category__term, #digi-shield .digi-ac-category__name {
    display: block;
}

#digi-shield .digi-ac-category__term {
    margin-bottom: 4px;
    font-weight: bold;
}

#digi-shield.digi_mobile .digi-ac-category__term {
    font-size: var(--font-size-main-mobile);
    overflow: hidden;
    text-overflow: ellipsis;
}

#digi-shield.digi_desktop .digi-ac-category__term {
    font-size: var(--font-size-main-desktop);
}

#digi-shield .digi-ac-category__name {
    line-height: 20px;
}

#digi-shield.digi_mobile .digi-ac-category__name {
    font-size: var(--font-size-main-desktop);
}

#digi-shield.digi_desktop .digi-ac-category__name {
    font-size: var(--font-size-second-desktop);
}

#digi-shield.digi_desktop .digi-ac-find {
    margin-bottom: 0;
}

#digi-shield.digi_desktop .digi-ac-find__button {
    color: #4d002e;
    font-size: var(--font-size-main-desktop);
    line-height: 18px;
    font-weight: var(--font-weight-main);
    text-decoration: underline;
}

#digi-shield.digi_desktop .digi-ac-find__button:hover {
    text-decoration: none;
}

#digi-shield.digi_desktop .digi-ac__wrapper {
    position: relative;
    display: flex;
}

#digi-shield.digi_desktop .digi-ac__wrapper:before {
    content: "";
    position: absolute;
    top: -10px;
    transform: translateY(-50%) rotate(45deg);
    left: 50px;
    z-index: 2;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 3px;
}

#digi-shield.digi_desktop .digi-ac__set_main {
    flex: 0 0 auto;
    padding-bottom: 20px;
    border-right: 1px solid var(--color-primary-lighter);
    width: 324px;
    border-color: var(--color-tap-bg);
}

#digi-shield.digi_desktop .digi-ac__set_products {
    flex-grow: 1;
    padding: 0 20px;
}

#digi-shield.digi_desktop .digi-product_ac {
    flex-direction: row;
    margin-bottom: 40px;
    flex-basis: calc(100% / 2 - 20px / 2);
    position: relative;
}

#digi-shield.digi_desktop .digi-product_ac:last-child, #digi-shield.digi_desktop .digi-product_ac:nth-last-child(2) {
    margin-bottom: 25px;
}

#digi-shield.digi_desktop .digi-product_ac:not(:nth-child(3n)) {
    margin-right: initial;
}

#digi-shield.digi_desktop .digi-product_ac:not(:nth-child(2n)) {
    margin-right: 20px;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__image-wrapper {
    height: 110px;
    width: 110px;
    margin-right: 15px;
    min-width: 110px;
    margin-bottom: 0;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__main {
    max-width: initial;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__meta {
    margin-bottom: 8px;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__price {
    justify-content: initial;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product-price-variant_actual {
    font-size: 16px;
    line-height: 18px;
    color: #4d002e;
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__label a {
    text-align: initial;
    -webkit-line-clamp: 2;
    max-height: calc(18px * 2);
    /* line-height on strings */
}

#digi-shield.digi_desktop .digi-product_ac .digi-product__actions {
    flex-direction: row;
}

#digi-shield.digi_desktop .digi-product_ac .digi__quantity-block {
    width: 84px;
    margin-right: 7px;
    margin-bottom: 0;
    cursor: pointer;
    min-width: 84px;
    position: relative;
}

#digi-shield.digi_desktop .digi-product_ac .digi-add-btn-wrapper--empty {
    width: 38px;
}

#digi-shield.digi_desktop .digi-product_ac .digi-add-cart:before {
    margin-right: 0;
}

#digi-shield.digi_mobile .digi-product__actions a.digi-check-cart {
    left: 58px;
    font-size: 12px;
    top: 56px;
    position: absolute;
    display: none;
}

#digi-shield.digi_desktop .digi-product__actions a.digi-check-cart {
    left: 130px;
    font-size: 12px;
    top: 11px;
    position: absolute;
    display: none;
}

#digi-shield.digi_desktop .digi-product_ac .digi-add-cart svg {
    margin-right: 0;
}

#digi-shield.digi_ie .digi-ac__set_products {
    flex: 1 1 100%;
}

.multiselect__option--selected {
    pointer-events: none;
}

#digi-shield.digi_mobile .digi-sort {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    visibility: hidden;
    transition: visibility 0.5s ease, background-color 0.5s ease;
}

#digi-shield.digi_mobile .digi-sort_faded {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
}

#digi-shield .digi-sort__button {
    width: 100%;
    padding: 10px var(--indent-main-mobile);
    text-align: left;
}

#digi-shield .digi-sort__button_active {
    background-color: initial;
    font-weight: var(--font-weight-main);
    color: var(--color-primary-hover);
}

#digi-shield.digi_desktop .digi-sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 260px;
    margin-left: auto;
    margin-bottom: calc(var(--indent-vertical-inner-mobile) / 2);
}

#digi-shield.digi_desktop .digi-sort__text, #digi-shield.digi_desktop .multiselect, #digi-shield.digi_desktop .multiselect__input, #digi-shield.digi_desktop .multiselect__single {
    font-family: inherit;
    font-size: 12px;
    line-height: 16px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#digi-shield.digi_desktop .digi-sort__text {
    padding-top: 2px;
    margin-right: 10px;
}

#digi-shield.digi_desktop .multiselect {
    position: relative;
    display: block;
    width: 175px;
    min-height: 32px;
    color: var(--font-color-main);
    text-align: left;
}

#digi-shield.digi_desktop .multiselect--active {
    z-index: 3;
}

#digi-shield.digi_desktop .multiselect--active .multiselect__select {
    transform: rotate(180deg);
}

#digi-shield.digi_desktop .multiselect--active:not(.multiselect--above) .multiselect__tags {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#digi-shield.digi_desktop .multiselect--above .multiselect__content-wrapper {
    border-top: 1px solid #e8e8e8;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

#digi-shield.digi_desktop .multiselect__select {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 40px;
    min-height: 32px;
    padding: 4px 8px;
    text-align: center;
}

#digi-shield.digi_desktop .multiselect__select:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0.409668 5.01208L5.00423 0.396937L9.59876 5.01209' stroke='%234D002E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='6' height='10' fill='white' transform='translate(0 6) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
}

#digi-shield.digi_desktop .multiselect__tags {
    display: block;
    min-height: 32px;
    padding: 7px 40px 7px 10px;
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: 14px;
    min-width: 170px;
    cursor: pointer;
}

#digi-shield.digi_desktop .multiselect__content-wrapper {
    position: absolute;
    z-index: 11;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-overflow-scrolling: touch;
}

#digi-shield.digi_desktop .multiselect__content {
    min-width: 100%;
}

#digi-shield.digi_desktop .multiselect__content::webkit-scrollbar {
    display: none;
}

#digi-shield.digi_desktop .multiselect__element {
    display: block;
}

#digi-shield.digi_desktop .multiselect__option {
    display: flex;
    align-items: center;
    min-height: 32px;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
}

#digi-shield.digi_desktop .multiselect__option:hover {
    background-color: #de8cb132;
}

#digi-shield.digi_desktop .multiselect__option--selected {
    background-color: #de8cb132;
}

#digi-shield.digi_desktop .multiselect__option--selected span {
    font-weight: 500;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

#digi-shield .slideInUp {
    animation-name: slideInUp;
}

@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}

#digi-shield .slideOutDown {
    animation-name: slideOutDown;
}

@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}

#digi-shield .slideOutRight {
    animation-name: slideOutRight;
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

#digi-shield .slideInRight {
    animation-name: slideInRight;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#digi-shield .fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#digi-shield .fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

#digi-shield .fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

#digi-shield .fadeOutDown {
    animation-name: fadeOutDown;
}

#digi-shield .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

#digi-shield .animated.infinite {
    animation-iteration-count: infinite;
}

#digi-shield .animated.delay-1s {
    animation-delay: 1s;
}

#digi-shield .animated.delay-2s {
    animation-delay: 2s;
}

#digi-shield .animated.delay-3s {
    animation-delay: 3s;
}

#digi-shield .animated.delay-4s {
    animation-delay: 4s;
}

#digi-shield .animated.delay-5s {
    animation-delay: 5s;
}

#digi-shield .animated.fast {
    animation-duration: 800ms;
}

#digi-shield .animated.faster {
    animation-duration: 500ms;
}

#digi-shield .animated.slow {
    animation-duration: 2s;
}

#digi-shield .animated.slower {
    animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
    #digi-shield .animated {
        animation-duration: 1ms !important;
        transition-duration: 1ms !important;
        animation-iteration-count: 1 !important;
    }
}

#digi-shield .digi-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

#digi-shield .digi-screen_tiny {
    top: unset;
}

#digi-shield .digi-screen__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: var(--height-input-mobile);
    background-color: #ffffff;
}

#digi-shield .digi-screen__actions_top {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 0 var(--indent-main-mobile);
}

#digi-shield .digi-screen__actions_bottom {
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}

#digi-shield .digi-screen__actions_fixed {
    /* Keep this shadow shining */
    position: fixed;
    z-index: 1;
}

#digi-shield .digi-screen__actions_fixed.digi-screen__actions_top {
    top: 0;
}

#digi-shield .digi-screen__actions_fixed.digi-screen__actions_bottom {
    bottom: 0;
}

#digi-shield .digi-screen__slot {
    display: flex;
    flex: 1 0;
    justify-content: center;
}

#digi-shield .digi-screen__slot_l {
    justify-content: flex-start;
}

#digi-shield .digi-screen__slot_r {
    justify-content: flex-end;
}

#digi-shield .digi-screen__title {
    flex-grow: 1;
    text-align: center;
    text-transform: none;
    font-weight: var(--font-weight-main);
    font-size: var(--font-size-main-mobile);
}

#digi-shield .digi-screen__button {
    /* In case there are smth inside */
    display: flex;
    align-items: center;
    color: var(--color-primary-hover);
    height: var(--screen-height);
    padding: 0 var(--indent-main-mobile);
    font-size: var(--font-size-main-mobile);
}

#digi-shield .digi-screen__button_stretch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 50%;
    font-weight: bold;
}

#digi-shield .digi-screen__button_stretch:not(:last-child):after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 20px;
    background-color: var(--color-separator);
}

#digi-shield .digi-screen__button:disabled {
    color: var(--color-secondary);
}

#digi-shield .digi-screen__button_c-black {
    color: var(--font-color-main);
}

#digi-shield .digi-screen__button_f-small {
    padding: 0;
    font-size: var(--font-size-third-mobile);
    color: var(--color-secondary);
}

#digi-shield .digi-screen__button-clearAll {
    text-decoration: underline;
}

#digi-shield .digi-screen__icon, #digi-shield .digi-screen__count {
    margin-right: 8px;
}

#digi-shield .digi-screen__icon__arrow-left {
    position: relative;
    margin-right: 3px;
    width: 9px;
    height: 9px;
    border-top: 1px solid var(--color-secondary);
    border-right: 1px solid var(--color-secondary);
    transform: rotate(-135deg);
}

#digi-shield .digi-screen__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--screen-count-size);
    height: var(--screen-count-size);
    background-color: var(--color-primary-hover);
    color: #ffffff;
    font-size: 10px;
    border-radius: 0;
}

#digi-shield .digi-screen__content {
    flex-grow: 1;
    overflow: auto;
    padding: 20px 0;
}

#digi-shield .digi-screen__content_indented {
    padding: 20px;
}

#digi-shield.digi_tpl-fashion {
    /**
       * Fashion template
       */
}

#digi-shield.digi_tpl-fashion.digi_tpl-fashion {
    --color-primary: #d82e36;
    --color-primary-light: #f3c0c3;
    --color-primary-lighter: #f3c0c3;
    --color-history: #d82e36;
    --color-tap-bg: #fdf2f3;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-ac__set_products {
    padding: 0 0 0 30px;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-main__facets {
    width: 217px;
    margin-right: 30px;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-products-grid .digi-product {
    flex-basis: calc(100% / 3 - 20px / 3);
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-products-grid .digi-product:not(:nth-child(4n)) {
    margin-right: 0;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-products-grid .digi-product:not(:nth-child(3n)) {
    margin-right: 10px;
}

#digi-shield.digi_tpl-fashion .digi-product {
    flex-direction: column;
    align-items: center;
}

#digi-shield.digi_tpl-fashion.digi_mobile .digi-product {
    border: none;
}

#digi-shield.digi_tpl-fashion .digi-product__image-wrapper {
    width: 100%;
}

#digi-shield.digi_tpl-fashion.digi_mobile .digi-product__image-wrapper {
    height: 280px;
    margin: 0 0 20px;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-product__image-wrapper {
    height: 400px;
}

#digi-shield.digi_tpl-fashion.digi_desktop .digi-product_ac .digi-product__image-wrapper {
    height: 360px;
}

#digi-shield.digi_tpl-fashion .digi-product__meta {
    margin-bottom: 25px;
}

#digi-shield.digi_tpl-fashion .digi-product__brand, #digi-shield.digi_tpl-fashion .digi-product__label {
    text-align: center;
}

#digi-shield.digi_tpl-fashion .digi-product__headline {
    margin-bottom: 10px;
    min-height: 21px;
}

#digi-shield.digi_tpl-fashion .digi-product__brand {
    font-size: 16px;
    line-height: 21px;
}

#digi-shield.digi_tpl-fashion .digi-product__label {
    font-size: 14px;
}

#digi-shield.digi_tpl-fashion .digi-product__label * {
    line-height: 18px;
}

#digi-shield.digi_tpl-fashion .digi-product__price {
    justify-content: center;
}

#digi-shield.digi_tpl-fashion .digi-product-price-variant_actual {
    font-size: 16px;
}

#digi-shield.digi_tpl-fashion .digi-product-price-variant_old {
    font-size: 14px;
}

#digi-shield.digi_tpl-fashion .digi-product__actions {
    display: none;
}

#digi-shield.digi-disable-scroll .digi__quantity-change.digi__quantity-inc::after {
    left: 57px;
}

.digi__quantity-change.digi__quantity-inc::after {
    content: "+";
    display: block !important;
    position: absolute;
    font-size: 30px;
    top: 2px;
    right: 6px;
    height: 36px;
}

.digi__quantity-change.digi__quantity-decr::after {
    content: "-";
    display: block !important;
    position: absolute;
    font-size: 30px;
    top: 2px;
    height: 36px;
    left: 6px;
}

#digi-shield.digi_mobile .digi__quantity-change.digi__quantity-inc::after {
    left: 111px;
}

.digi-disable-scroll .api-ajax-icon {
    display: none !important;
}

.digi-disable-scroll .api-clear-icon {
    display: none !important;
}

#digi-shield .digi-product-sale {
    position: absolute;
    left: -1px;
    top: 0;
    z-index: 1;
}

.api-search-backdrop {
    display: none !important;
}

#digi-shield .digi-addTo-favorite .digi-addTo-favorite-icon {
    width: 35px;
    height: 32px;
    background-image: url(/images/sprite.png);
    background-position: 0px -1238px;
    display: block;
}

#digi-shield .digi-addTo-favorite .digi-addTo-favorite-icon-active {
    background-image: url(/images/sprite.png);
    background-position: 0px -1036px;
}

#digi-shield .digi-addTo-favorite {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    display: block;
}

#digi-shield .digi-product-attr {
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 1;
    width: 90px;
    height: 90px;
    display: block;
    background-image: url(/images/sprite.png);
}

#digi-shield .digi-product-attr-sale {
    background-position: 0px -2071px;
}

#digi-shield .digi-product-attr-hit {
    background-position: 0px -1981px;
}

#digi-shield .digi-product-attr-new {
    background-position: 0px -1880px;
}

#digi-shield .digi-product-attr-ac {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 53px;
    height: 53px;
    background-image: url(/images/sprite.png);
    background-position: 0px -2565px;
    display: block;
    background-size: 53px 1309px;
}

#digi-shield .digi-product-attr-ac-sale {
    background-position: 0px -2564px;
}

#digi-shield .digi-product-attr-ac-hit {
    background-position: 0px -2509px;
}

#digi-shield .digi-product-attr-ac-new {
    background-position: 0px -2449px;
}

#digi-shield.digi_mobile .digi-add-cart--added {
    width: 100%;
    margin-right: 0;
}

#digi-shield .digi-add-cart--added {
    background-image: none !important;
    margin-right: 5px;
    min-width: 38px;
    width: 38px;
    height: 38px;
    padding: 0;
}

#digi-shield .digi-add-text {
    font-size: 13px;
    text-align: center;
}

#digi-shield.digi_mobile .digi-add-text {
    display: none;
    font-size: 12px;
    margin-top: 2px;
}

#digi-shield .digi-add-text a {
    text-decoration: underline;
}

#digi-shield .digi-add-btn-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

#digi-shield.digi_mobile .digi-add-btn-wrapper {
    flex-direction: column;
}

#digi-shield .digi-add-btn-wrapper--hidden {
    display: none;
}

#digi-shield .digi-footer-nav {
    padding: 20px 0 30px;
    background: #ead4bf url(/images/striped_bg.png) top center
}

#digi-shield.digi_mobile .digi-footer-nav {
    padding-bottom: calc(30px + 45px);
}

#digi-shield .digi-footer-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    min-width: 1064px;
    max-width: 1210px;
}

#digi-shield.digi_mobile .digi-footer-container {
    min-width: auto;
}

@media screen and (max-width: 640px) {
    #digi-shield .digi-footer-container {
        width: 100%;
        min-width: auto;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    #digi-shield .digi-footer-container {
        width: 750px
    }
}

@media (min-width: 992px) {
    #digi-shield .digi-footer-container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    #digi-shield .digi-footer-container {
        width: 1200px
    }
}

#digi-shield .digi-row {
    display: flex;
}

#digi-shield .digi-col-6 {
    width: 50%;
    padding: 0 15px;
}

#digi-shield .digi-footcatnav {
    margin-bottom: 30px;
}

#digi-shield .digi-footcatnav__title {
    margin: 30px 0;
    font-family: merriweather;
    font-size: 24px;
}

#digi-shield .digi-footcatnav_footersub_menu > ul {
    background: #fff;
    border-radius: 10px;
    padding: 20px 40px 0;
}

#digi-shield .digi-footcatnav_footersub_menu li {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    font-family: merriweather;
    font-size: .9em;
}

#digi-shield .digi-footcatnav_footersub_menu li a {
    margin-bottom: 10px;
    display: inline-block;
    color: #4d002e;
}

#digi-shield .digi-footcatnav_footersub_menu li a:hover {
    color: #23527c;
}

#digi-shield .digi-row-social noindex {
    margin-left: auto;
}

#digi-shield .digi-social {
    width: 100%;
    margin-left: auto;
}

#digi-shield .digi-social ul {
    display: flex;
    flex-direction: row-reverse;
}

#digi-shield .digi-social li {
    padding: 5px;
}

#digi-shield .digi-social a {
    display: block;
    position: relative;
    padding: 14px 10px 10px;
    height: 40px;
    width: 40px;
    color: #fff;
    text-decoration: none;
    text-align: center
}

#digi-shield .digi-social .vk:before, #digi-shield .digi-social .ig:before, #digi-shield .digi-social .fb:before, #digi-shield .digi-social .ok:before {
    display: block;
    width: 40px;
    height: 40px;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

#digi-shield .digi-social .ok:before {
    background-image: url(/local/templates/main/images/soc-icon.png);
    background-position: -81px -0px;
}

#digi-shield .digi-social .fb:before {
    background-image: url(/local/templates/main/images/soc-icon.png);
    background-position: -41px -0px;
}

#digi-shield .digi-social .ig:before {
    background-image: url(/local/templates/main/images/soc-icon.png);
    background-position: 0 0px;
}

#digi-shield .digi-social .vk:before {
    background-image: url(/local/templates/main/images/soc-icon.png);
    background-position: -122px -0px;
}

#digi-shield .digi-footer-main {
    position: relative;
    background: #ca2162;
    color: #fff;
}

#digi-shield .digi-row-footer-main {
    height: 126px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    #digi-shield .digi-row-footer-main {
        flex-wrap: nowrap;
        height: 65px;
    }
}

#digi-shield .digi-footer-logo {
    position: absolute;
    width: 124px;
    height: 103px;
    margin-left: -14px;
    top: -14px;
    z-index: 2;
}

#digi-shield .digi-footer-slogan {
    width: 100%;
    padding: 10px 40px 10px 125px;
}

@media (min-width: 768px) {
    #digi-shield .digi-footer-slogan {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    #digi-shield .digi-footer-slogan {
        width: 33%;
    }
}

#digi-shield .digi-slogan__title {
    text-transform: uppercase;
    font-family: merriweather;
    font-size: 17.6px;
}

#digi-shield .digi-slogan__text {
    font-size: 12.8px;
    font-style: italic;
    line-height: 1.5em;
}

#digi-shield .digi-footer__phone {
    width: 100%;
    font-size: 17.6px;
}

@media (min-width: 768px) {
    #digi-shield .digi-footer__phone {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    #digi-shield .digi-footer__phone {
        width: 33%;
    }
}

#digi-shield .digi-footer__phone span {
    display: flex;
    justify-content: flex-end;
}

#digi-shield .digi-footer__phone span:before {
    margin-right: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    content: '';
    font-size: 0;
    line-height: 0;
    background-image: url(/images/sprite.png);
    vertical-align: baseline;
    background-position: 0 -402px;
    width: 20px;
    height: 20px;
}

#digi-shield .digi-footer-bottom {
    padding: 7px 0;
}

.digi-footer-bottom .digi-row {
    flex-direction: column;
}

#digi-shield .digi-legal-name, #digi-shield .digi-copyright, #digi-shield .digi-footer-powerby {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12.8px;
}

@media (min-width: 992px) {
    #digi-shield .digi-legal-name,
    #digi-shield .digi-copyright,
    #digi-shield .digi-footer-powerby {
        width: 33%;
        margin-bottom: 0;
    }
    #digi-shield .digi-legal-name {
        text-align: left;
    }

    #digi-shield .digi-footer-powerby {
        text-align: right;
    }
    #digi-shield .digi-legal-name {
        padding-left: 125px;
    }

    .digi-footer-bottom .digi-row {
        flex-direction: row;
        justify-content: space-between;
    }
}


#digi-shield .digi-footer-powerby a:hover {
    color: #23527c;
    text-decoration: underline;
}