<template id="autocomplete">
  <div class="digi-ac" v-if="isOpenAutocomplete" v-show="!isAutocompleteEmpty">
    <div :class="{ 'digi-wrapper': !isMobile }">
      <div class="digi-ac__wrapper">
        <div class="digi-ac__set digi-ac__set_main">
          <div class="digi-ac-block" v-if="isHistoryVisible">
            <div class="digi-ac-block__title digi-ac-block__title_history">История запросов</div>
            <ul>
              <li v-for="(item, index) in relevantHistory.slice(0, 3)" :key="index">
                <button type="button" class="digi-ac-block__button digi-ac-history"
                        @click="digiCustom.handleHistory(item.name, index, term, correction)">
                  <span class="digi-ac-history__text" :inner-html.prop="item.name | highlightTerm(term)"></span>

                  <!-- This should obviously be a button but nested buttons is not valid syntax -->
                  <span class="digi-ac-history__clear" @click.stop="removeHistoryItem(item)"></span>
                </button>
              </li>
            </ul>
          </div>

          <div class="digi-ac-block" v-if="isMobile && taps && taps.length">
            <ul class="digi-tips">
              <li v-for="(tap, index) in taps.slice(0, 7)" :key="index" class="digi-tip">
                <button type="button" class="digi-tip__cloud" @click.stop="handleTap(tap.relatedSearch); digiCustom.pushDigiClickTapEventData(tap.tap, index);">
                  {{ tap.tap }}
                </button>
              </li>
            </ul>
          </div>

          <div class="digi-ac-block" v-if="categories && categories.length && term">
            <div class="digi-ac-block__title digi-ac-block__title_category">Категории</div>

            <ul>
              <li v-for="(category, index) in categories.slice(0, 3)" :key="index"
                  @click="digiCustom.categoryClick(category, index, term, correction)">
                <a :href="category.link_url" class="digi-ac-block__button digi-ac-category">
                  <span class="digi-ac-category__term">{{ correction || term }}</span>
                  <span class="digi-ac-category__name">
                    В категории {{ category.name }}
                  </span>
                </a>
              </li>
            </ul>
          </div>

          <div class="digi-ac-block" v-if="queries && queries.length">
            <div class="digi-ac-block__title digi-ac-block__title_queries">Часто ищут</div>

            <ul>
              <li v-for="(query, index) in queries.slice(0, 4)" :key="index">
                <button type="button" class="digi-ac-block__button"
                        :inner-html.prop="query.st | highlightTerm(term)"
                        @click="digiCustom.handleQuery(query.st, query.redirectUrl, index, term, correction)"></button>
              </li>
            </ul>
          </div>
        </div>

        <div class="digi-ac__set digi-ac__set_products" v-if="products && products.length">
          <div class="digi-ac-block">
            <div class="digi-ac-block__title digi-ac-block__title_products">Популярные товары</div>

            <div class="digi-products-grid">
              <div v-for="(product, key) in products.slice(0, 6)" :key="key"
                   class="digi-product digi-product_ac"
                   @click="digiCustom.handleClickProduct(product, key, term, correction)"
                   data-id="" data-name="">
                <div class="digi-product_hover-extend">
                  <a :href="product.link_url" class="digi-product__image-wrapper" target="_blank">
                    <img :src="product.image_url || `//cdn.diginetica.net/images/noimage.png`" alt="" class="digi-product__image" onerror="this.src='//cdn.diginetica.net/images/noimage.png';">
                  </a>

                  <div class="digi-product__main">
                    <div class="digi-product__meta">
                      <div class="digi-product__brand" v-if="product.brand">
                        <a :href="product.link_url" target="_blank">{{ product.brand }}</a>
                      </div>

                      <div class="digi-product__label">
                        <a :href="product.link_url" target="_blank">{{ product.name }}</a>
                      </div>
                    </div>

                    <div class="digi-product__price" v-if="+product.price">
                    <span class="digi-product-price-variant digi-product-price-variant_actual">{{ product.price | thousandSeparator }}
                      <span class="digi-product-price-variant__currency">₽</span></span>

                      <span class="digi-product-price-variant digi-product-price-variant_old" v-if="product.oldPrice"><s>{{ product.oldPrice | thousandSeparator }}
                        <span class="digi-product-price-variant__currency">₽</span></s></span>
                    </div>

                    <div class="digi-product__actions" v-if="!isMobile">
                      <a :href="product.link_url" target="_blank" class="digi-product__button">
                        Посмотреть
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="digi-ac-find" v-if="term">
              <button class="digi-ac-find__button"
                      @click="digiCustom.handleSubmitButton(term, correction, null, 'showAllAQ', 1, autocompleteData.products, refinements, null)">
                Смотреть все результаты поиска
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>