<template id="common">
  <div
      id="digi-shield"
      class="digi-is-container digi_tpl-simple"
      ref="digi-shield"
      v-scroll="!config.positionSelector && checkScroll"
      :class="[{ 'digi-is-container_white': isMobile }, { 'digi_desktop': !isMobile }, { 'digi_mobile': isMobile }, { 'digi_hidden': !isOpen }, { 'digi_open': isOpen }, { 'digi_ie': isIE }, { 'digi_searchless': config.positionSelector && !isMobile }]"
  >
    <template v-if="isMobile">
      <div class="digi-search digi-search_mobile">
        <form
            class="digi-search__form digi-search-form"
            @submit="digiCustom.handleEnter($event, correction, term, redirect, refinements, pagination.currentPage, productList.lastIds)"
        >
          <div class="digi-search-form__input-block">
            <input
                type="text"
                class="digi-search-form__input"
                data-target="_self"
                ref="digi-search-input"
                :value="term"
                @focus="handleFocusDigiInput"
                @click="handleClickDigiInput"
                @input="handleInput"
            >

            <div class="digi-search-form__actions">
              <button
                  type="button"
                  class="digi-search-form__clear"
                  @click.stop="clearInput"
                  v-if="term"
              >
              </button>

              <button
                  type="button"
                  class="digi-search-form__submit"
                  @click="digiCustom.handleSubmitButton(term, correction, redirect, 'searchButton', pagination.currentPage, null, refinements, productList.lastIds)"
              >
                <svg
                    width="19"
                    height="19"
                    viewBox="0 0 19 19"
                    xmlns="http://www.w3.org/2000/svg"
                    class="digi-search-form__icon"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    fill="none"
                >
                  <use xlink:href="#magnifier"></use>
                </svg>
              </button>
              <button
                  type="button"
                  class="digi-init-search"
                  @click="handleEnter($event, 'searchButton')"
              ></button>
            </div>
          </div>

          <button type="button" class="digi-search-form__close" @click="closePopup">
            Закрыть
          </button>
        </form>
      </div>

      <autocomplete @render-autocomplete="renderAC"></autocomplete>

      <template v-if="!isOpenAutocomplete">
        <ul class="digi-tips digi-tips_scrollable digi-tips_refs" v-if="refinements.length">
          <li v-for="(refinement, index) in refinements" :key="index" class="digi-tip">
            <button type="button" class="digi-tip__cloud" @click="onClickRefinement(refinement)">
              {{ refinement.tap }}
            </button>
          </li>
        </ul>

        <div
            class="digi-products-scroll-handler"
            ref="digi-products-scroll-handler"
            v-scroll="checkScroll"
        >
          <h1 class="digi-category__title" v-if="hasPredictedCategories">
            {{ currentCategory.name }}
          </h1>

          <product-list :term="term"></product-list>

          <pagination v-if="!pagination.isInfinite && pagination.pageSize < data.totalHits"></pagination>
        </div>

        <facets></facets>
      </template>

      <sort></sort>
    </template>

    <template v-else="">
      <!--
        There are two similar overlays with two different click callbacks:
        1. When there are only autocomplete we have to close entire IS
        1. When there are IS itself we have to close only autocomplete
      -->
      <div
          class="digi-overlay"
          @mousedown.self="onClickPopup"
          v-if="!isMobile && (isOpenAutocomplete && showIS)"
      ></div>
      <div
          class="digi-overlay"
          @mousedown.self="closePopup"
          v-if="!isMobile && (isOpenAutocomplete && !showIS)"
      ></div>

      <div class="digi-search digi-search_desktop">
        <div class="digi-wrapper">
          <div class="digi-search-wrapper">
            <form
                class="digi-search__form digi-search-form"
                :class="[{'digi-search-form-active': isOpenAutocomplete}]"
                @submit="digiCustom.handleEnter($event, correction, term, redirect, refinements, pagination.currentPage, productList.lastIds)"
            >
              <div class="digi-search-form__input-block">
                <input
                    type="text"
                    class="digi-search-form__input"
                    data-target="_self"
                    placeholder="Поиск"
                    ref="digi-search-input"
                    :value="term"
                    @focus="handleFocusDigiInput"
                    @click="handleClickDigiInput"
                    @input="handleInput"
                >

                <div class="digi-search-form__actions">
                  <button
                      type="button"
                      class="digi-search-form__clear"
                      @click.stop="clearInput"
                      v-if="term"
                  >
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        class="search-field__clear-icon"
                        fill="#757575"
                    >
                      <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm4.95-6.464a1 1 0 11-1.414 1.414L12 13.414 8.464 16.95a1 1 0 11-1.414-1.414L10.586 12 7.05 8.464A1 1 0 018.464 7.05L12 10.586l3.536-3.536a1 1 0 111.414 1.414L13.414 12l3.536 3.536z"
                      ></path>
                    </svg>
                  </button>

                  <button
                      type="button"
                      class="digi-search-form__submit"
                      @click="digiCustom.handleSubmitButton(term, correction, redirect, 'searchButton', pagination.currentPage, null, refinements, productList.lastIds)"
                  >
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        fill="#9e9e9e"
                    >
                      <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M10.5 18a7.5 7.5 0 115.963-2.95l4.244 4.243a1 1 0 01-1.414 1.414l-4.244-4.244A7.467 7.467 0 0110.5 18zm0-2a5.5 5.5 0 100-11 5.5 5.5 0 000 11z"
                      ></path>
                    </svg>
                  </button>
                  <button
                      type="button"
                      class="digi-init-search"
                      @click="handleEnter($event, 'searchButton')"
                  ></button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

      <autocomplete
          @render-autocomplete="renderAC"
          @show-results="handleEnter($event, 'showAllAQ')"
      ></autocomplete>

      <div
          class="digi-main-scroll-wrapper"
          :class="{ 'digi-background-white': showIS }"
          v-scroll="checkScroll"
          ref="digi-main-scroll-wrapper"
      >
        <div class="digi-wrapper">
          <h1 v-if="!hasPredictedCategories && showIS" class="digi-category__title_slim">
            Результаты поиска по запросу <span>"{{ term }}"</span>
          </h1>
        </div>
        <div
            class="digi-category-found"
            v-if="showIS && (hasPredictedCategories || allCategories.length)"
        >
          <div class="digi-wrapper">
            <h1
                v-if="hasPredictedCategories"
                class="digi-category__title"
            >
              {{ currentCategory.name }}
            </h1>

            <ul class="digi-category-found-list" v-if="!hasPredictedCategories">
              <li
                  v-for="category in allCategories"
                  :key="category.id"
                  class="digi-category-found-item"
              >
                <button
                    class="digi-category-found-item__button"
                    @click="handleSelectCategory({ category, list: allCategories })"
                >
                  <img
                      :src="category.pictureUrl"
                      class="digi-category-found-item__image"
                      v-if="category.pictureUrl"
                  >

                  <div class="digi-category-found-item__meta">
                    <span class="digi-category-found-item__name">{{ category.name }}</span>
                    <span class="digi-category-found-item__value">{{
                        category.value
                      }} {{ 'товар' | getCorrectPlural(category.value) }}</span>
                  </div>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="digi-main">
          <div class="digi-wrapper">
            <div class="digi-main-wrapper">
              <div
                  class="digi-main__facets"
                  v-show="data.products.length > 1 || Object.entries(filters).length || (!pagination.isInfinite && pagination.currentPage === pagination.lastPage)"
              >
                <facets></facets>
              </div>
              <div class="digi-main__results" v-show="showIS">
                <div
                    class="digi-main-results-actions"
                    v-if="refinements.length || data.totalHits > 1"
                >
                  <ul class="digi-tips digi-tips_scrollable digi-tips_refs">
                    <li v-for="(refinement, index) in refinements" :key="index" class="digi-tip">
                      <button
                          type="button"
                          class="digi-tip__cloud"
                          @click="onClickRefinement(refinement)"
                      >
                        {{ refinement.tap }}
                      </button>
                    </li>
                  </ul>

                  <sort v-if="data.totalHits > 1"></sort>
                </div>

                <product-list :term="term"></product-list>

                <pagination v-if="!pagination.isInfinite && pagination.pageSize < data.totalHits"></pagination>

                <!-- Scroll up button. Showing via checkScroll() method -->
                <transition
                    name="custom-classes-transition"
                    enter-active-class="animated faster fadeIn"
                    leave-active-class="animated faster fadeOut"
                >
                  <button class="digi-scroll-up" @click="backToTop" v-if="isButtonUpVisible">
                    Наверх
                    <svg
                        width="10"
                        height="12"
                        viewBox="0 0 10 12"
                        fill="#A9A9A9"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M9.09138 3.91431C9.26056 4.08349 9.26056 4.34982 9.09138 4.519C8.92792 4.68246 8.65587 4.68246 8.49279 4.519L5.42668 1.45289L5.42668 11.5706C5.42668 11.8065 5.23922 12 5.00336 12C4.76751 12 4.57395 11.8065 4.57395 11.5706L4.57395 1.45289L1.51356 4.519C1.34438 4.68246 1.07195 4.68246 0.90887 4.519C0.739694 4.34982 0.739694 4.08349 0.90887 3.91431L4.70083 0.12235C4.86429 -0.0411093 5.13634 -0.0411092 5.29942 0.12235L9.09138 3.91431Z"></path>
                    </svg>
                  </button>
                </transition>
              </div>
            </div>
          </div>
        </div>
      </div>

    </template>

    <!-- SVG -->
    <div class="digi_hidden">
      <svg>

        <symbol id="magnifier">
          <path d="M7.8918 14.7836C11.698 14.7836 14.7836 11.698 14.7836 7.8918C14.7836 4.08556 11.698 1 7.8918 1C4.08556 1 1 4.08556 1 7.8918C1 11.698 4.08556 14.7836 7.8918 14.7836Z"></path>
          <path d="M16.0002 16.1705L12.3711 12.5407"></path>
        </symbol>

        <symbol id="chevron-right">
          <path
              d="M1 0.99997L7 7.64037L1 14.2808"
              stroke="#333333"
              stroke-width="1.5"
              stroke-linecap="round"
          ></path>
        </symbol>

        <symbol id="sort">
          <path
              d="M3.82679 0.3C3.90377 0.166667 4.09623 0.166667 4.1732 0.3L7.2909 5.7C7.36788 5.83333 7.27165 6 7.11769 6H0.882309C0.728349 6 0.632123 5.83333 0.709104 5.7L3.82679 0.3Z"
              fill="inherit"
              stroke="none"
          ></path>
          <path
              d="M4.17321 15.7C4.09623 15.8333 3.90377 15.8333 3.8268 15.7L0.709103 10.3C0.632123 10.1667 0.728348 10 0.882308 10H7.11769C7.27165 10 7.36788 10.1667 7.2909 10.3L4.17321 15.7Z"
              fill="inherit"
              stroke="none"
          ></path>
        </symbol>

        <symbol id="filters">
          <line y1="2.5" x2="16" y2="2.5" stroke="inherit"></line>
          <line y1="10.5" x2="16" y2="10.5" stroke="inherit"></line>
          <rect x="3" y="8" width="3" height="5" rx="0.2" fill="inherit" stroke="none"></rect>
          <rect x="10" width="3" height="5" rx="0.2" fill="inherit" stroke="none"></rect>
        </symbol>

        <symbol id="pagination-next">
          <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.34149 12.7526C5.92586 12.3889 5.88374 11.7571 6.24742 11.3415L9.17123 7.99999L6.24742 4.65849C5.88374 4.24285 5.92586 3.61109 6.3415 3.24741C6.75713 2.88373 7.38889 2.92584 7.75258 3.34148L11.2526 7.34148C11.5825 7.71851 11.5825 8.28147 11.2526 8.65849L7.75258 12.6585C7.38889 13.0741 6.75713 13.1162 6.34149 12.7526Z"
              fill="#212121"
          ></path>
        </symbol>

        <symbol id="pagination-prev">
          <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.65851 3.24744C10.0741 3.61112 10.1163 4.24288 9.75258 4.65852L6.82877 8.00001L9.75258 11.3415C10.1163 11.7571 10.0741 12.3889 9.65851 12.7526C9.24287 13.1163 8.61111 13.0742 8.24742 12.6585L4.74742 8.65852C4.41753 8.28149 4.41753 7.71853 4.74742 7.34151L8.24742 3.34151C8.61111 2.92587 9.24287 2.88375 9.65851 3.24744Z"
              fill="#212121"
          ></path>

        </symbol>

        <symbol id="scroll-up">
          <path
              d="M9.09138 3.91431C9.26056 4.08349 9.26056 4.34982 9.09138 4.519C8.92792 4.68246 8.65587 4.68246 8.49279 4.519L5.42668 1.45289L5.42668 11.5706C5.42668 11.8065 5.23922 12 5.00336 12C4.76751 12 4.57395 11.8065 4.57395 11.5706L4.57395 1.45289L1.51356 4.519C1.34438 4.68246 1.07195 4.68246 0.90887 4.519C0.739694 4.34982 0.739694 4.08349 0.90887 3.91431L4.70083 0.12235C4.86429 -0.0411093 5.13634 -0.0411092 5.29942 0.12235L9.09138 3.91431Z"
              fill="inherit"
              stroke="none"
          ></path>
        </symbol>
      </svg>
    </div>
  </div>
</template>