<template id="facets">
  <div class="digi-facets" v-if="showIS">
    <template v-if="isMobile">
      <transition name="custom-classes-transition" enter-active-class="animated faster slideInUp" leave-active-class="animated faster slideOutDown">
        <div class="digi-screen" v-if="isOpenFacets">
          <div class="digi-screen__actions digi-screen__actions_top" v-touch:swipe.bottom="closeAllFacets">
            <div class="digi-screen__slot digi-screen__slot_l">
              <button class="digi-screen__button digi-screen__button_f-small" @click="clearAllFacets" :disabled="!hasFilters">
                Очистить все
              </button>
            </div>

            <div class="digi-screen__slot">
              <span class="digi-screen__title">Фильтры</span>
            </div>
            <div class="digi-screen__slot digi-screen__slot_r">
              <button class="digi-screen__button digi-screen__button_f-small" @click="toggleOpenFacets">
                Закрыть
              </button>
            </div>
          </div>

          <!--
            Here we print all facets starting with price and categories
            We also have two types of facet views: tile and list
            Tile is used when there are 7 or more values in this facet. All options can be found in .digi-facet-detail. Clickable
            List is used ehen there are 6 or less values in this facet. All options are listed via appropriate component. Non-clickable
          -->
          <div class="digi-screen__content digi-screen__content_indented">
            <facet-slider :facet="facetListCast.find(it => it.name === 'price')" :selected-facets="selectedFacets" @clear="clearFacet">
            </facet-slider>

            <div class="digi-facet_tile" @click="openFacet('categories')" v-if="facetCategories.length">
              <div class="digi-facet__title">Категории</div>

              <div class="digi-facet__chosen" v-if="filters.categories">
                {{
                  filters.categories.values.length === 1 ? filters.categories.values[0].name :
                      `${filters.categories.values.length} выбрано`
                }}
              </div>

              <div class="digi-facet_tile__icon">
                <svg width="9" height="16" viewBox="0 0 9 16" xmlns="http://www.w3.org/2000/svg" fill="none">
                  <use xlink:href="#chevron-right"></use>
                </svg>
              </div>
            </div>

            <template v-for="(facet, index) in facetListCast">
              <template v-if="facet.name !== 'price'">
                <div class="digi-facet_tile" @click="openFacet(facet.name)" v-if="facet.values.length > 7">
                  <div class="digi-facet__title">
                    <span class="digi-facet__title__name" v-if="(facet.name === 'brands')">Бренды</span>
                    <span class="digi-facet__title__name" v-else="">{{ facet.name }}</span>
                  </div>

                  <div class="digi-facet__chosen" v-if="filters[facet.name]">
                    {{
                      filters[facet.name].values.length === 1 ? filters[facet.name].values[0].name
                          : `${filters[facet.name].values.length} выбрано`
                    }}
                  </div>

                  <div class="digi-facet_tile__icon">
                    <svg width="9" height="16" viewBox="0 0 9 16" xmlns="http://www.w3.org/2000/svg" fill="none">
                      <use xlink:href="#chevron-right"></use>
                    </svg>
                  </div>
                </div>

                <template v-else="">
                  <facet-common :facet="facet" @clear="clearFacet" v-if="facet.dataType !== 'SLIDER' && facet.values.length">
                  </facet-common>

                  <facet-slider :facet="facet" :selected-facets="selectedFacets" @clear="clearFacet" v-if="facet.dataType === 'SLIDER'"></facet-slider>
                </template>
              </template>
            </template>
          </div>

          <transition name="custom-classes-transition" enter-active-class="animated faster slideInRight" leave-active-class="animated faster slideOutRight">
            <div class="digi-screen" v-touch:swipe.right="closeFacet" v-if="currentOpenFacet">
              <div class="digi-screen__actions digi-screen__actions_top">
                <div class="digi-screen__slot digi-screen__slot_l">
                  <button class="digi-screen__button digi-screen__button_c-black digi-screen__button_f-small" @click="closeFacet">
                    <div class="digi-screen__icon digi-screen__icon__arrow-left"></div>
                    Назад
                  </button>
                </div>

                <div class="digi-screen__slot">
                  <span class="digi-screen__title">{{
                      (currentOpenFacet === 'brands') ? 'Бренды' : (currentOpenFacet === 'categories') ? 'Категории' : currentOpenFacet
                    }}</span>
                </div>

                <div class="digi-screen__slot digi-screen__slot_r">
                  <button class="digi-screen__button digi-screen__button_f-small" @click="toggleOpenFacets">
                    Закрыть
                  </button>
                </div>
              </div>

              <div class="digi-screen__content" :class="{ 'digi-screen__content_indented': currentOpenFacet !== 'categories' }">
                <template v-if="currentOpenFacet === 'categories'">
                  <facet-category :all-categories="facetCategories" :custom-settings="customSettings" :predicted-category="predictedCategory" :related-categories="relatedCategories">
                  </facet-category>
                </template>

                <template v-else="">
                  <facet-common :facet="facetListCast.find(facet => facet.name === currentOpenFacet)" :filter="openFacetFilter" @clear="clearFacet">
                  </facet-common>
                </template>
              </div>

              <div class="digi-screen__actions digi-screen__actions_bottom">
                <button class="digi-screen__button digi-screen__button_stretch digi-screen__button-colored" @click="closeFacet">
                  {{
                    currentOpenFacet === 'categories' && filters['categories'] ? `Выбрать
                  «${filters['categories'].values[0].name}»` : 'Выбрать'
                  }}
                </button>
              </div>
            </div>
          </transition>

          <div class="digi-screen__actions digi-screen__actions_bottom">
            <button class="digi-screen__button digi-screen__button_stretch digi-screen__button-colored" @click="toggleOpenFacets">
              Показать {{ totalHits | thousandSeparator }} {{
                'товар' | getCorrectPlural(totalHits)
              }}
            </button>
          </div>
        </div>
      </transition>

      <div class="digi-screen__actions digi-screen__actions_fixed digi-screen__actions_bottom" v-show="data.products.length > 1 || Object.entries(filters).length">
        <button class="digi-screen__button digi-screen__button_stretch" @click="$store.commit('setShowSortMobile', true); $store.dispatch('sendSortOpenEvent');">
          <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg" class="digi-screen__icon digi-search-form__icon_specific">
            <use xlink:href="#sort"></use>
          </svg>
          Сортировка
        </button>

        <button class="digi-screen__button digi-screen__button_stretch" @click="toggleOpenFacets">
          <svg width="16" height="13" viewBox="0 0 16 13" xmlns="http://www.w3.org/2000/svg" class="digi-screen__icon digi-search-form__icon_specific" v-if="!hasFilters">
            <use xlink:href="#filters"></use>
          </svg>

          <span class="digi-screen__count" v-else="">{{ filtersCount }}</span>
          Фильтры
        </button>
      </div>
    </template>

    <template v-else="">
      <div class="digi-facets-container">
        <facet-category :all-categories="facetCategories" :custom-settings="customSettings" :predicted-category="predictedCategory" :related-categories="relatedCategories">
        </facet-category>

        <template v-for="facet in facetListCast">
          <facet-common :facet="facet" @clear="clearFacet" v-if="facet.dataType !== 'SLIDER' && facet.values.length">
          </facet-common>

          <facet-slider :facet="facet" :selected-facets="selectedFacets" @clear="clearFacet" v-if="facet.dataType === 'SLIDER'">
          </facet-slider>
        </template>
      </div>
    </template>
  </div>
</template>