<template id="pagination">
  <nav class="digi-pagination">
    <button class="digi-pagination__button" @click.prevent="goPrev" v-show="!disabledPrev">
      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#pagination-prev"></use>
      </svg>
    </button>

    <button
        v-for="(pageNum, key) in range"
        :key="key"
        class="digi-pagination__button"
        :class="[{ 'digi-pagination__button_active': isActive(pageNum)}, {'digi-pagination__button_dots': pageNum === '...'}]"
        @click.prevent="goToPage(pageNum)"
    >
      {{ pageNum }}
    </button>

    <button class="digi-pagination__button" @click.prevent="goNext" v-show="!disabledNext">
      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#pagination-next"></use>
      </svg>
    </button>
  </nav>
</template>