<template id="productList">
  <div class="digi-products">
    <div class="digi-products-grid digi-products-grid_horde">
      <div
          v-for="(product, key) in products"
          :key="key"
          class="digi-product"
          @click="handleClick(product.id); digiCustom.pushZeroResultsClickEvent(term, product, key);"
      >
        <a :href="product.link_url" class="digi-product__image-wrapper" target="_blank">
          <img
              :src="product.image_url || `//cdn.diginetica.net/images/noimage.png`"
              alt=""
              class="digi-product__image"
              onerror="this.src='//cdn.diginetica.net/images/noimage.png';"
          >
        </a>

        <div class="digi-product__main" :class="{ 'digi-product__main_thin': isMobile }">
          <div class="digi-product__price" v-if="+product.price">
            <span class="digi-product-price-variant digi-product-price-variant_actual">
              {{ product.price | thousandSeparator }}
              <svg
                  width="12"
                  height="15"
                  viewBox="0 0 12 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="digi-product-price-variant__currency"
              >>
              <path
                  d="M1.8 15V12.86H0.2V10.92H1.8V9.36H0.2V6.88H1.8V0.719999H6.36C8.2 0.719999 9.54 1.09333 10.38 1.84C11.2333 2.58667 11.66 3.61333 11.66 4.92C11.66 5.69333 11.4867 6.42 11.14 7.1C10.7933 7.78 10.2133 8.32667 9.4 8.74C8.6 9.15333 7.50667 9.36 6.12 9.36H4.82V10.92H7.9V12.86H4.82V15H1.8ZM5.82 6.88C6.67333 6.88 7.34667 6.73333 7.84 6.44C8.34667 6.14667 8.6 5.67333 8.6 5.02C8.6 3.80667 7.8 3.2 6.2 3.2H4.82V6.88H5.82Z"
                  fill="#212121"
              />
              </svg>
            </span>
            <span
                class="digi-product-price-variant digi-product-price-variant_old"
                v-if="product.oldPrice"
            >
              <s>
                {{ product.oldPrice | thousandSeparator }}
                <svg
                    width="7"
                    height="9"
                    viewBox="0 0 7 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="digi-product-price-variant__currency"
                >
                <path
                    d="M1.164 9V7.368H0.12V6.588H1.164V5.52H0.12V4.608H1.164V0.431999H3.42C4.468 0.431999 5.244 0.644 5.748 1.068C6.26 1.492 6.516 2.108 6.516 2.916C6.516 3.732 6.24 4.372 5.688 4.836C5.136 5.292 4.324 5.52 3.252 5.52H2.244V6.588H4.224V7.368H2.244V9H1.164ZM3.096 4.608C3.824 4.608 4.388 4.488 4.788 4.248C5.196 4.008 5.4 3.576 5.4 2.952C5.4 2.408 5.232 2.004 4.896 1.74C4.56 1.476 4.036 1.344 3.324 1.344H2.244V4.608H3.096Z"
                    fill="#9E9E9E"
                />
                </svg>
              </s>
            </span>
          </div>
          <div class="digi-product__meta">
            <div class="digi-product__brand" v-if="product.brand">
              <a :href="product.link_url" target="_blank">{{ product.brand }}</a>
            </div>

            <div class="digi-product__label">
              <a :href="product.link_url" target="_blank">{{ product.name }}</a>
            </div>
          </div>

          <div class="digi-product__actions" v-if="!isMobile">
            <a :href="product.link_url" target="_blank" class="digi-product__button">Посмотреть</a>
          </div>
        </div>
      </div>
    </div>

    <div v-if="!hasProducts && !isLoading && term" class="digi-empty">
      <p>По этому запросу ничего не находится.</p>
      <p>Попробуйте сократить запрос или сформулировать его по-другому.</p>
    </div>
  </div>
</template>