<template id="facetSlider">
  <div class="digi-facet_slider">
    <div class="digi-facet__header">
      <!-- There could be conditional logic for appropriate names for some facets -->
      <div class="digi-facet__title">
        <span class="digi-facet__title__name" v-if="(facet.name === 'price')">
          Цена,
          <svg
              v-if="isMobile"
              width="10"
              height="12"
              viewBox="0 0 10 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
          >
              <path
                  d="M1.44 12V10.288H0.16V8.736H1.44V7.488H0.16V5.504H1.44V0.575999H5.088C6.56 0.575999 7.632 0.874666 8.304 1.472C8.98667 2.06933 9.328 2.89067 9.328 3.936C9.328 4.55467 9.18933 5.136 8.912 5.68C8.63467 6.224 8.17067 6.66133 7.52 6.992C6.88 7.32267 6.00533 7.488 4.896 7.488H3.856V8.736H6.32V10.288H3.856V12H1.44ZM4.656 5.504C5.33867 5.504 5.87733 5.38667 6.272 5.152C6.67733 4.91733 6.88 4.53867 6.88 4.016C6.88 3.04533 6.24 2.56 4.96 2.56H3.856V5.504H4.656Z"
                  fill="#212121"
              />
            </svg>

          <svg
              v-else
              class="digi-facet__title__currency"
              width="9"
              height="10"
              viewBox="0 0 9 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
          >
            <path
                d="M1.26 10V8.502H0.14V7.144H1.26V6.052H0.14V4.316H1.26V0.00399935H4.452C5.74 0.00399935 6.678 0.265333 7.266 0.787999C7.86333 1.31067 8.162 2.02933 8.162 2.944C8.162 3.48533 8.04067 3.994 7.798 4.47C7.55533 4.946 7.14933 5.32867 6.58 5.618C6.02 5.90733 5.25467 6.052 4.284 6.052H3.374V7.144H5.53V8.502H3.374V10H1.26ZM4.074 4.316C4.67133 4.316 5.14267 4.21333 5.488 4.008C5.84267 3.80267 6.02 3.47133 6.02 3.014C6.02 2.16467 5.46 1.74 4.34 1.74H3.374V4.316H4.074Z"
                fill="#212121"
            ></path>
          </svg>
        </span>
        <span class="digi-facet__title__name" v-else="">{{ facet.name }}</span>
      </div>

      <button type="button" class="digi-facet__clear" @click="clear" v-if="hasFilter">
        Очистить
      </button>
    </div>

    <div class="digi-facet-slider">
      <div class="digi-facet-slider__slot">
        <span class="digi-facet-slider__label">от</span>
        <currency-input
            type="tel"
            autocomplete="off"
            class="digi-facet-slider__input"
            :disabled="isDisabled"
            :name="facet.values[1].id"
            :placeholder="facet.values[1].value | thousandSeparator"
            :precision="0"
            :allow-negative="false"
            :currency="null"
            v-model="sliderInput.min"
            @focus="handleFocus"
            @input="handleInput"
            @blur="handleBlur"
        >
        </currency-input>
      </div>

      <div class="digi-facet-slider__divider"></div>

      <div class="digi-facet-slider__slot">
        <span class="digi-facet-slider__label">до</span>
        <currency-input
            type="tel"
            autocomplete="off"
            class="digi-facet-slider__input"
            :disabled="isDisabled"
            :name="facet.values[0].id"
            :placeholder="facet.values[0].value | thousandSeparator"
            :precision="0"
            :allow-negative="false"
            :currency="null"
            v-model="sliderInput.max"
            @focus="handleFocus"
            @input="handleInput"
            @blur="handleBlur"
        >
        </currency-input>
      </div>
    </div>

    <base-slider
        style="max-width: 90%"
        :input-min="range.min"
        :input-max="range.max"
        :range="sliderRange"
        :disabled="isDisabled"
        @slider-change="handleSliderChange"
        v-if="facet.values.length"
    >
    </base-slider>
  </div>
</template>